In [3]:

class peace():
    """
    This is a function to pull the most updated peace data modified from https://www.kaggle.com/kretes/gpi2008-2016
    
    Global Peace Index (GPI) measures the relative position of nations' and regions' peacefulness.
    The GPI ranks 163 independent states and territories (99.7 per cent of the world’s population)
    according to their levels of peacefulness. In the past decade, the GPI has presented trends of 
    increased global violence and less peacefulness.
    
    The lower the number indicates more peace in the region.
    """
    def __init__(self):
        import requests
        import re
        from bs4 import BeautifulSoup
        response = requests.get(url='https://en.wikipedia.org/wiki/Global_Peace_Index')
        soup = BeautifulSoup(response.text, 'html.parser')
        base_year = 2018        #latest year
        years = 9               #number of years to get data



        def get_countries_by_gpi():
            i = 1
            for table in soup.find_all('table', re.compile('wikitable sortable')):
                if table.find_all('th')[0].get_text() == 'Country\n':
                    for tr in table.find_all('tr'):
                        country_name = tr.find_all('a')[0].get_text()
                        if not country_name.startswith('['):
                            row = {'country': country_name}
                            for year, index in zip(range(base_year-years+1,base_year+1),range(2*(years),0,-2)):
                                score = tr.find_all('td')[index].get_text()
                                if score != '' and score != '\n':
                                    row['score_%s' % year] = float(score)
                            yield row

        import pandas as pd
        gpi = pd.DataFrame.from_dict(list(get_countries_by_gpi()))
        # print(gpi)
        # gpi.to_csv('gpi_%s-%s.csv' % (base_year-years+1,base_year),index=False)
        display(gpi)

In [4]:
peace()

,country,score_2010,score_2011,score_2012,score_2013,score_2014,score_2015,score_2016,score_2017,score_2018
0,Iceland,1.212,1.148,1.113,1.162,1.189,1.148,1.192,1.137,1.096
1,New Zealand,1.188,1.279,1.239,1.237,1.236,1.221,1.287,1.241,1.192
2,Austria,1.290,1.337,1.328,1.250,1.200,1.198,1.278,1.265,1.274
3,Portugal,1.366,1.453,1.470,1.467,1.425,1.344,1.356,1.258,1.318
4,Denmark,1.341,1.289,1.239,1.207,1.193,1.150,1.246,1.337,1.353
5,Canada,1.392,1.355,1.317,1.306,1.306,1.287,1.388,1.371,1.372
6,Czech Republic,1.360,1.320,1.396,1.404,1.381,1.341,1.360,1.360,1.381
7,Singapore,1.624,1.585,1.521,1.438,1.545,1.490,1.535,1.534,1.382
8,Japan,1.247,1.287,1.326,1.293,1.316,1.323,1.395,1.408,1.391
9,Ireland,1.337,1.370,1.328,1.370,1.384,1.354,1.433,1.408,1.393
10,Slovenia,1.358,1.358,1.330,1.374,1.398,1.378,1.408,1.364,1.396
11,Switzerland,1.424,1.421,1.349,1.272,1.258,1.275,1.370,1.373,1.407
12,Australia,1.467,1.455,1.494,1.438,1.414,1.329,1.465,1.425,1.435
13,Sweden,1.354,1.401,1.419,1.319,1.381,1.360,1.461,1.516,1.502
14,Finland,1.352,1.352,1.348,1.297,1.297,1.277,1.429,1.515,1.506
15,Norway,1.322,1.356,1.480,1.359,1.371,1.393,1.500,1.486,1.519
16,Germany,1.398,1.416,1.424,1.431,1.423,1.379,1.486,1.500,1.531
17,Hungary,1.495,1.495,1.476,1.520,1.482,1.463,1.534,1.494,1.531
18,Bhutan,1.665,1.693,1.481,1.487,1.422,1.416,1.445,1.474,1.545
19,Mauritius,NaN,NaN,1.487,1.497,1.544,1.503,1.559,1.547,1.548
20,Belgium,1.400,1.413,1.376,1.339,1.354,1.365,1.528,1.525,1.560
21,Slovakia,1.536,1.576,1.590,1.622,1.467,1.478,1.603,1.611,1.568
22,Netherlands,1.610,1.628,1.606,1.508,1.475,1.432,1.541,1.525,1.574
23,Romania,1.749,1.742,1.627,1.584,1.677,1.542,1.649,1.600,1.596
24,Malaysia,1.539,1.485,1.590,1.574,1.659,1.561,1.648,1.637,1.619
25,Bulgaria,1.785,1.845,1.699,1.663,1.637,1.607,1.646,1.631,1.635
26,Croatia,1.707,1.699,1.648,1.571,1.548,1.550,1.633,1.665,1.639
27,Chile,1.616,1.710,1.616,1.589,1.591,1.563,1.635,1.595,1.649
28,Botswana,1.641,1.695,1.621,1.598,1.678,1.597,1.639,1.622,1.659
29,Spain,1.588,1.641,1.548,1.563,1.548,1.451,1.604,1.568,1.678
...,...,...,...,...,...,...,...,...,...,...
133,Burundi,2.577,2.532,2.524,2.593,2.418,2.323,2.500,2.641,2.488
134,Chad,2.964,2.740,2.671,2.493,2.558,2.429,2.464,2.495,2.498
135,India,2.516,2.570,2.549,2.570,2.571,2.504,2.566,2.541,2.504
136,Philippines,2.574,2.574,2.415,2.374,2.456,2.462,2.511,2.555,2.512
137,Eritrea,NaN,2.227,2.264,2.288,2.377,2.309,2.460,2.505,2.522
138,Ethiopia,2.444,2.468,2.504,2.630,2.502,2.234,2.284,2.477,2.524
139,Mexico,2.216,2.362,2.445,2.434,2.500,2.530,2.557,2.646,2.583
140,Palestine,NaN,NaN,NaN,NaN,NaN,NaN,2.832,2.774,2.621
141,Egypt,1.784,2.023,2.220,2.258,2.571,2.382,2.574,2.583,2.632
142,Venezuela,2.387,2.403,2.278,2.370,2.410,2.493,2.651,2.652,2.642
143,Mali,2.240,2.188,2.132,2.346,2.465,2.310,2.489,2.596,2.686
144,Colombia,2.787,2.700,2.625,2.634,2.701,2.720,2.764,2.777,2.729
145,Israel,3.019,2.901,2.842,2.730,2.689,2.781,2.656,2.707,2.764
146,Lebanon,2.639,2.597,2.459,2.575,2.620,2.623,2.752,2.782,2.778
147,Nigeria,2.756,2.743,2.801,2.693,2.710,2.910,2.877,2.849,2.873
148,Turkey,2.420,2.411,2.344,2.437,2.402,2.363,2.710,2.777,2.898
149,North Korea,2.855,3.092,2.932,3.044,3.071,2.977,2.944,2.967,2.950
150,Pakistan,3.050,2.905,2.833,3.106,3.107,3.049,3.145,3.058,3.079
151,Ukraine,2.115,1.995,1.953,2.238,2.546,2.845,3.287,3.184,3.113
152,Sudan,3.125,3.223,3.193,3.242,3.362,3.295,3.269,3.213,3.155
153,Russia,3.013,2.966,2.938,3.060,3.039,2.954,3.079,3.047,3.160
154,Central African Republic,2.753,2.869,2.872,3.031,3.331,3.332,3.354,3.213,3.236
155,Democratic Republic of the Congo,2.925,3.016,3.073,3.085,3.213,3.085,3.112,3.061,3.251
156,Libya,1.839,2.816,2.830,2.604,2.453,2.819,3.200,3.328,3.262
157,Yemen,2.573,2.670,2.601,2.747,2.629,2.751,3.399,3.412,3.305
158,Somalia,3.390,3.379,3.392,3.394,3.368,3.307,3.414,3.387,3.367
159,Iraq,3.406,3.296,3.192,3.245,3.377,3.444,3.570,3.556,3.425
160,South Sudan,NaN,NaN,NaN,2.576,3.397,3.383,3.593,3.524,3.508
161,Afghanistan,3.252,3.212,3.252,3.440,3.416,3.427,3.538,3.567,3.585
162,Syria,2.274,2.322,2.830,3.393,3.650,3.645,3.806,3.814,3.600

In [5]:
class UNODC_crime(object):
    def __init__(self, sheet):
        """
        Crime data from UNODC including 
        'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft',
        'Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'
        or type 'ALL' to get all data.
        
        """

        import pandas as pd
        from pandas import read_excel

#         sheet = input("Please choose crime report from the following categories\n'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft','Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'") 

        if sheet == "ALL":
            sheet = None
        file_path = "590PR_final_datasets"
        file_name = "data-and-metadata-from-crime-victimisation-surveys-2004-2014-xlsx-1.xlsx"

        dfs = pd.read_excel(file_path + "/" + file_name, sheetname = sheet, header = 12)

        display(dfs)
#         display(dfs.keys())

#         display(dfs['Burglary'])

In [6]:
UNODC_crime('Burglary')

C:\Users\worawich-win\Anaconda3\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

,region_name,sub_region_name,country_name,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,Do data comply with this definition?,"If NO, please provide details"
0,Africa,Southern Africa,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,4.50,5.40,NaN,4.70,NaN,NO,Definition does not explicity exclude theft fr...
1,Americas,Caribbean,Barbados,NaN,NaN,NaN,NaN,NaN,5.00,NaN,NaN,NaN,NaN,NaN,YES,(blank)
2,Americas,Caribbean,Jamaica,NaN,NaN,3.50,NaN,NaN,4.50,NaN,NaN,1.70,NaN,NaN,NaN,NaN
3,Americas,Caribbean,Trinidad and Tobago,NaN,NaN,NaN,8.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Americas,Central America,Costa Rica,NaN,NaN,NaN,NaN,10.56,NaN,9.05,NaN,NaN,NaN,6.72000,NaN,NaN
5,Americas,Central America,Mexico,NaN,NaN,NaN,NaN,NaN,1.75,1.80,4.50,4.70,5.54,NaN,SÍ,(blank)
6,Americas,Northern America,Canada,8.8,NaN,NaN,NaN,NaN,8.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Americas,Northern America,United States of America,NaN,NaN,NaN,NaN,1.93,2.00,1.94,1.90,2.10,1.93,1.67000,NaN,In last 6 months over successive interviews du...
8,Americas,South America,Bolivia (Plurinational State of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.30,NaN,5.90,NaN,NO,No se registran los intentos de robo en vivien...
9,Americas,South America,Chile,NaN,NaN,7.80,5.6,5.20,5.30,4.30,5.70,4.40,4.20,3.60000,NO,Para la ENUSC la categoría corresponde a hogar...
10,Americas,South America,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.50,3.10,3.30000,NO,"La ECSC indaga por hurto a residencias, es dec..."
11,Americas,South America,Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,NaN,NaN,NaN,NO,"Se denomina ""Robo a viviendas"""
12,Americas,South America,Paraguay,NaN,NaN,NaN,NaN,2.20,NaN,0.80,NaN,NaN,NaN,NaN,NaN,NaN
13,Americas,South America,Peru,NaN,NaN,NaN,NaN,NaN,NaN,20.50,20.10,17.00,15.90,12.26799,SÍ,La tasa de robo o intento de robo en la vivien...
14,Americas,South America,Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.00,NaN,NaN,NaN,SÍ,(blank)
15,Asia,Eastern Asia,Hong Kong Special Administrative Region of China,NaN,NaN,15.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Asia,South-Eastern Asia,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.34,NaN,NaN,NaN,NaN,NaN
17,Asia,Western Asia,Georgia,NaN,NaN,NaN,NaN,NaN,NaN,0.51,NaN,NaN,NaN,NaN,NaN,NaN
18,Asia,Western Asia,Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.46,NaN,NO,including thefts from garages or sheds or yard...
19,Europe,Eastern Europe,Hungary,NaN,NaN,NaN,NaN,NaN,0.40,0.50,0.50,0.60,0.50,0.70000,NO,We do not know the number of households affect...
20,Europe,Eastern Europe,Poland,NaN,NaN,NaN,4.9,3.70,3.00,NaN,9.00,9.00,8.00,8.00000,NO,"""Five Years Prevalence Rate of Burglary"" perce..."
21,Europe,Northern Europe,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.10,2.80,2.80000,YES,NB smaller sample size (5763) for this question
22,Europe,Northern Europe,Estonia,3.1,NaN,NaN,NaN,NaN,3.00,NaN,NaN,NaN,NaN,NaN,YES,(blank)
23,Europe,Northern Europe,Finland,NaN,0.8,0.50,NaN,NaN,0.50,NaN,NaN,1.60,1.40,1.70000,YES,"Please note: In its current form, the survey d..."
24,Europe,Northern Europe,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.50,NaN,NO,"Includes burglary into cars, sheds and such ki..."
25,Europe,Northern Europe,Ireland,NaN,NaN,3.00,NaN,NaN,NaN,3.00,NaN,NaN,NaN,NaN,NaN,NaN
26,Europe,Northern Europe,Sweden,NaN,NaN,NaN,1.0,0.90,1.00,1.00,1.00,1.10,0.90,1.20000,YES,(blank)
27,Europe,Northern Europe,United Kingdom (England and Wales),NaN,NaN,1.50,1.4,1.54,1.42,1.55,1.49,1.24,1.18,1.10000,YES,"Domestic burglary, in dwelling, with entry (lo..."
28,Europe,Northern Europe,United Kingdom (Northern Ireland),NaN,NaN,1.30,0.9,0.90,1.00,1.60,1.30,0.80,NaN,NaN,YES,(blank)
29,Europe,Northern Europe,United Kingdom (Scotland),NaN,NaN,NaN,NaN,NaN,0.80,0.95,1.08,NaN,1.19,NaN,NO,The 12 months prior to interview. Interviews h...
30,Europe,Southern Europe,Croatia,NaN,NaN,NaN,NaN,2.80,NaN,1.60,NaN,NaN,NaN,NaN,NaN,NaN
31,Europe,Southern Europe,Italy,NaN,NaN,NaN,NaN,1.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Europe,Western Europe,Belgium,NaN,NaN,6.12,NaN,NaN,6.08,NaN,NaN,NaN,NaN,NaN,YES,(blank)
33,Europe,Western Europe,France,NaN,NaN,NaN,2.8,2.77,2.56,2.78,2.76,3.16,3.25,3.11900,NON,Proportion de ménages se déclarant victimes de...
34,Europe,Western Europe,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.40,NaN,NaN,NO,The formulation of the item in the questionair...
35,Europe,Western Europe,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.60,NaN,OUI,(blank)
36,Europe,Western Europe,Netherlands,NaN,NaN,2.80,2.6,2.50,2.70,2.80,3.20,2.90,3.10,2.90000,NO,Rate of individuals is presented here
37,Europe,Western Europe,Switzerland,NaN,NaN,NaN,NaN,NaN,1.90,1.90,0.70,NaN,NaN,NaN,OUI,(blank)
38,Oceania,Australia and New Zealand,Australia,NaN,NaN,NaN,NaN,NaN,3.30,3.00,2.80,2.90,2.70,2.60000,NO,"Data includes break-ins to garages, sheds or a..."
39,Oceania,Australia and New Zealand,New Zealand,NaN,NaN,14.00,NaN,NaN,13.10,NaN,NaN,NaN,NaN,8.00000,NO,No victimization survey undertaken since 2009 ...

In [ ]:
# !pip install gdelt

In [1]:
class GDELT(object):
    def __init__(self, start, end):
        """
        The GDELT Project is the largest, most comprehensive, and highest resolution open database of human society ever created. 
        Just the 2015 data alone records nearly three quarters of a trillion emotional snapshots and more than 1.5 billion location 
        references, while its total archives span more than 215 years, making it one of the largest open-access spatio-temporal 
        datasets in existance and pushing the boundaries of "big data" study of global human society. Its Global Knowledge Graph 
        connects the world's people, organizations, locations, themes, counts, images and emotions into a single holistic network 
        over the entire planet.
        
        This is Gdelt 2.0 (supports from the date after Feb, 2015)
        This function pull the events ids and the country it takes place
        Please input the date in the format of 'yyyy mm dd'.
        
        This function use a package from https://github.com/linwoodc3/gdeltPyR
        
        """
        import gdelt

        gd = gdelt.gdelt(version=2)
        results = gd.Search([start,end],table='events',coverage=True,translation=False)
        display(results[['GLOBALEVENTID','ActionGeo_FullName']])

In [2]:
GDELT("2017 10 15", "2017 10 16")

        GLOBALEVENTID                               ActionGeo_FullName
0           697964576                                              NaN
1           697964577                                    United States
2           697964578                                    United States
3           697964579                                    United States
4           697964580                                    United States
5           697964581                                    United States
6           697964582                       Longding, Guangdong, China
7           697964583                             Tehran, Tehran, Iran
8           697964584                             Tehran, Tehran, Iran
9           697964585           Albuquerque, New Mexico, United States
10          697964586              Glen Ellyn, Illinois, United States
11          697964587                  Atlanta, Georgia, United States
12          697964588                  Atlanta, Georgia, United States
13          697964589                      Salzburg, Salzburg, Austria
14          697964590                                            China
15          697964591                                            China
16          697964592                                            China
17          697964593                                            China
18          697964594                                            China
19          697964595                                           France
20          697964596                    North Carolina, United States
21          697964597                         Juchitan, Oaxaca, Mexico
22          697964598                                      North Korea
23          697964599                          New York, United States
24          697964600               Jonesboro, Arkansas, United States
25          697964601                          Arkansas, United States
26          697964602                              Ohio, United States
27          697964603              Uttar Pradesh, Uttar Pradesh, India
28          697964604                    Bhopal, Madhya Pradesh, India
29          697964605                    Indore, Madhya Pradesh, India
...               ...                                              ...
285738      698414341                     West Virginia, United States
285739      698414342       Jefferson Parish, Louisiana, United States
285740      698414343                           Baghdad, Baghdad, Iraq
285741      698414344                          Bayda, Al Ma?wit, Yemen
285742      698414345  Washington, District of Columbia, United States
285743      698414346                                           Russia
285744      698414347                                           Russia
285745      698414348                           Baghdad, Baghdad, Iraq
285746      698414349       Jefferson Parish, Louisiana, United States
285747      698414350                                   United Kingdom
285748      698414351                         Tennessee, United States
285749      698414352                                        Nicaragua
285750      698414353                                        Nicaragua
285751      698414354                                        Nicaragua
285752      698414355                               Rome, Lazio, Italy
285753      698414356                                        Venezuela
285754      698414357                                        Venezuela
285755      698414358                                            China
285756      698414359                                        Indonesia
285757      698414360               Harare, Mashonaland East, Zimbabwe
285758      698414361                            Madrid, Madrid, Spain
285759      698414362                                           Canada
285760      698414363                          Ottawa, Ontario, Canada
285761      698414364                          Ottawa, Ontario, Canada
285762      698414365                          Ottawa, Ontario, Canada
285763      698414366                          Ottawa, Ontario, Canada
285764      698414367                            Alaska, United States
285765      698414368                                              NaN
285766      698414369  Washington, District of Columbia, United States
285767      698414370        Dong Tam, TuyêQuang, Vietnam, Republic Of

[285768 rows x 2 columns]