In [194]:

class peace():
    """
    This is a function to pull the most updated peace data modified from https://www.kaggle.com/kretes/gpi2008-2016
    
    Global Peace Index (GPI) measures the relative position of nations' and regions' peacefulness.
    The GPI ranks 163 independent states and territories (99.7 per cent of the world’s population)
    according to their levels of peacefulness. In the past decade, the GPI has presented trends of 
    increased global violence and less peacefulness.
    
    The lower the number indicates more peace in the region.
    """
    def __init__(self):
        import requests
        import re
        from bs4 import BeautifulSoup

    def __new__(self):
        import requests
        import re
        from bs4 import BeautifulSoup
        
        response = requests.get(url='https://en.wikipedia.org/wiki/Global_Peace_Index')
        soup = BeautifulSoup(response.text, 'html.parser')
        base_year = 2018        #latest year
        years = 9               #number of years to get data


        def get_countries_by_gpi():
            i = 1
            for table in soup.find_all('table', re.compile('wikitable sortable')):
                if table.find_all('th')[0].get_text() == 'Country\n':
                    for tr in table.find_all('tr'):
                        country_name = tr.find_all('a')[0].get_text()
                        if not country_name.startswith('['):
                            row = {'country': country_name}
                            for year, index in zip(range(base_year-years+1,base_year+1),range(2*(years),0,-2)):
                                score = tr.find_all('td')[index].get_text()
                                if score != '' and score != '\n':
                                    row['score_%s' % year] = float(score)
                            yield row

        import pandas as pd
        gpi = pd.DataFrame.from_dict(list(get_countries_by_gpi()))
        # print(gpi)
        gpi.to_csv('gpi_%s-%s.csv' % (base_year-years+1,base_year),index=False)
        return(gpi)

In [195]:
peace()

,country,score_2010,score_2011,score_2012,score_2013,score_2014,score_2015,score_2016,score_2017,score_2018
0,Iceland,1.212,1.148,1.113,1.162,1.189,1.148,1.192,1.137,1.096
1,New Zealand,1.188,1.279,1.239,1.237,1.236,1.221,1.287,1.241,1.192
2,Austria,1.290,1.337,1.328,1.250,1.200,1.198,1.278,1.265,1.274
3,Portugal,1.366,1.453,1.470,1.467,1.425,1.344,1.356,1.258,1.318
4,Denmark,1.341,1.289,1.239,1.207,1.193,1.150,1.246,1.337,1.353
5,Canada,1.392,1.355,1.317,1.306,1.306,1.287,1.388,1.371,1.372
6,Czech Republic,1.360,1.320,1.396,1.404,1.381,1.341,1.360,1.360,1.381
7,Singapore,1.624,1.585,1.521,1.438,1.545,1.490,1.535,1.534,1.382
8,Japan,1.247,1.287,1.326,1.293,1.316,1.323,1.395,1.408,1.391
9,Ireland,1.337,1.370,1.328,1.370,1.384,1.354,1.433,1.408,1.393
10,Slovenia,1.358,1.358,1.330,1.374,1.398,1.378,1.408,1.364,1.396
11,Switzerland,1.424,1.421,1.349,1.272,1.258,1.275,1.370,1.373,1.407
12,Australia,1.467,1.455,1.494,1.438,1.414,1.329,1.465,1.425,1.435
13,Sweden,1.354,1.401,1.419,1.319,1.381,1.360,1.461,1.516,1.502
14,Finland,1.352,1.352,1.348,1.297,1.297,1.277,1.429,1.515,1.506
15,Norway,1.322,1.356,1.480,1.359,1.371,1.393,1.500,1.486,1.519
16,Germany,1.398,1.416,1.424,1.431,1.423,1.379,1.486,1.500,1.531
17,Hungary,1.495,1.495,1.476,1.520,1.482,1.463,1.534,1.494,1.531
18,Bhutan,1.665,1.693,1.481,1.487,1.422,1.416,1.445,1.474,1.545
19,Mauritius,NaN,NaN,1.487,1.497,1.544,1.503,1.559,1.547,1.548
20,Belgium,1.400,1.413,1.376,1.339,1.354,1.365,1.528,1.525,1.560
21,Slovakia,1.536,1.576,1.590,1.622,1.467,1.478,1.603,1.611,1.568
22,Netherlands,1.610,1.628,1.606,1.508,1.475,1.432,1.541,1.525,1.574
23,Romania,1.749,1.742,1.627,1.584,1.677,1.542,1.649,1.600,1.596
24,Malaysia,1.539,1.485,1.590,1.574,1.659,1.561,1.648,1.637,1.619
25,Bulgaria,1.785,1.845,1.699,1.663,1.637,1.607,1.646,1.631,1.635
26,Croatia,1.707,1.699,1.648,1.571,1.548,1.550,1.633,1.665,1.639
27,Chile,1.616,1.710,1.616,1.589,1.591,1.563,1.635,1.595,1.649
28,Botswana,1.641,1.695,1.621,1.598,1.678,1.597,1.639,1.622,1.659
29,Spain,1.588,1.641,1.548,1.563,1.548,1.451,1.604,1.568,1.678
...,...,...,...,...,...,...,...,...,...,...
133,Burundi,2.577,2.532,2.524,2.593,2.418,2.323,2.500,2.641,2.488
134,Chad,2.964,2.740,2.671,2.493,2.558,2.429,2.464,2.495,2.498
135,India,2.516,2.570,2.549,2.570,2.571,2.504,2.566,2.541,2.504
136,Philippines,2.574,2.574,2.415,2.374,2.456,2.462,2.511,2.555,2.512
137,Eritrea,NaN,2.227,2.264,2.288,2.377,2.309,2.460,2.505,2.522
138,Ethiopia,2.444,2.468,2.504,2.630,2.502,2.234,2.284,2.477,2.524
139,Mexico,2.216,2.362,2.445,2.434,2.500,2.530,2.557,2.646,2.583
140,Palestine,NaN,NaN,NaN,NaN,NaN,NaN,2.832,2.774,2.621
141,Egypt,1.784,2.023,2.220,2.258,2.571,2.382,2.574,2.583,2.632
142,Venezuela,2.387,2.403,2.278,2.370,2.410,2.493,2.651,2.652,2.642
143,Mali,2.240,2.188,2.132,2.346,2.465,2.310,2.489,2.596,2.686
144,Colombia,2.787,2.700,2.625,2.634,2.701,2.720,2.764,2.777,2.729
145,Israel,3.019,2.901,2.842,2.730,2.689,2.781,2.656,2.707,2.764
146,Lebanon,2.639,2.597,2.459,2.575,2.620,2.623,2.752,2.782,2.778
147,Nigeria,2.756,2.743,2.801,2.693,2.710,2.910,2.877,2.849,2.873
148,Turkey,2.420,2.411,2.344,2.437,2.402,2.363,2.710,2.777,2.898
149,North Korea,2.855,3.092,2.932,3.044,3.071,2.977,2.944,2.967,2.950
150,Pakistan,3.050,2.905,2.833,3.106,3.107,3.049,3.145,3.058,3.079
151,Ukraine,2.115,1.995,1.953,2.238,2.546,2.845,3.287,3.184,3.113
152,Sudan,3.125,3.223,3.193,3.242,3.362,3.295,3.269,3.213,3.155
153,Russia,3.013,2.966,2.938,3.060,3.039,2.954,3.079,3.047,3.160
154,Central African Republic,2.753,2.869,2.872,3.031,3.331,3.332,3.354,3.213,3.236
155,Democratic Republic of the Congo,2.925,3.016,3.073,3.085,3.213,3.085,3.112,3.061,3.251
156,Libya,1.839,2.816,2.830,2.604,2.453,2.819,3.200,3.328,3.262
157,Yemen,2.573,2.670,2.601,2.747,2.629,2.751,3.399,3.412,3.305
158,Somalia,3.390,3.379,3.392,3.394,3.368,3.307,3.414,3.387,3.367
159,Iraq,3.406,3.296,3.192,3.245,3.377,3.444,3.570,3.556,3.425
160,South Sudan,NaN,NaN,NaN,2.576,3.397,3.383,3.593,3.524,3.508
161,Afghanistan,3.252,3.212,3.252,3.440,3.416,3.427,3.538,3.567,3.585
162,Syria,2.274,2.322,2.830,3.393,3.650,3.645,3.806,3.814,3.600

In [193]:
class UNODC_crime(object):
    def __init__(self, sheet):
        """
        Crime data from UNODC including 
        'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft',
        'Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'
        or type 'ALL' to get all data.
        
        """

        import pandas as pd
        from pandas import read_excel


    def __new__(self, sheet = None):
        
#         sheet = input("Please choose crime report from the following categories\n'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft','Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'")         
        
        if sheet == "ALL":
            sheet = None
        file_path = "590PR_final_datasets"
        file_name = "data-and-metadata-from-crime-victimisation-surveys-2004-2014-xlsx-1.xlsx"
        self.dfs = pd.read_excel(file_path + "/" + file_name, sheetname = sheet, header = 12)
        
#         display(self.dfs)
#         display(self.dfs.keys())

        return self.dfs

In [181]:
burglary = UNODC_crime('Burglary')
burglary

C:\Users\worawich-win\Anaconda3\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

,region_name,sub_region_name,country_name,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,Do data comply with this definition?,"If NO, please provide details"
0,Africa,Southern Africa,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,4.50,5.40,NaN,4.70,NaN,NO,Definition does not explicity exclude theft fr...
1,Americas,Caribbean,Barbados,NaN,NaN,NaN,NaN,NaN,5.00,NaN,NaN,NaN,NaN,NaN,YES,(blank)
2,Americas,Caribbean,Jamaica,NaN,NaN,3.50,NaN,NaN,4.50,NaN,NaN,1.70,NaN,NaN,NaN,NaN
3,Americas,Caribbean,Trinidad and Tobago,NaN,NaN,NaN,8.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Americas,Central America,Costa Rica,NaN,NaN,NaN,NaN,10.56,NaN,9.05,NaN,NaN,NaN,6.72000,NaN,NaN
5,Americas,Central America,Mexico,NaN,NaN,NaN,NaN,NaN,1.75,1.80,4.50,4.70,5.54,NaN,SÍ,(blank)
6,Americas,Northern America,Canada,8.8,NaN,NaN,NaN,NaN,8.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Americas,Northern America,United States of America,NaN,NaN,NaN,NaN,1.93,2.00,1.94,1.90,2.10,1.93,1.67000,NaN,In last 6 months over successive interviews du...
8,Americas,South America,Bolivia (Plurinational State of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.30,NaN,5.90,NaN,NO,No se registran los intentos de robo en vivien...
9,Americas,South America,Chile,NaN,NaN,7.80,5.6,5.20,5.30,4.30,5.70,4.40,4.20,3.60000,NO,Para la ENUSC la categoría corresponde a hogar...
10,Americas,South America,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.50,3.10,3.30000,NO,"La ECSC indaga por hurto a residencias, es dec..."
11,Americas,South America,Ecuador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,NaN,NaN,NaN,NO,"Se denomina ""Robo a viviendas"""
12,Americas,South America,Paraguay,NaN,NaN,NaN,NaN,2.20,NaN,0.80,NaN,NaN,NaN,NaN,NaN,NaN
13,Americas,South America,Peru,NaN,NaN,NaN,NaN,NaN,NaN,20.50,20.10,17.00,15.90,12.26799,SÍ,La tasa de robo o intento de robo en la vivien...
14,Americas,South America,Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.00,NaN,NaN,NaN,SÍ,(blank)
15,Asia,Eastern Asia,Hong Kong Special Administrative Region of China,NaN,NaN,15.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Asia,South-Eastern Asia,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.34,NaN,NaN,NaN,NaN,NaN
17,Asia,Western Asia,Georgia,NaN,NaN,NaN,NaN,NaN,NaN,0.51,NaN,NaN,NaN,NaN,NaN,NaN
18,Asia,Western Asia,Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.46,NaN,NO,including thefts from garages or sheds or yard...
19,Europe,Eastern Europe,Hungary,NaN,NaN,NaN,NaN,NaN,0.40,0.50,0.50,0.60,0.50,0.70000,NO,We do not know the number of households affect...
20,Europe,Eastern Europe,Poland,NaN,NaN,NaN,4.9,3.70,3.00,NaN,9.00,9.00,8.00,8.00000,NO,"""Five Years Prevalence Rate of Burglary"" perce..."
21,Europe,Northern Europe,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.10,2.80,2.80000,YES,NB smaller sample size (5763) for this question
22,Europe,Northern Europe,Estonia,3.1,NaN,NaN,NaN,NaN,3.00,NaN,NaN,NaN,NaN,NaN,YES,(blank)
23,Europe,Northern Europe,Finland,NaN,0.8,0.50,NaN,NaN,0.50,NaN,NaN,1.60,1.40,1.70000,YES,"Please note: In its current form, the survey d..."
24,Europe,Northern Europe,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.50,NaN,NO,"Includes burglary into cars, sheds and such ki..."
25,Europe,Northern Europe,Ireland,NaN,NaN,3.00,NaN,NaN,NaN,3.00,NaN,NaN,NaN,NaN,NaN,NaN
26,Europe,Northern Europe,Sweden,NaN,NaN,NaN,1.0,0.90,1.00,1.00,1.00,1.10,0.90,1.20000,YES,(blank)
27,Europe,Northern Europe,United Kingdom (England and Wales),NaN,NaN,1.50,1.4,1.54,1.42,1.55,1.49,1.24,1.18,1.10000,YES,"Domestic burglary, in dwelling, with entry (lo..."
28,Europe,Northern Europe,United Kingdom (Northern Ireland),NaN,NaN,1.30,0.9,0.90,1.00,1.60,1.30,0.80,NaN,NaN,YES,(blank)
29,Europe,Northern Europe,United Kingdom (Scotland),NaN,NaN,NaN,NaN,NaN,0.80,0.95,1.08,NaN,1.19,NaN,NO,The 12 months prior to interview. Interviews h...
30,Europe,Southern Europe,Croatia,NaN,NaN,NaN,NaN,2.80,NaN,1.60,NaN,NaN,NaN,NaN,NaN,NaN
31,Europe,Southern Europe,Italy,NaN,NaN,NaN,NaN,1.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Europe,Western Europe,Belgium,NaN,NaN,6.12,NaN,NaN,6.08,NaN,NaN,NaN,NaN,NaN,YES,(blank)
33,Europe,Western Europe,France,NaN,NaN,NaN,2.8,2.77,2.56,2.78,2.76,3.16,3.25,3.11900,NON,Proportion de ménages se déclarant victimes de...
34,Europe,Western Europe,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.40,NaN,NaN,NO,The formulation of the item in the questionair...
35,Europe,Western Europe,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.60,NaN,OUI,(blank)
36,Europe,Western Europe,Netherlands,NaN,NaN,2.80,2.6,2.50,2.70,2.80,3.20,2.90,3.10,2.90000,NO,Rate of individuals is presented here
37,Europe,Western Europe,Switzerland,NaN,NaN,NaN,NaN,NaN,1.90,1.90,0.70,NaN,NaN,NaN,OUI,(blank)
38,Oceania,Australia and New Zealand,Australia,NaN,NaN,NaN,NaN,NaN,3.30,3.00,2.80,2.90,2.70,2.60000,NO,"Data includes break-ins to garages, sheds or a..."
39,Oceania,Australia and New Zealand,New Zealand,NaN,NaN,14.00,NaN,NaN,13.10,NaN,NaN,NaN,NaN,8.00000,NO,No victimization survey undertaken since 2009 ...

In [182]:
UNODC_crime()

C:\Users\worawich-win\Anaconda3\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

OrderedDict([('Car theft',    region_name            sub_region_name  \
              0       Africa            Southern Africa
              1     Americas                  Caribbean
              2     Americas                  Caribbean
              3     Americas            Central America
              4     Americas            Central America
              5     Americas           Northern America
              6     Americas           Northern America
              7     Americas              South America
              8     Americas              South America
              9     Americas              South America
              10    Americas              South America
              11    Americas              South America
              12    Americas              South America
              13    Americas              South America
              14        Asia               Eastern Asia
              15        Asia         South-Eastern Asia
              16        Asia               Western Asia
              17      Europe             Eastern Europe
              18      Europe             Eastern Europe
              19      Europe            Northern Europe
              20      Europe            Northern Europe
              21      Europe            Northern Europe
              22      Europe            Northern Europe
              23      Europe            Northern Europe
              24      Europe            Northern Europe
              25      Europe            Northern Europe
              26      Europe            Southern Europe
              27      Europe            Southern Europe
              28      Europe             Western Europe
              29      Europe             Western Europe
              30      Europe             Western Europe
              31      Europe             Western Europe
              32      Europe             Western Europe
              33      Europe             Western Europe
              34     Oceania  Australia and New Zealand
              35     Oceania  Australia and New Zealand

                                                      country_name  2004  2005  2006  2007  \
              0                                       South Africa   NaN   NaN   NaN   NaN
              1                                           Barbados   NaN   NaN   NaN   NaN
              2                                            Jamaica   NaN   NaN  0.60   NaN
              3                                         Costa Rica   NaN   NaN   NaN   NaN
              4                                             Mexico   NaN   NaN   NaN   NaN
              5                                             Canada   4.4   NaN   NaN   NaN
              6                           United States of America   NaN   NaN   NaN   NaN
              7                   Bolivia (Plurinational State of)   NaN   NaN   NaN   NaN
              8                                              Chile   NaN   NaN  2.90   1.8
              9                                           Colombia   NaN   NaN   NaN   NaN
              10                                           Ecuador   NaN   NaN   NaN   NaN
              11                                          Paraguay   NaN   NaN   NaN   NaN
              12                                              Peru   NaN   NaN   NaN   NaN
              13                                           Uruguay   NaN   NaN   NaN   NaN
              14  Hong Kong Special Administrative Region of China   NaN   NaN  0.80   NaN
              15                                         Indonesia   NaN   NaN   NaN   NaN
              16                                            Israel   NaN   NaN   NaN   NaN
              17                                           Hungary   NaN   NaN   NaN   NaN
              18                                            Poland   NaN   NaN   NaN   0.4
              19                                           Estonia   1.1   NaN   NaN   NaN
              20                                           Finland   NaN   0.5  0.40   NaN
              21                                           Ireland   NaN   NaN  1.00   NaN
              22                                            Sweden   NaN   NaN   NaN   0.9
              23                United Kingdom (England and Wales)   NaN   NaN  0.70   0.6
              24                 United Kingdom (Northern Ireland)   NaN   NaN  0.70   0.6
              25                         United Kingdom (Scotland)   NaN   NaN   NaN   NaN
              26                                           Croatia   NaN   NaN   NaN   NaN
              27                                             Italy   NaN   NaN   NaN   NaN
              28                                           Belgium   NaN   NaN  0.44   NaN
              29                                            France   NaN   NaN   NaN   2.3
              30                                           Germany   NaN   NaN   NaN   NaN
              31                                        Luxembourg   NaN   NaN   NaN   NaN
              32                                       Netherlands   NaN   NaN  0.30   0.3
              33                                       Switzerland   NaN   NaN   NaN   NaN
              34                                         Australia   NaN   NaN   NaN   NaN
              35                                       New Zealand   NaN   NaN  6.00   NaN

                   2008   2009   2010    2011    2012    2013       2014  Unnamed: 14  \
              0     NaN    NaN  0.700   0.500     NaN   0.400        NaN          NaN
              1     NaN  1.000    NaN     NaN     NaN     NaN        NaN          NaN
              2     NaN  0.500    NaN     NaN   0.300     NaN        NaN          NaN
              3   0.870    NaN  0.860     NaN     NaN     NaN   0.430000          NaN
              4     NaN  1.580  1.260   2.300   4.000   3.462        NaN          NaN
              5     NaN  3.400    NaN     NaN     NaN     NaN        NaN          NaN
              6   0.550  0.520  0.430   0.400   0.400   0.440   0.330000          NaN
              7     NaN    NaN    NaN   0.700     NaN   0.300        NaN          NaN
              8   1.800  2.200  2.400   2.600   2.100   1.700   1.500000          NaN
              9     NaN    NaN    NaN     NaN  12.400  11.400  11.900000          NaN
              10    NaN    NaN    NaN  11.100     NaN     NaN        NaN          NaN
              11  0.600    NaN  0.700     NaN     NaN     NaN        NaN          NaN
              12    NaN    NaN  0.200   0.100   0.100   0.100   0.138178          NaN
              13    NaN    NaN    NaN   2.200     NaN     NaN        NaN          NaN
              14    NaN    NaN    NaN     NaN     NaN     NaN        NaN          NaN
              15    NaN    NaN    NaN   1.050     NaN     NaN        NaN          NaN
              16    NaN    NaN    NaN     NaN     NaN   1.100        NaN          NaN
              17    NaN  0.200  0.200   0.200   0.200   0.200   0.200000          NaN
              18  0.400  0.300    NaN     NaN     NaN     NaN        NaN          NaN
              19    NaN  0.600    NaN     NaN     NaN     NaN        NaN          NaN
              20    NaN  0.400    NaN     NaN   1.400   0.700   0.800000          NaN
              21    NaN    NaN  1.000     NaN     NaN     NaN        NaN          NaN
              22  0.800  0.700  0.500   0.600   0.400   0.400   0.400000          NaN
              23  0.721  0.577  0.488   0.477   0.404   0.330   0.300000          NaN
              24  0.400  0.500  0.400   0.100   0.200     NaN        NaN          NaN
              25    NaN  0.300  0.230   0.160     NaN   0.170        NaN          NaN
              26  0.300    NaN  0.200     NaN     NaN     NaN        NaN          NaN
              27  0.600    NaN    NaN     NaN     NaN     NaN        NaN          NaN
              28    NaN  0.420    NaN     NaN     NaN     NaN        NaN          NaN
              29  1.860  1.850  1.640   1.580   1.100   0.986   1.179000          NaN
              30    NaN    NaN    NaN     NaN   0.900     NaN        NaN          NaN
              31    NaN    NaN    NaN     NaN     NaN   0.400        NaN          NaN
              32    NaN    NaN    NaN     NaN   0.200   0.200   0.200000          NaN
              33    NaN  0.100  0.200   0.100     NaN     NaN        NaN          NaN
              34    NaN  1.100  0.900   0.800     NaN   0.600   0.600000          NaN
              35    NaN  1.800    NaN     NaN     NaN     NaN   1.100000          NaN

                 Do data comply with this definition?  \
              0                                    NO
              1                                   YES
              2                                   NaN
              3                               (blank)
              4                                    NO
              5                                   NaN
              6                                   YES
              7                                    SÍ
              8                                    SÍ
              9                                    NO
              10                                   NO
              11                                  NaN
              12                                   NO
              13                                   SÍ
              14                                  NaN
              15                                  NaN
              16                                   NO
              17                                   NO
              18                                  YES
              19                                  YES
              20                                  YES
              21                                  NaN
              22                                  YES
              23                                  YES
              24                                  YES
              25                                   NO
              26                                  NaN
              27                                  NaN
              28                                  YES
              29                                  NON
              30                                   NO
              31                                  OUI
              32                                   NO
              33                                  YES
              34                                   NO
              35                                   NO

                                      If NO, please provide details
              0   Prevalence rate is calculated on total number ...
              1                                             (blank)
              2                                                 NaN
              3   Actualmente se tiene un módulo de victimizació...
              4   Esta tasa se calcula para el robo total de veh...
              5                                                 NaN
              6   12 months prevalence rate based on prevalence ...
              7                                             (blank)
              8   En el caso de la Encuesta Urbana de Seguridad ...
              9   El hurto a vehículos en la ECSC incluye automó...
              10  El indicador contempla los casos tanto de robo...
              11                                                NaN
              12  La tasa de prevalencia se calcula sobre el tot...
              13                                            (blank)
              14                                                NaN
              15                                                NaN
              16            only cars. Not including vans or trucks
              17  We do not know the number of households affect...
              18                                            (blank)
              19                                            (blank)
              20  Please note: In its current form, the survey d...
              21                                                NaN
              22                                                NaN
              23  All figures are financial year so 2013 is Apri...
              24  Prevalence and reporting rates presented below...
              25  The 12 months prior to interview. Interviews h...
              26                                                NaN
              27                                                NaN
              28                                            (blank)
              29  Proportion de ménages se déclarant victimes de...
              30  The formulation of the item in the questionair...
              31                             0,4% pour l'année 2013
              32  Only cars from particular households (responde...
              33                                            (blank)
              34  Calculated as a % of all households (regardles...
              35  No victimization survey undertaken since 2009 ...  ),
             ('Burglary',    region_name            sub_region_name  \
              0       Africa            Southern Africa
              1     Americas                  Caribbean
              2     Americas                  Caribbean
              3     Americas                  Caribbean
              4     Americas            Central America
              5     Americas            Central America
              6     Americas           Northern America
              7     Americas           Northern America
              8     Americas              South America
              9     Americas              South America
              10    Americas              South America
              11    Americas              South America
              12    Americas              South America
              13    Americas              South America
              14    Americas              South America
              15        Asia               Eastern Asia
              16        Asia         South-Eastern Asia
              17        Asia               Western Asia
              18        Asia               Western Asia
              19      Europe             Eastern Europe
              20      Europe             Eastern Europe
              21      Europe            Northern Europe
              22      Europe            Northern Europe
              23      Europe            Northern Europe
              24      Europe            Northern Europe
              25      Europe            Northern Europe
              26      Europe            Northern Europe
              27      Europe            Northern Europe
              28      Europe            Northern Europe
              29      Europe            Northern Europe
              30      Europe            Southern Europe
              31      Europe            Southern Europe
              32      Europe             Western Europe
              33      Europe             Western Europe
              34      Europe             Western Europe
              35      Europe             Western Europe
              36      Europe             Western Europe
              37      Europe             Western Europe
              38     Oceania  Australia and New Zealand
              39     Oceania  Australia and New Zealand

                                                      country_name  2004  2005   2006  2007  \
              0                                       South Africa   NaN   NaN    NaN   NaN
              1                                           Barbados   NaN   NaN    NaN   NaN
              2                                            Jamaica   NaN   NaN   3.50   NaN
              3                                Trinidad and Tobago   NaN   NaN    NaN   8.4
              4                                         Costa Rica   NaN   NaN    NaN   NaN
              5                                             Mexico   NaN   NaN    NaN   NaN
              6                                             Canada   8.8   NaN    NaN   NaN
              7                           United States of America   NaN   NaN    NaN   NaN
              8                   Bolivia (Plurinational State of)   NaN   NaN    NaN   NaN
              9                                              Chile   NaN   NaN   7.80   5.6
              10                                          Colombia   NaN   NaN    NaN   NaN
              11                                           Ecuador   NaN   NaN    NaN   NaN
              12                                          Paraguay   NaN   NaN    NaN   NaN
              13                                              Peru   NaN   NaN    NaN   NaN
              14                                           Uruguay   NaN   NaN    NaN   NaN
              15  Hong Kong Special Administrative Region of China   NaN   NaN  15.20   NaN
              16                                         Indonesia   NaN   NaN    NaN   NaN
              17                                           Georgia   NaN   NaN    NaN   NaN
              18                                            Israel   NaN   NaN    NaN   NaN
              19                                           Hungary   NaN   NaN    NaN   NaN
              20                                            Poland   NaN   NaN    NaN   4.9
              21                                           Denmark   NaN   NaN    NaN   NaN
              22                                           Estonia   3.1   NaN    NaN   NaN
              23                                           Finland   NaN   0.8   0.50   NaN
              24                                           Iceland   NaN   NaN    NaN   NaN
              25                                           Ireland   NaN   NaN   3.00   NaN
              26                                            Sweden   NaN   NaN    NaN   1.0
              27                United Kingdom (England and Wales)   NaN   NaN   1.50   1.4
              28                 United Kingdom (Northern Ireland)   NaN   NaN   1.30   0.9
              29                         United Kingdom (Scotland)   NaN   NaN    NaN   NaN
              30                                           Croatia   NaN   NaN    NaN   NaN
              31                                             Italy   NaN   NaN    NaN   NaN
              32                                           Belgium   NaN   NaN   6.12   NaN
              33                                            France   NaN   NaN    NaN   2.8
              34                                           Germany   NaN   NaN    NaN   NaN
              35                                        Luxembourg   NaN   NaN    NaN   NaN
              36                                       Netherlands   NaN   NaN   2.80   2.6
              37                                       Switzerland   NaN   NaN    NaN   NaN
              38                                         Australia   NaN   NaN    NaN   NaN
              39                                       New Zealand   NaN   NaN  14.00   NaN

                   2008   2009   2010   2011   2012   2013      2014  \
              0     NaN    NaN   4.50   5.40    NaN   4.70       NaN
              1     NaN   5.00    NaN    NaN    NaN    NaN       NaN
              2     NaN   4.50    NaN    NaN   1.70    NaN       NaN
              3     NaN    NaN    NaN    NaN    NaN    NaN       NaN
              4   10.56    NaN   9.05    NaN    NaN    NaN   6.72000
              5     NaN   1.75   1.80   4.50   4.70   5.54       NaN
              6     NaN   8.30    NaN    NaN    NaN    NaN       NaN
              7    1.93   2.00   1.94   1.90   2.10   1.93   1.67000
              8     NaN    NaN    NaN   6.30    NaN   5.90       NaN

In [ ]:
# !pip install gdelt

In [174]:
class GDELT(object):
    def __init__(self):
        """
        The GDELT Project is the largest, most comprehensive, and highest resolution open database of human society ever created. 
        Just the 2015 data alone records nearly three quarters of a trillion emotional snapshots and more than 1.5 billion location 
        references, while its total archives span more than 215 years, making it one of the largest open-access spatio-temporal 
        datasets in existance and pushing the boundaries of "big data" study of global human society. Its Global Knowledge Graph 
        connects the world's people, organizations, locations, themes, counts, images and emotions into a single holistic network 
        over the entire planet.
        
        This is Gdelt 2.0 (supports from the date after Feb, 2015)
        This function pull the events ids and the country it takes place
        Please input the date in the format of 'yyyy mm dd'.
        
        This function use a package from https://github.com/linwoodc3/gdeltPyR
        
        """
    def __new__(self, start, end):
        import gdelt

        gd = gdelt.gdelt(version=2)
        results = gd.Search([start,end],table='events',coverage=True,translation=False)
        return (results[['GLOBALEVENTID','ActionGeo_FullName']])

In [175]:
g = GDELT("2017 10 15", "2017 10 16")

In [176]:
display(g)

        GLOBALEVENTID                                ActionGeo_FullName
0           697952828                         California, United States
1           697952829                           New York, United States
2           697952830                           Michigan, United States
3           697952831                            Montana, United States
4           697952832                           Maryland, United States
5           697952833                            Montana, United States
6           697952834                            Montana, United States
7           697952835                         California, United States
8           697952836                         California, United States
9           697952837                            Montana, United States
10          697952838                                               NaN
11          697952839                Baltimore, Maryland, United States
12          697952840                           Maryland, United States
13          697952841        Montgomery County, Maryland, United States
14          697952842                           Maryland, United States
15          697952843                Baltimore, Maryland, United States
16          697952844                Baltimore, Maryland, United States
17          697952845        Montgomery County, Maryland, United States
18          697952846                Baltimore, Maryland, United States
19          697952847              Stewarts, South Australia, Australia
20          697952848                           New York, United States
21          697952849                           New York, United States
22          697952850                           New York, United States
23          697952851                                            Poland
24          697952852  White House, District of Columbia, United States
25          697952853  White House, District of Columbia, United States
26          697952854                       Pennsylvania, United States
27          697952855                       Chongqing, Chongqing, China
28          697952856                       Chongqing, Chongqing, China
29          697952857                           New York, United States
...               ...                                               ...
285738      698411330                                       Puerto Rico
285739      698411331                              Texas, United States
285740      698411332                        Puerto Rico, United States
285741      698411333                                            Mexico
285742      698411334                        Puerto Rico, United States
285743      698411335                                       Puerto Rico
285744      698411336                                       Puerto Rico
285745      698411337                           New York, United States
285746      698411338              South Wales, New York, United States
285747      698411339                               Osaka, Osaka, Japan
285748      698411340                                      Vatican City
285749      698411341                                      Vatican City
285750      698411342                                             Yemen
285751      698411343                                             Yemen
285752      698411344                                             Yemen
285753      698411345                                       Afghanistan
285754      698411346                             Madrid, Madrid, Spain
285755      698411347          Sioux Falls, South Dakota, United States
285756      698411348                       South Dakota, United States
285757      698411349                        Winnipeg, Manitoba, Canada
285758      698411350                           Kirkuk, At Ta'mim, Iraq
285759      698411351                           Kirkuk, At Ta'mim, Iraq
285760      698411352                           Kirkuk, At Ta'mim, Iraq
285761      698411353           London, London, City of, United Kingdom
285762      698411354           London, London, City of, United Kingdom
285763      698411355           London, London, City of, United Kingdom
285764      698411356                                            Jordan
285765      698411357                        Tel Aviv, Tel Aviv, Israel
285766      698411358                                            Jordan
285767      698411359                        Tel Aviv, Tel Aviv, Israel

[285768 rows x 2 columns]

In [131]:
class Happiness():
    def __init__(self):

        import pandas as pd
        import zipfile



    def __new__(self):
        
        file_path = "590PR_final_datasets"
        file_name = "world-happiness-report.zip"

        zf = zipfile.ZipFile(file_path + '/' + file_name) 

        df = []
        happy = {}
        for name in zipfile.ZipFile.infolist(zf):
            happy[name.filename] = pd.read_csv(zf.open(name.filename))
#             df.append(pd.read_csv(zf.open(name.filename)))
#         display(df)
#         return [df[0], df[1], df[2]]
        return happy

In [133]:
ha = Happiness()
ha.keys()

dict_keys(['2015.csv', '2016.csv', '2017.csv'])

In [140]:
class Freedom():
    def __init__(self):

        import pandas as pd

    def __new__(self):
        
        file_path = "590PR_final_datasets"
        file_name = "the-human-freedom-index.zip"

        df = pd.read_csv(file_path + '/' + file_name, compression = 'zip')
        
        return df

In [141]:
Freedom()

,year,ISO_code,countries,region,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
0,2016,ALB,Albania,Eastern Europe,6.661503,4.547244,4.666508,5.291752,8.920429,10.0,...,4.050196,7.324582,7.074366,6.705863,6.906901,7.54,34.0,7.568140,48.0,2.0
1,2016,DZA,Algeria,Middle East & North Africa,NaN,NaN,NaN,3.819566,9.456254,10.0,...,3.765515,8.523503,7.029528,5.676956,5.268992,4.99,159.0,5.135886,155.0,4.0
2,2016,AGO,Angola,Sub-Saharan Africa,NaN,NaN,NaN,3.451814,8.060260,5.0,...,1.945540,8.096776,6.782923,4.930271,5.518500,5.17,155.0,5.640662,142.0,4.0
3,2016,ARG,Argentina,Latin America & the Caribbean,7.098483,5.791960,4.343930,5.744791,7.622974,10.0,...,3.260044,5.253411,6.508295,5.535831,5.369019,4.84,160.0,6.469848,107.0,3.0
4,2016,ARM,Armenia,Caucasus & Central Asia,NaN,NaN,NaN,5.003205,8.808750,10.0,...,4.575152,9.319612,6.491481,6.797530,7.378069,7.57,29.0,7.241402,57.0,2.0
5,2016,AUS,Australia,Oceania,8.439110,7.525648,7.364078,7.776279,9.623538,10.0,...,7.238900,8.944387,8.823021,8.121631,8.465526,7.98,10.0,8.582219,4.0,1.0
6,2016,AUT,Austria,Western Europe,8.969832,7.872188,7.673227,8.171749,9.737912,10.0,...,6.418890,7.296116,8.531578,7.419870,7.371334,7.58,27.0,8.413474,16.0,1.0
7,2016,AZE,Azerbaijan,Caucasus & Central Asia,NaN,NaN,NaN,4.270861,9.143499,10.0,...,5.353533,6.959699,7.814181,7.080078,6.874880,6.49,106.0,6.083277,130.0,4.0
8,2016,BHS,Bahamas,Latin America & the Caribbean,6.930835,6.008696,6.262840,6.400790,0.000000,10.0,...,NaN,7.981672,7.388227,7.523034,8.169125,7.34,49.0,7.397269,50.0,2.0
9,2016,BHR,Bahrain,Middle East & North Africa,NaN,NaN,NaN,5.900339,9.790481,10.0,...,6.596745,8.074670,9.680534,8.018774,7.415786,7.56,30.0,6.848035,75.0,2.0
10,2016,BGD,Bangladesh,South Asia,2.333137,3.712171,3.353370,3.132892,8.998765,5.0,...,2.488781,6.527180,5.123943,4.962580,6.690103,6.30,120.0,5.801300,138.0,4.0
11,2016,BRD,Barbados,Latin America & the Caribbean,7.668771,6.520983,5.908108,6.699287,5.637136,10.0,...,4.353261,4.999638,7.253715,6.148503,6.524768,6.43,111.0,7.068447,67.0,2.0
12,2016,BLR,Belarus,Eastern Europe,4.483689,5.934587,4.968499,5.128925,8.566135,10.0,...,NaN,9.042634,7.937484,8.092322,6.377245,6.23,123.0,6.144514,128.0,4.0
13,2016,BEL,Belgium,Western Europe,8.669067,7.343872,7.240364,7.751101,9.220407,10.0,...,6.469409,7.459620,8.475532,7.374380,8.102654,7.32,52.0,8.153589,27.0,1.0
14,2016,BLZ,Belize,Latin America & the Caribbean,4.753383,4.737766,3.315467,4.268872,0.000000,10.0,...,6.724504,8.843607,8.352229,6.684745,7.883868,6.86,83.0,7.145432,64.0,2.0
15,2016,BEN,Benin,Sub-Saharan Africa,NaN,NaN,NaN,4.129480,7.526895,10.0,...,2.790034,9.479134,6.973482,6.142281,6.855929,5.98,134.0,6.738488,90.0,3.0
16,2016,BTN,Bhutan,South Asia,NaN,NaN,NaN,5.925575,9.548283,10.0,...,5.736825,8.470915,9.047207,6.674658,7.701472,7.02,73.0,6.810486,83.0,3.0
17,2016,BOL,Bolivia,Latin America & the Caribbean,3.702869,3.361331,2.090006,3.051402,7.479924,10.0,...,2.103305,5.664341,0.000000,3.346666,4.975271,6.23,123.0,6.718385,92.0,3.0
18,2016,BIH,Bosnia and Herzegovina,Eastern Europe,6.312217,4.995851,5.102173,5.470080,9.489855,10.0,...,3.149830,7.739727,5.392967,5.279863,7.413612,6.60,98.0,7.230724,59.0,2.0
19,2016,BWA,Botswana,Sub-Saharan Africa,5.333481,6.055928,5.535643,5.641684,3.984712,10.0,...,4.829548,9.190004,8.654881,6.942897,7.769777,7.43,44.0,7.153167,64.0,2.0
20,2016,BRA,Brazil,Latin America & the Caribbean,4.965023,5.288791,3.701204,4.651673,0.000000,10.0,...,2.906825,4.998552,0.000000,3.590036,4.093309,5.75,144.0,6.207989,123.0,4.0
21,2016,BRN,Brunei Darussalam,South Asia,NaN,NaN,NaN,6.163383,9.802818,10.0,...,5.782012,9.562696,9.280361,7.513954,8.443079,6.93,77.0,5.796850,138.0,4.0
22,2016,BGR,Bulgaria,Eastern Europe,4.984199,5.631897,4.058021,4.891372,9.545583,10.0,...,3.517540,9.329954,4.922175,6.191990,7.612748,7.41,46.0,7.782770,41.0,1.0
23,2016,BFA,Burkina Faso,Sub-Saharan Africa,5.148742,4.884167,4.548815,4.860575,9.852021,10.0,...,3.114516,8.937329,6.973482,6.115344,7.427554,6.05,129.0,6.752670,88.0,3.0
24,2016,BDI,Burundi,Sub-Saharan Africa,NaN,NaN,NaN,2.961470,7.591791,5.0,...,3.304978,9.755414,7.399436,6.012328,6.271879,5.92,138.0,5.167067,154.0,4.0
25,2016,KHM,Cambodia,South Asia,3.022812,1.983626,2.693785,2.566741,9.262616,10.0,...,3.245269,4.990408,8.060787,5.135845,7.061529,7.17,64.0,7.204224,61.0,2.0
26,2016,CMR,Cameroon,Sub-Saharan Africa,2.624329,3.695063,2.761362,3.026918,8.330360,0.0,...,2.936335,8.689928,3.005380,5.088875,6.530047,5.82,141.0,5.575387,144.0,4.0
27,2016,CAN,Canada,North America,8.622615,7.181646,7.410711,7.738324,9.326358,10.0,...,6.777808,6.854368,8.531578,7.652364,8.514791,7.98,10.0,8.565863,5.0,1.0
28,2016,CPV,Cape Verde,Sub-Saharan Africa,NaN,NaN,NaN,5.720581,5.405668,10.0,...,4.446630,9.166813,7.982321,6.568007,6.922815,6.68,93.0,7.333292,53.0,2.0
29,2016,CAF,Central Afr. Rep.,Sub-Saharan Africa,NaN,NaN,NaN,2.238883,2.097050,5.0,...,NaN,7.316464,4.585895,4.804890,5.417205,5.11,156.0,5.287816,152.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1428,2008,SVN,Slovenia,Eastern Europe,8.166667,5.958061,5.920494,6.700000,9.802424,10.0,...,7.166921,7.561539,7.085575,6.519347,6.959723,7.01,65.0,7.825762,41.0,2.0
1429,2008,ZAF,South Africa,Sub-Saharan Africa,5.900000,5.470206,4.932219,5.400000,0.000000,10.0,...,6.475010,8.037027,7.758135,6.265040,7.348801,6.72,81.0,6.762374,86.0,3.0
1430,2008,ESP,Spain,Western Europe,8.466667,6.456055,6.923660,7.300000,9.646070,10.0,...,6.592780,7.008616,7.612413,5.863314,6.924467,7.37,37.0,8.247249,21.0,1.0
1431,2008,LKA,Sri Lanka,South Asia,4.100000,5.226857,6.163562,5.200000,5.985126,0.0,...,5.000912,4.788672,7.130412,5.421889,6.474889,6.26,99.0,5.860377,122.0,4.0
1432,2008,SDN,Sudan,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,2008,SUR,Suriname,Latin America & the Caribbean,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1434,2008,SWZ,Swaziland,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1435,2008,SWE,Sweden,Western Europe,9.500000,7.780177,8.230554,8.500000,9.644902,10.0,...,9.446255,8.840635,8.632462,7.208623,7.433666,7.40,36.0,8.452347,11.0,1.0
1436,2008,CHE,Switzerland,Western Europe,NaN,NaN,NaN,7.920938,9.717504,10.0,...,8.770113,8.317341,9.293812,8.146447,8.364623,8.24,4.0,8.774437,3.0,1.0
1437,2008,SYR,Syria,Middle East & North Africa,NaN,NaN,NaN,4.832763,8.958940,5.0,...,3.793513,7.853985,6.233666,5.372741,4.585521,5.62,126.0,5.457516,132.0,4.0
1438,2008,TWN,Taiwan,East Asia,NaN,NaN,NaN,6.859803,9.666791,10.0,...,6.486883,8.429317,6.850179,6.899218,6.652937,7.49,31.0,7.792327,43.0,2.0
1439,2008,TJK,Tajikistan,Caucasus & Central Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1440,2008,TZA,Tanzania,Sub-Saharan Africa,4.333333,4.847786,4.873715,4.700000,6.626361,10.0,...,3.916291,0.568990,8.071996,5.021776,6.170379,6.20,102.0,6.338606,108.0,4.0
1441,2008,THA,Thailand,South Asia,6.433333,4.320855,5.927417,5.600000,7.611268,5.0,...,4.981073,8.353123,7.040738,6.355122,6.991086,6.80,74.0,7.274283,59.0,2.0
1442,2008,TLS,Timor-Leste,South Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,2008,TGO,Togo,Sub-Saharan Africa,NaN,NaN,NaN,4.247778,6.158369,10.0,...,NaN,4.074881,6.973482,4.936187,5.225736,5.67,124.0,5.763365,124.0,4.0
1444,2008,TTO,Trinidad and Tobago,Latin America & the Caribbean,NaN,NaN,NaN,5.200079,0.000000,10.0,...,4.924861,6.653712,8.722137,6.368426,7.229061,6.74,79.0,6.805600,81.0,3.0
1445,2008,TUN,Tunisia,Middle East & North Africa,4.933333,5.555958,5.245987,5.200000,8.923836,10.0,...,6.921029,7.742921,7.444274,7.042039,7.102103,6.68,84.0,6.249058,110.0,4.0
1446,2008,TUR,Turkey,Middle East & North Africa,4.800000,5.517525,4.195074,4.800000,8.150484,10.0,...,5.034034,7.456986,7.500320,6.140812,5.852084,6.86,68.0,6.918409,76.0,3.0
1447,2008,UGA,Uganda,Sub-Saharan Africa,2.733333,5.128122,4.308519,4.100000,6.471691,10.0,...,2.972930,7.530185,8.195298,6.397646,8.038735,7.21,48.0,6.495271,102.0,3.0
1448,2008,UKR,Ukraine,Eastern Europe,5.100000,5.185254,3.932442,4.700000,7.864308,10.0,...,3.494276,2.377064,1.749936,4.224606,6.206055,5.87,121.0,6.798697,82.0,3.0
1449,2008,ARE,United Arab Emirates,Middle East & North Africa,6.066667,6.037091,7.486491,6.500000,9.675964,10.0,...,8.274590,9.820361,9.865488,8.280583,7.893976,7.68,17.0,6.784866,85.0,3.0
1450,2008,GBR,United Kingdom,Western Europe,8.300000,7.235466,7.546776,7.700000,9.508991,10.0,...,7.868056,9.245127,8.766974,7.436274,8.468255,7.99,8.0,8.536421,9.0,1.0
1451,2008,USA,United States,North America,7.266667,6.532127,6.538778,6.800000,7.826446,10.0,...,7.103564,9.977016,7.903856,7.630640,8.846949,8.17,5.0,8.448265,11.0,1.0
1452,2008,URY,Uruguay,Latin America & the Caribbean,7.033333,7.140849,5.035222,6.400000,7.361843,10.0,...,7.112031,6.944885,6.233666,5.748001,6.162140,7.12,58.0,7.947847,37.0,2.0
1453,2008,VEN,Venezuela,Latin America & the Caribbean,3.000000,3.781688,2.369239,3.100000,0.000000,10.0,...,2.784695,4.578318,0.315142,2.864160,4.666936,4.22,140.0,5.257879,136.0,4.0
1454,2008,VNM,Vietnam,South Asia,6.666667,4.349101,5.694847,5.600000,9.496239,5.0,...,3.626593,7.306074,0.000000,4.574683,6.307577,6.19,103.0,6.420206,106.0,3.0
1455,2008,YEM,"Yemen, Rep.",Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,2008,ZMB,Zambia,Sub-Saharan Africa,4.800000,4.578003,3.688652,4.400000,7.878084,10.0,...,4.585391,5.124436,8.520369,6.681524,6.722175,7.15,57.0,6.647724,95.0,3.0
1457,2008,ZWE,Zimbabwe,Sub-Saharan Africa,2.700000,3.991582,4.327660,3.700000,7.981019,0.0,...,4.423866,0.000000,6.973482,3.369110,4.488892,4.55,138.0,4.935571,140.0,4.0

In [135]:
class Poverty():
    def __init__(self):

        import pandas as pd
        import zipfile



    def __new__(self):
        
        file_path = "590PR_final_datasets"
        file_name = "PovStats_csv.zip"

        zf = zipfile.ZipFile(file_path + '/' + file_name) 
        df = []
        pov = {}
        for name in zipfile.ZipFile.infolist(zf):
#             print(name.filename)
#             df.append(pd.read_csv(zf.open(name.filename)))
            pov[name.filename] = pd.read_csv(zf.open(name.filename))
#         display(df)
#         return [df[0], df[1], df[2]]
        return pov

In [137]:
Poverty().keys()

dict_keys(['PovStatsData.csv', 'PovStatsCountry.csv', 'PovStatsSeries.csv', 'PovStatsCountry-Series.csv', 'PovStatsFootNote.csv'])

In [138]:
class Suicide():
    def __init__(self):

        import pandas as pd

    def __new__(self):
        
        file_path = "590PR_final_datasets"
        file_name = "suicide-rates-overview-1985-to-2016.zip"

        df = pd.read_csv(file_path + '/' + file_name, compression = 'zip')
        
        return df

In [139]:
Suicide()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,female,25-34 years,148,2556673,5.79,Uzbekistan2012,0.668,"51,821,573,338",1964,Millenials
27791,Uzbekistan,2012,female,35-54 years,89,3474788,2.56,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation X
27792,Uzbekistan,2012,male,5-14 years,67,2701361,2.48,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27793,Uzbekistan,2012,female,55-74 years,25,1283060,1.95,Uzbekistan2012,0.668,"51,821,573,338",1964,Boomers
27794,Uzbekistan,2012,female,75+ years,4,338557,1.18,Uzbekistan2012,0.668,"51,821,573,338",1964,Silent
27795,Uzbekistan,2012,female,5-14 years,16,2578408,0.62,Uzbekistan2012,0.668,"51,821,573,338",1964,Generation Z
27796,Uzbekistan,2013,male,35-54 years,481,3346411,14.37,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27797,Uzbekistan,2013,male,25-34 years,328,2644648,12.40,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27798,Uzbekistan,2013,female,15-24 years,323,3039740,10.63,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27799,Uzbekistan,2013,male,15-24 years,320,3171202,10.09,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27800,Uzbekistan,2013,male,55-74 years,119,1202790,9.89,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27801,Uzbekistan,2013,male,75+ years,13,221002,5.88,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27802,Uzbekistan,2013,female,25-34 years,146,2647820,5.51,Uzbekistan2013,0.672,"57,690,453,461",2150,Millenials
27803,Uzbekistan,2013,female,35-54 years,99,3547895,2.79,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation X
27804,Uzbekistan,2013,female,75+ years,8,345180,2.32,Uzbekistan2013,0.672,"57,690,453,461",2150,Silent
27805,Uzbekistan,2013,male,5-14 years,61,2720938,2.24,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21,1356298,1.55,Uzbekistan2013,0.672,"57,690,453,461",2150,Boomers
27807,Uzbekistan,2013,female,5-14 years,31,2595000,1.19,Uzbekistan2013,0.672,"57,690,453,461",2150,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519,3421300,15.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27809,Uzbekistan,2014,male,25-34 years,318,2739150,11.61,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27810,Uzbekistan,2014,female,15-24 years,347,2992817,11.59,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27811,Uzbekistan,2014,male,55-74 years,144,1271111,11.33,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers
27812,Uzbekistan,2014,male,15-24 years,347,3126905,11.10,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27813,Uzbekistan,2014,male,75+ years,17,224995,7.56,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27814,Uzbekistan,2014,female,25-34 years,162,2735238,5.92,Uzbekistan2014,0.675,"63,067,077,179",2309,Millenials
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [144]:
class Unemployment():
    def __init__(self):

        import pandas as pd

    def __new__(self):
        
        file_path = "590PR_final_datasets"
        file_name = "unemployment.zip"

        df = pd.read_csv(file_path + '/' + file_name, compression = 'zip')
        
        return df

In [145]:
Unemployment()

,OID,Country or Area,Year,Description,Magnitude,Value
0,91467R..ZF...,ALBANIA,2008,UNEMPLOYMENT RATE,PERCENT PER ANNU,12.75
1,91467C..ZF...,ALBANIA,2008,UNEMPLOYMENT (IN THOUSANDS),THOUSANDS,140599.00
2,91467D..ZF...,ALBANIA,2008,LABOR FORCE (IN THOUSANDS),THOUSANDS,1102890.00
3,91467E..ZF...,ALBANIA,2008,EMPLOYMENT(IN THOUSANDS),THOUSANDS,962293.00
4,91467R..ZF...,ALBANIA,2007,UNEMPLOYMENT RATE,PERCENT PER ANNU,13.36
5,91467C..ZF...,ALBANIA,2007,UNEMPLOYMENT (IN THOUSANDS),THOUSANDS,144458.00
6,91467D..ZF...,ALBANIA,2007,LABOR FORCE (IN THOUSANDS),THOUSANDS,1079570.00
7,91467E..ZF...,ALBANIA,2007,EMPLOYMENT(IN THOUSANDS),THOUSANDS,935116.00
8,91467R..ZF...,ALBANIA,2006,UNEMPLOYMENT RATE,PERCENT PER ANNU,13.90
9,91467C..ZF...,ALBANIA,2006,UNEMPLOYMENT (IN THOUSANDS),THOUSANDS,150332.00
10,91467D..ZF...,ALBANIA,2006,LABOR FORCE (IN THOUSANDS),THOUSANDS,1083260.00
11,91467E..ZF...,ALBANIA,2006,EMPLOYMENT(IN THOUSANDS),THOUSANDS,932929.00
12,91467R..ZF...,ALBANIA,2005,UNEMPLOYMENT RATE,PERCENT PER ANNU,14.30
13,91467C..ZF...,ALBANIA,2005,UNEMPLOYMENT (IN THOUSANDS),THOUSANDS,154950.00
14,91467D..ZF...,ALBANIA,2005,LABOR FORCE (IN THOUSANDS),THOUSANDS,1086250.00
15,91467E..ZF...,ALBANIA,2005,EMPLOYMENT(IN THOUSANDS),THOUSANDS,931300.00
16,91467R..ZF...,ALBANIA,2004,UNEMPLOYMENT RATE,PERCENT PER ANNU,14.75
17,91467C..ZF...,ALBANIA,2004,UNEMPLOYMENT (IN THOUSANDS),THOUSANDS,159000.00
18,91467D..ZF...,ALBANIA,2004,LABOR FORCE (IN THOUSANDS),THOUSANDS,1090000.00
19,91467E..ZF...,ALBANIA,2004,EMPLOYMENT(IN THOUSANDS),THOUSANDS,931000.00
20,91467R..ZF...,ALBANIA,2003,UNEMPLOYMENT RATE,PERCENT PER ANNU,15.18
21,91467C..ZF...,ALBANIA,2003,UNEMPLOYMENT (IN THOUSANDS),THOUSANDS,163000.00
22,91467D..ZF...,ALBANIA,2003,LABOR FORCE (IN THOUSANDS),THOUSANDS,1089000.00
23,91467E..ZF...,ALBANIA,2003,EMPLOYMENT(IN THOUSANDS),THOUSANDS,926000.00
24,91467R..ZF...,ALBANIA,2002,UNEMPLOYMENT RATE,PERCENT PER ANNU,15.80
25,91467C..ZF...,ALBANIA,2002,UNEMPLOYMENT (IN THOUSANDS),THOUSANDS,172390.00
26,91467D..ZF...,ALBANIA,2002,LABOR FORCE (IN THOUSANDS),THOUSANDS,1092490.00
27,91467E..ZF...,ALBANIA,2002,EMPLOYMENT(IN THOUSANDS),THOUSANDS,920100.00
28,91467R..ZF...,ALBANIA,2001,UNEMPLOYMENT RATE,PERCENT PER ANNU,16.40
29,91467C..ZF...,ALBANIA,2001,UNEMPLOYMENT (IN THOUSANDS),THOUSANDS,180510.00
...,...,...,...,...,...,...
9281,29967R..ZF...,"VENEZUELA, REP. BOL.",1985,UNEMPLOYMENT RATE,PERCENT PER ANNU,13.10
9282,29967C..ZF...,"VENEZUELA, REP. BOL.",1985,UNEMPLOYMENT,THOUSANDS,766810.00
9283,29967E..ZF...,"VENEZUELA, REP. BOL.",1985,EMPLOYMENT,THOUSANDS,5106100.00
9284,75467E..ZF...,ZAMBIA,1989,EMPLOYMENT,THOUSANDS,359600.00
9285,75467E..ZF...,ZAMBIA,1988,EMPLOYMENT,THOUSANDS,360720.00
9286,75467E..ZF...,ZAMBIA,1987,EMPLOYMENT,THOUSANDS,361830.00
9287,75467E..ZF...,ZAMBIA,1986,EMPLOYMENT,THOUSANDS,360530.00
9288,75467E..ZF...,ZAMBIA,1985,EMPLOYMENT,THOUSANDS,361520.00
9289,69867E..ZF...,ZIMBABWE,2002,EMPLOYMENT,THOUSANDS,1071100.00
9290,69867E..ZF...,ZIMBABWE,2001,EMPLOYMENT,THOUSANDS,1183500.00
9291,69867E..ZF...,ZIMBABWE,2000,EMPLOYMENT,THOUSANDS,1236900.00
9292,69867D..ZF...,ZIMBABWE,1999,LABOUR FORCE,THOUSANDS,4963260.00
9293,69867E..ZF...,ZIMBABWE,1999,EMPLOYMENT,THOUSANDS,1316000.00
9294,69867E..ZF...,ZIMBABWE,1998,EMPLOYMENT,THOUSANDS,1348500.00
9295,69867D..ZF...,ZIMBABWE,1997,LABOUR FORCE,THOUSANDS,4921030.00
9296,69867E..ZF...,ZIMBABWE,1997,EMPLOYMENT,THOUSANDS,1323200.00
9297,69867E..ZF...,ZIMBABWE,1996,EMPLOYMENT,THOUSANDS,1273200.00
9298,69867E..ZF...,ZIMBABWE,1995,EMPLOYMENT,THOUSANDS,1239600.00
9299,69867E..ZF...,ZIMBABWE,1994,EMPLOYMENT,THOUSANDS,1263700.00
9300,69867E..ZF...,ZIMBABWE,1993,EMPLOYMENT,THOUSANDS,1239000.00
9301,69867D..ZF...,ZIMBABWE,1992,LABOUR FORCE,THOUSANDS,3502000.00
9302,69867E..ZF...,ZIMBABWE,1992,EMPLOYMENT,THOUSANDS,1236400.00
9303,69867E..ZF...,ZIMBABWE,1991,EMPLOYMENT,THOUSANDS,1244200.00
9304,69867E..ZF...,ZIMBABWE,1990,EMPLOYMENT,THOUSANDS,1192200.00
9305,69867E..ZF...,ZIMBABWE,1989,EMPLOYMENT,THOUSANDS,1167100.00
9306,69867E..ZF...,ZIMBABWE,1988,EMPLOYMENT,THOUSANDS,1131100.00
9307,69867D..ZF...,ZIMBABWE,1987,LABOUR FORCE,THOUSANDS,3260000.00
9308,69867E..ZF...,ZIMBABWE,1987,EMPLOYMENT,THOUSANDS,1085400.00
9309,69867E..ZF...,ZIMBABWE,1986,EMPLOYMENT,THOUSANDS,1081100.00
9310,69867E..ZF...,ZIMBABWE,1985,EMPLOYMENT,THOUSANDS,1055000.00

In [151]:
def Hunger():
    file_path = "590PR_final_datasets"
    file_name = "Hunger.csv"
    import pandas as pd
    df_hunger = pd.read_csv(file_path + "/" + file_name, na_values = '\t', sep = '\t', header = 0)
    #display(df_hunger)
    list = []
    list.append(df_hunger['Country Name'])
    list.append(df_hunger['Indicator Name'])
    for i in range(2009, 2019):
        year = str(i)
        df = df_hunger[year]
        list.append(df)
    df_new_hunger = pd.concat(list,axis = 1)
    return df_new_hunger

In [152]:
Hunger()

,Country Name,Indicator Name,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,Prevalence of undernourishment (% of population),22.900000,22.100000,22.200000,23.400000,25.500000,27.600000,29.300000,30.300000,NaN,NaN
2,Angola,Prevalence of undernourishment (% of population),42.500000,40.400000,38.200000,35.100000,30.800000,27.000000,24.800000,23.900000,NaN,NaN
3,Albania,Prevalence of undernourishment (% of population),8.400000,7.400000,6.600000,6.000000,5.700000,5.500000,5.500000,5.500000,NaN,NaN
4,Andorra,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,Prevalence of undernourishment (% of population),10.016621,9.676187,9.403567,11.083189,11.224646,11.459653,11.782652,12.051903,NaN,NaN
6,United Arab Emirates,Prevalence of undernourishment (% of population),6.000000,5.900000,5.600000,5.100000,4.500000,3.900000,3.100000,2.500000,NaN,NaN
7,Argentina,Prevalence of undernourishment (% of population),4.100000,4.000000,3.900000,3.700000,3.500000,3.400000,3.600000,3.800000,NaN,NaN
8,Armenia,Prevalence of undernourishment (% of population),5.300000,5.500000,5.600000,5.100000,4.600000,4.300000,4.300000,4.300000,NaN,NaN
9,American Samoa,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
12,Austria,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
13,Azerbaijan,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
14,Burundi,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Belgium,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
16,Benin,Prevalence of undernourishment (% of population),12.100000,11.800000,11.300000,10.800000,10.200000,9.600000,9.900000,10.400000,NaN,NaN
17,Burkina Faso,Prevalence of undernourishment (% of population),21.900000,21.200000,20.700000,20.300000,20.200000,20.300000,20.800000,21.300000,NaN,NaN
18,Bangladesh,Prevalence of undernourishment (% of population),16.600000,16.900000,17.000000,17.000000,16.800000,16.500000,15.800000,15.200000,NaN,NaN
19,Bulgaria,Prevalence of undernourishment (% of population),5.700000,5.600000,5.400000,5.000000,4.400000,3.800000,3.300000,3.000000,NaN,NaN
20,Bahrain,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Bahamas, The",Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
23,Belarus,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
24,Belize,Prevalence of undernourishment (% of population),5.600000,5.600000,5.800000,6.300000,6.600000,6.700000,6.600000,6.500000,NaN,NaN
25,Bermuda,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bolivia,Prevalence of undernourishment (% of population),28.000000,26.500000,24.600000,22.900000,21.400000,19.900000,19.600000,19.800000,NaN,NaN
27,Brazil,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
28,Barbados,Prevalence of undernourishment (% of population),5.000000,5.000000,4.900000,4.700000,4.400000,4.000000,3.800000,3.700000,NaN,NaN
29,Brunei Darussalam,Prevalence of undernourishment (% of population),3.100000,3.100000,2.900000,2.800000,2.700000,2.700000,2.600000,2.600000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,Prevalence of undernourishment (% of population),7.152612,6.965121,6.790961,6.655952,6.525769,6.421465,6.333347,6.279645,NaN,NaN
235,Timor-Leste,Prevalence of undernourishment (% of population),30.500000,29.200000,27.900000,26.800000,26.600000,26.800000,27.100000,27.200000,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),Prevalence of undernourishment (% of population),9.493647,9.199570,9.015868,9.004972,9.179331,9.425332,9.731067,9.952472,NaN,NaN
237,Tonga,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,South Asia (IDA & IBRD),Prevalence of undernourishment (% of population),17.891940,17.732137,17.652348,17.505254,17.159353,16.657607,16.074968,15.630135,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),Prevalence of undernourishment (% of population),21.295797,20.772217,20.330162,20.208755,20.000093,20.033631,20.539640,21.330271,NaN,NaN
240,Trinidad and Tobago,Prevalence of undernourishment (% of population),10.100000,9.600000,8.600000,7.500000,6.600000,6.000000,5.500000,4.900000,NaN,NaN
241,Tunisia,Prevalence of undernourishment (% of population),5.000000,4.800000,4.600000,4.500000,4.500000,4.500000,4.700000,4.900000,NaN,NaN
242,Turkey,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
243,Tuvalu,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,Prevalence of undernourishment (% of population),34.500000,34.600000,33.600000,33.000000,32.600000,32.200000,32.100000,32.000000,NaN,NaN
245,Uganda,Prevalence of undernourishment (% of population),30.400000,30.900000,31.600000,32.400000,33.700000,35.500000,38.600000,41.400000,NaN,NaN
246,Ukraine,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.900000,3.300000,NaN,NaN
247,Upper middle income,Prevalence of undernourishment (% of population),9.580326,9.050054,8.599569,8.188103,7.798592,7.477564,7.314236,7.254681,NaN,NaN
248,Uruguay,Prevalence of undernourishment (% of population),2.700000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
249,United States,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
250,Uzbekistan,Prevalence of undernourishment (% of population),9.700000,9.000000,8.200000,7.600000,7.400000,7.400000,7.300000,7.400000,NaN,NaN
251,St. Vincent and the Grenadines,Prevalence of undernourishment (% of population),7.000000,6.700000,6.400000,6.100000,6.000000,5.900000,5.900000,5.700000,NaN,NaN
252,"Venezuela, RB",Prevalence of undernourishment (% of population),3.100000,3.100000,3.600000,4.700000,6.100000,7.900000,9.800000,11.700000,NaN,NaN
253,British Virgin Islands,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Vietnam,Prevalence of undernourishment (% of population),14.500000,13.600000,13.000000,12.600000,12.100000,11.600000,11.100000,10.800000,NaN,NaN
256,Vanuatu,Prevalence of undernourishment (% of population),5.800000,5.900000,6.100000,6.300000,6.500000,6.700000,6.900000,7.100000,NaN,NaN
257,World,Prevalence of undernourishment (% of population),12.200000,11.800000,11.500000,11.300000,11.000000,10.700000,10.600000,10.800000,NaN,NaN
258,Samoa,Prevalence of undernourishment (% of population),3.500000,3.400000,3.300000,3.100000,3.100000,3.100000,3.100000,3.100000,NaN,NaN
259,Kosovo,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",Prevalence of undernourishment (% of population),26.200000,25.700000,25.200000,25.900000,27.700000,30.200000,32.600000,34.400000,NaN,NaN
261,South Africa,Prevalence of undernourishment (% of population),4.500000,4.400000,4.400000,4.500000,4.800000,5.300000,5.800000,6.100000,NaN,NaN
262,Zambia,Prevalence of undernourishment (% of population),51.500000,50.000000,48.800000,47.700000,46.100000,44.900000,44.400000,44.500000,NaN,NaN
263,Zimbabwe,Prevalence of undernourishment (% of population),42.800000,41.900000,41.300000,41.900000,44.400000,47.000000,48.200000,46.600000,NaN,NaN

In [282]:
class Trade():
    """
    WITS Trade Stats is a database created by aggregating data from UN COMTRADE and UNCTAD TRAINS database. 
    It provides information on bilateral trade exports, imports and tariffs for over 180 countries and regions.
    
    """
    
    
    def __init__(self):
        import pandas as pd

    def __new__(self):
        import logging
        logging.basicConfig(filename="test.log", level=logging.DEBUG)


        file_path = "590PR_final_datasets"
        file_name = "wits_en_trade_summary_allcountries_allyears.zip"

        zf = zipfile.ZipFile(file_path + '/' + file_name) 
        df = []
        for name in zipfile.ZipFile.infolist(zf):
            logging.debug(name.filename)
            try:
                df.append(pd.read_csv(zf.open(name.filename), header=0 ))
            except:
                pass

        frame = pd.concat(df, axis=0, ignore_index=True)
        return frame

In [284]:
Trade()

,Reporter,Partner,Product categories,Indicator Type,Indicator,2015,2014,2013,2012,2011,...,1997,1996,1995,1994,1993,1992,1991,1990,1989,1988
0,Afghanistan,...,...,Development,GDP (current US$ Mil),19702.99,20050.19,20046.33,20536.54,17930.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,...,...,Export,No. Of Export partners,53.00,7.00,7.00,7.00,37.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,...,...,Export,No. Of Export products,43.00,5.00,5.00,5.00,31.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,...,...,Import,No. Of Import partners,85.00,8.00,8.00,8.00,72.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,...,...,Import,No. Of Import products,67.00,15.00,15.00,15.00,64.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,...,...,Tariff,No. Of Tariff Agreement,NaN,NaN,2.00,2.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,...,...,Development,Trade Balance (current US$ Mil),-8235.75,-7860.91,-8710.11,-6905.52,-6829.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,China,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,NaN,NaN,20.28,4.80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,China,All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,1044.00,1038.20,136.25,713.66,577.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,Germany,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,NaN,17.05,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Afghanistan,Germany,All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,NaN,NaN,170.78,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Afghanistan,India,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,188.87,159.98,102.96,69.71,70.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Afghanistan,"Iran, Islamic Rep.",All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,29.16,33.35,42.73,26.61,19.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Afghanistan,"Iran, Islamic Rep.",All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,1807.98,1497.08,715.15,498.59,581.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Afghanistan,Iraq,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,NaN,NaN,NaN,NaN,15.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Afghanistan,Japan,All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,NaN,258.85,NaN,600.50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Afghanistan,Kazakhstan,All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,426.84,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Afghanistan,Pakistan,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,226.57,188.42,198.35,201.39,180.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Afghanistan,Pakistan,All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,1346.41,1327.93,889.15,883.02,877.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Afghanistan,Russian Federation,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,18.51,NaN,NaN,NaN,33.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Afghanistan,Russian Federation,All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,NaN,NaN,NaN,NaN,804.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Afghanistan,Turkey,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Afghanistan,Turkmenistan,All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,632.41,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Afghanistan,United Arab Emirates,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,24.44,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Afghanistan,United States,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Afghanistan,Unspecified,All Products,Export,Trade (US$ Mil)-Top 5 Export Partner,NaN,155.77,141.01,123.11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Afghanistan,Unspecified,All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,NaN,3408.13,6573.14,3102.25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Afghanistan,Uzbekistan,All Products,Import,Trade (US$ Mil)-Top 5 Import Partner,NaN,NaN,NaN,NaN,732.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Afghanistan,World,All Products,Tariff,Duty Free Imports (US$ Thousand),NaN,NaN,59424.34,37430.32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Afghanistan,World,Animal,Export,Export(US$ Mil),2.19,0.27,0.19,1.01,0.62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23977,Zimbabwe,World,Food Products,Export,Export Product share(%),37.51,33.15,29.50,24.96,22.64,...,NaN,NaN,32.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23978,Zimbabwe,World,Footwear,Export,Export Product share(%),0.15,0.12,0.13,0.12,0.09,...,NaN,NaN,0.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23979,Zimbabwe,World,Fuels,Export,Export Product share(%),1.54,0.46,0.95,0.97,0.84,...,NaN,NaN,1.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23980,Zimbabwe,World,Hides and Skins,Export,Export Product share(%),0.42,1.25,1.03,0.84,0.84,...,NaN,NaN,1.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23981,Zimbabwe,World,Intermediate goods,Export,Export Product share(%),39.92,40.72,42.51,38.83,34.75,...,NaN,NaN,34.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23982,Zimbabwe,World,Mach and Elec,Export,Export Product share(%),0.93,1.11,0.78,0.76,0.96,...,NaN,NaN,1.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23983,Zimbabwe,World,Metals,Export,Export Product share(%),7.77,11.12,18.67,13.47,19.16,...,NaN,NaN,21.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23984,Zimbabwe,World,Minerals,Export,Export Product share(%),10.59,13.99,11.38,10.80,11.84,...,NaN,NaN,5.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23985,Zimbabwe,World,Miscellaneous,Export,Export Product share(%),0.90,0.88,1.09,0.67,0.68,...,NaN,NaN,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23986,Zimbabwe,World,Plastic or Rubber,Export,Export Product share(%),0.35,0.43,0.48,0.43,0.31,...,NaN,NaN,0.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23987,Zimbabwe,World,Raw materials,Export,Export Product share(%),53.23,52.57,50.25,55.20,47.51,...,NaN,NaN,42.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23988,Zimbabwe,World,Stone and Glass,Export,Export Product share(%),31.35,29.60,27.75,37.07,19.25,...,NaN,NaN,2.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23989,Zimbabwe,World,Textiles and Clothing,Export,Export Product share(%),2.71,2.89,3.63,6.23,7.96,...,NaN,NaN,9.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23990,Zimbabwe,World,Transportation,Export,Export Product share(%),0.42,0.63,0.81,0.67,0.43,...,NaN,NaN,1.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23991,Zimbabwe,World,Vegetable,Export,Export Product share(%),2.45,1.99,1.78,1.31,1.86,...,NaN,NaN,10.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23992,Zimbabwe,World,Wood,Export,Export Product share(%),1.64,1.25,1.16,1.05,12.32,...,NaN,NaN,3.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23993,Zimbabwe,World,Capital goods,Import,Import Product share(%),21.65,21.00,20.22,21.80,18.09,...,NaN,NaN,39.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23994,Zimbabwe,World,Consumer goods,Import,Import Product share(%),50.76,50.83,44.42,49.80,37.26,...,NaN,NaN,17.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23995,Zimbabwe,World,Intermediate goods,Import,Import Product share(%),19.49,21.27,29.36,19.44,38.37,...,NaN,NaN,28.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23996,Zimbabwe,World,Raw materials,Import,Import Product share(%),7.37,6.16,5.00,8.81,5.78,...,NaN,NaN,3.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23997,Zimbabwe,World,All Products,Tariff,Maximum Rate (%),824.53,NaN,NaN,140.00,140.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23998,Zimbabwe,World,All Products,Tariff,Simple Average (%),13.29,NaN,NaN,17.47,11.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23999,Zimbabwe,World,All Products,Tariff,Weighted Average (%),5.72,NaN,NaN,14.76,5.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24000,Zimbabwe,World,Capital goods,Tariff,Weighted Average (%),4.48,NaN,NaN,12.52,7.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24001,Zimbabwe,World,Consumer goods,Tariff,Weighted Average (%),8.35,NaN,NaN,19.02,10.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24002,Zimbabwe,World,Intermediate goods,Tariff,Weighted Average (%),1.76,NaN,NaN,7.82,0.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24003,Zimbabwe,World,Raw materials,Tariff,Weighted Average (%),1.94,NaN,NaN,11.48,2.62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24004,Zimbabwe,World,All Products,Trade Indicator,World Growth (%),-6.47,0.12,1.01,0.03,9.30,...,NaN,NaN,11.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24005,Zimbabwe,Zambia,All Products,Export,Partner share(%)-Top 5 Export Partner,3.41,3.35,3.30,2.51,2.44,...,NaN,NaN,5.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24006,Zimbabwe,Zambia,All Products,Import,Partner share(%)-Top 5 Import Partner,4.62,2.82,3.40,6.69,2.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN