In [381]:
class GET_DATA(object):
    def __init__(self):
        global logging
        import logging

    
    def Peace(self):
        """
        This is a function to pull the most updated peace data modified from https://www.kaggle.com/kretes/gpi2008-2016

        Global Peace Index (GPI) measures the relative position of nations' and regions' peacefulness.
        The GPI ranks 163 independent states and territories (99.7 per cent of the worldâ€™s population)
        according to their levels of peacefulness. In the past decade, the GPI has presented trends of 
        increased global violence and less peacefulness.

        The lower the number indicates more peace in the region.
        """
        import requests
        import re
        from bs4 import BeautifulSoup
        response = requests.get(url='https://en.wikipedia.org/wiki/Global_Peace_Index')
        soup = BeautifulSoup(response.text, 'html.parser')
        base_year = 2018        #latest year
        years = 9               #number of years to get data
        def get_countries_by_gpi():
            i = 1
            for table in soup.find_all('table', re.compile('wikitable sortable')):
                if table.find_all('th')[0].get_text() == 'Country\n':
                    for tr in table.find_all('tr'):
                        country_name = tr.find_all('a')[0].get_text()
                        if not country_name.startswith('['):
                            row = {'country': country_name}
                            for year, index in zip(range(base_year-years+1,base_year+1),range(2*(years),0,-2)):
                                score = tr.find_all('td')[index].get_text()
                                if score != '' and score != '\n':
                                    row['score_%s' % year] = float(score)
                            yield row

        import pandas as pd
        gpi = pd.DataFrame.from_dict(list(get_countries_by_gpi()))
        # print(gpi)
        gpi.to_csv('gpi_%s-%s.csv' % (base_year-years+1,base_year),index=False)
        return(gpi)    

    
    def Trade(self):
        """
        WITS Trade Stats is a database created by aggregating data from UN COMTRADE and UNCTAD TRAINS database. 
        It provides information on bilateral trade exports, imports and tariffs for over 180 countries and regions.
        """        
        import logging
        logging.basicConfig(filename="test.log", level=logging.DEBUG)
        file_path = "590PR_final_datasets"
        file_name = "wits_en_trade_summary_allcountries_allyears.zip"
        zf = zipfile.ZipFile(file_path + '/' + file_name) 
        df = []
        for name in zipfile.ZipFile.infolist(zf):
            logging.debug(name.filename)
            try:
                df.append(pd.read_csv(zf.open(name.filename), header=0 ))
            except:
                pass
        frame = pd.concat(df, axis=0, ignore_index=True)
        return frame
    
    
    def Hunger(self):
        file_path = "590PR_final_datasets"
        file_name = "Hunger.csv"
        import pandas as pd
        df_hunger = pd.read_csv(file_path + "/" + file_name, na_values = '\t', sep = '\t', header = 0)
        #display(df_hunger)
        list = []
        list.append(df_hunger['Country Name'])
        list.append(df_hunger['Indicator Name'])
        for i in range(2009, 2019):
            year = str(i)
            df = df_hunger[year]
            list.append(df)
        df_new_hunger = pd.concat(list,axis = 1)
        return df_new_hunger
    
    
    def Unemployment(self):
        file_path = "590PR_final_datasets"
        file_name = "unemployment.zip"
        df = pd.read_csv(file_path + '/' + file_name, compression = 'zip')
        return df

    
    def Suicide(self):
        file_path = "590PR_final_datasets"
        file_name = "suicide-rates-overview-1985-to-2016.zip"
        df = pd.read_csv(file_path + '/' + file_name, compression = 'zip')
        return df


    def Freedom(self):
        """The Human Freedom Index presents the state of human freedom in the world based on a broad measure that 
        encompasses personal, civil, and economic freedom. Human freedom is a social concept that recognizes the 
        dignity of individuals and is defined here as negative liberty or the absence of coercive constraint. 
        Because freedom is inherently valuable and plays a role in human progress, it is worth measuring carefully. The Human Freedom Index is a resource that can help to more objectively observe relationships between freedom and other social and economic phenomena, as well as the ways in which the various dimensions of freedom interact with one another.
        """
        file_path = "590PR_final_datasets"
        file_name = "the-human-freedom-index.zip"
        df = pd.read_csv(file_path + '/' + file_name, compression = 'zip')
        return df

    
    def Happiness(self):
        import zipfile
        file_path = "590PR_final_datasets"
        file_name = "world-happiness-report.zip"
        zf = zipfile.ZipFile(file_path + '/' + file_name) 
        df = []
        happy = {}
        for name in zipfile.ZipFile.infolist(zf):
            happy[name.filename] = pd.read_csv(zf.open(name.filename))
        return happy

    
    def GDELT(self, start, end):
        """
        The GDELT Project is the largest, most comprehensive, and highest resolution open database of human society ever created. 
        Just the 2015 data alone records nearly three quarters of a trillion emotional snapshots and more than 1.5 billion location 
        references, while its total archives span more than 215 years, making it one of the largest open-access spatio-temporal 
        datasets in existance and pushing the boundaries of "big data" study of global human society. Its Global Knowledge Graph 
        connects the world's people, organizations, locations, themes, counts, images and emotions into a single holistic network 
        over the entire planet.
        
        This is Gdelt 2.0 (supports from the date after Feb, 2015)
        This function pull the events ids and the country it takes place
        Please input the date in the format of 'yyyy mm dd'.
        
        This function use a package from https://github.com/linwoodc3/gdeltPyR
        """
        import gdelt
        gd = gdelt.gdelt(version=2)
        results = gd.Search([start,end],table='events',coverage=True,translation=False)
        return (results[['GLOBALEVENTID','ActionGeo_FullName']])

    
    def UNODC_crime(self, sheet = None):
        """
        Crime data from UNODC including 
        'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft',
        'Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'
        or type 'ALL' to get all data.
        """
        import pandas as pd
        from pandas import read_excel
#         sheet = input("Please choose crime report from the following categories\n'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft','Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'")         
        if sheet == "ALL":
            sheet = None
        file_path = "590PR_final_datasets"
        file_name = "data-and-metadata-from-crime-victimisation-surveys-2004-2014-xlsx-1.xlsx"
        self.dfs = pd.read_excel(file_path + "/" + file_name, sheetname = sheet, header = 12)
#         logging.debug(self.dfs)
#         logging.debug(self.dfs.keys())
        return self.dfs

    def Poverty(self, sheet = None):
        import zipfile
        file_path = "590PR_final_datasets"
        file_name = "PovStats_csv.zip"
        zf = zipfile.ZipFile(file_path + '/' + file_name) 
        df = []
        pov = {}
        for name in zipfile.ZipFile.infolist(zf):
#             logging.debug(name.filename)
            pov[name.filename] = pd.read_csv(zf.open(name.filename))
#         logging.debug((df))
        if not sheet == None:
            return pov[sheet]
        else:
            return pov

    def Married(self, sheet = None):
        """
        Marriged data from The United Nations Statistics Division.
        http://data.un.org/Data.aspx?q=Marital&d=POP&f=tableCode%3A23
        """
        import pandas as pd
        from pandas import read_excel
#         sheet = input("Please choose crime report from the following categories\n'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft','Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'")         
        if sheet == "ALL":
            sheet = None
        file_path = "590PR_final_datasets"
        file_name = "UNPD_WMD_2017_MARITAL_STATUS.xlsx"
        self.dfs = pd.read_excel(file_path + "/" + file_name, sheetname = sheet, header = 2)
#         logging.debug(self.dfs)
#         logging.debug(self.dfs.keys())
        return self.dfs

In [ ]:
# dir(GET_DATA)

freedom = GET_DATA().Freedom()
gdelt = GET_DATA().GDELT("2016 10 15", "2016 10 16")
happiness = GET_DATA().Happiness()
hunger = GET_DATA().Hunger()
married = GET_DATA().Married('CURRENTLY MARRIED')
peace = GET_DATA().Peace()
# print(GET_DATA().Poverty().keys())
# GET_DATA().Poverty("PovStatsData.csv")
poverty = GET_DATA().Poverty()
suicide = GET_DATA().Suicide
trade = GET_DATA().Trade
crime = GET_DATA().UNODC_crime()
burglary = GET_DATA().UNODC_crime('Burglary')
unemploy = GET_DATA().Unemployment()

In [395]:
hunger = GET_DATA().Hunger()

hunger.rename(columns={'Country Name':'country'}, inplace=True)

peace = GET_DATA().Peace()

In [426]:
married['AgeGroup']=='Total'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
49405    False
49406    False
49407    False
49408    False
49409    False
49410    False
49411    False
49412    False
49413    False
49414    False
49415    False
49416    False
49417    False
49418    False
49419    False
49420    False
49421    False
49422    False
49423    False
49424    False
49425    False
49426    False
49427    False
49428    False
49429    False
49430    False
49431    False
49432    False
49433    False
49434    False
Name: AgeGroup, Length: 49435, dtype: bool

In [422]:
married.groupby(['Country or area']).mean()

,ISO code,YearStart,YearEnd,AgeStart,AgeEnd,DataValue,DataCatalog ID,Including_consensual_unions
Country or area,,,,,,,,
Afghanistan,4.0,1996.200000,1997.110000,37.900000,97.500000,73.162900,3079.960000,NaN
Albania,8.0,2003.275862,2003.551724,38.931034,93.827586,68.063241,2975.986207,1.0
Algeria,12.0,1999.308642,1999.512346,40.679012,101.777778,62.535864,2518.333333,NaN
American Samoa,16.0,1981.703704,1981.703704,43.703704,115.851852,63.505741,2267.962963,NaN
Angola,24.0,2000.104478,2000.701493,38.059701,97.432836,64.713731,3757.597015,1.0
Anguilla,660.0,2001.000000,2001.000000,42.500000,112.214286,39.500000,2544.000000,NaN
Antigua and Barbuda,28.0,1996.416667,1996.416667,42.708333,123.791667,44.105208,1414.416667,1.0
Argentina,32.0,1991.500000,1991.500000,41.400000,119.400000,59.392700,1850.560000,1.0
Armenia,51.0,2007.752066,2007.867769,35.537190,85.735537,63.544545,3821.834711,1.0
Aruba,533.0,1995.500000,1995.500000,42.500000,112.214286,46.505446,1833.250000,NaN
Australia,36.0,1993.872428,1993.872428,43.189300,115.378601,56.071461,2133.613169,NaN
Austria,40.0,1981.353909,1981.378601,42.386831,110.748971,56.861399,2076.000000,1.0
Azerbaijan,31.0,2008.218009,2008.218009,41.966825,107.056872,63.304408,1470.417062,1.0
Bahamas,44.0,1989.855072,1989.855072,42.971014,113.637681,48.067029,1738.304348,1.0
Bahrain,48.0,1995.553398,1995.553398,40.000000,125.165049,61.967379,902.689320,NaN
Bangladesh,50.0,1995.703422,1995.916350,37.490494,90.692015,71.922357,2192.737643,1.0
Barbados,52.0,1988.750000,1988.750000,40.104167,121.395833,36.691875,1990.020833,NaN
Belarus,112.0,1996.967480,1996.967480,39.390244,103.634146,62.817967,1911.219512,1.0
Belgium,56.0,1999.688645,1999.688645,43.333333,114.732601,55.185714,2230.197802,1.0
Belize,84.0,1991.403101,1991.403101,39.418605,115.356589,53.775581,1689.968992,1.0
Benin,204.0,2001.162921,2001.415730,39.747191,85.095506,69.134663,2028.022472,1.0
Bermuda,60.0,1994.962264,1994.962264,44.339623,117.773585,49.961698,2891.698113,NaN
Bhutan,64.0,2006.000000,2006.000000,40.000000,96.571429,65.417429,1881.800000,1.0
Bolivia (Plurinational State of),68.0,1996.989071,1997.158470,38.333333,82.661202,64.068033,2327.633880,1.0
Bosnia and Herzegovina,70.0,2007.000000,2007.500000,30.000000,34.000000,61.186786,3792.500000,1.0
Botswana,72.0,1992.436782,1992.436782,40.114943,107.793103,45.981609,2423.103448,1.0
Brazil,76.0,1987.101010,1987.101010,39.141414,99.151515,61.483636,1753.090909,1.0
British Virgin Islands,92.0,1979.472222,1979.472222,40.972222,122.194444,50.808333,2302.916667,NaN
Brunei Darussalam,96.0,1988.132353,1988.132353,41.544118,113.338235,61.086912,1858.132353,1.0
Bulgaria,100.0,2001.754386,2001.754386,41.973684,110.622807,57.553114,2062.175439,1.0
...,...,...,...,...,...,...,...,...
Tajikistan,762.0,2003.181818,2003.181818,40.330579,105.404959,71.184711,2759.652893,1.0
Thailand,764.0,1991.922581,1992.012903,39.548387,103.096774,61.705806,1696.387097,1.0
The former Yugoslav Republic of Macedonia,807.0,1994.000000,1994.000000,45.000000,119.769231,71.228846,1533.000000,NaN
Timor-Leste,626.0,2008.850746,2009.149254,41.343284,100.268657,65.983284,3898.149254,1.0
Togo,768.0,1997.322751,1997.555556,39.470899,92.201058,64.572116,2924.439153,1.0
Tokelau,772.0,1988.205298,1988.205298,43.543046,120.854305,67.158742,3262.602649,NaN
Tonga,776.0,1997.006711,1997.006711,41.006711,113.228188,60.857987,2322.604027,1.0
Trinidad and Tobago,780.0,1992.333333,1992.333333,38.156028,107.971631,47.450567,2100.609929,1.0
Tunisia,788.0,1986.465278,1986.673611,42.569444,110.527778,65.330069,1699.326389,NaN
Turkey,792.0,1992.874652,1992.972145,39.359331,105.169916,68.811894,1705.793872,NaN
Turkmenistan,795.0,2007.000000,2007.000000,30.000000,34.000000,65.978571,2509.666667,1.0
Turks and Caicos Islands,796.0,1981.473684,1981.473684,41.052632,126.456140,58.197895,2211.859649,NaN
Tuvalu,798.0,1992.654321,1992.654321,42.345679,114.740741,62.421111,2658.481481,NaN
Uganda,800.0,2003.277533,2003.515419,37.929515,82.590308,64.324978,2459.233480,1.0
Ukraine,804.0,2004.051724,2004.051724,34.913793,70.810345,60.631379,979.655172,1.0
United Arab Emirates,784.0,1989.826087,1990.065217,41.413043,126.065217,68.497391,494.695652,NaN
United Kingdom,826.0,1991.855072,1991.855072,42.518116,113.221014,55.989167,2160.536232,1.0
United Republic of Tanzania,834.0,2001.309735,2001.761062,37.699115,79.781711,65.826077,3124.799410,1.0
United States Virgin Islands,850.0,2000.000000,2000.000000,40.000000,128.545455,41.971818,2853.500000,1.0
United States of America,840.0,1992.027027,1992.189189,36.891892,90.891892,55.672703,2665.135135,1.0
Uruguay,858.0,1992.941176,1993.000000,41.764706,107.613445,55.600252,2134.176471,1.0
Uzbekistan,860.0,1996.426230,1996.426230,35.655738,69.983607,73.437541,1555.229508,1.0
Vanuatu,548.0,1994.663551,1994.728972,40.560748,113.719626,68.135607,1622.392523,1.0
Venezuela (Bolivarian Republic of),862.0,1991.517241,1991.517241,42.344828,109.793103,53.983241,2130.241379,1.0
Viet Nam,704.0,2001.819742,2001.879828,37.553648,89.321888,67.110687,2842.888412,1.0
Wallis and Futuna Islands,876.0,1993.671053,1993.671053,42.631579,119.526316,56.759671,3205.381579,NaN
Western Sahara,732.0,1970.000000,1970.000000,42.500000,112.214286,67.030000,1106.000000,1.0
Yemen,887.0,1995.897561,1996.068293,40.634146,98.585366,70.054634,3114.643902,NaN
Zambia,894.0,2000.915441,2001.290441,38.088235,96.647059,63.283493,2427.805147,1.0
Zimbabwe,716.0,2001.602817,2001.830986,40.704225,96.535211,63.710620,2791.470423,1.0

In [418]:
married[['Country or area', 'YearStart', 'DataValue']]

      Country or area  YearStart  DataValue
0         Afghanistan       1972       7.60
1         Afghanistan       1972      31.90
2         Afghanistan       1972      59.10
3         Afghanistan       1972      78.90
4         Afghanistan       1972      87.20
5         Afghanistan       1972      89.70
6         Afghanistan       1972      90.70
7         Afghanistan       1972      91.50
8         Afghanistan       1972      91.50
9         Afghanistan       1972      85.40
10        Afghanistan       1972      78.30
11        Afghanistan       1972      49.70
12        Afghanistan       1972      87.00
13        Afghanistan       1972      94.30
14        Afghanistan       1972      94.20
15        Afghanistan       1972      93.40
16        Afghanistan       1972      84.80
17        Afghanistan       1972      79.40
18        Afghanistan       1972      62.40
19        Afghanistan       1972      54.90
20        Afghanistan       1972      40.70
21        Afghanistan       1972      23.90
22        Afghanistan       1979       0.21
23        Afghanistan       1979       9.10
24        Afghanistan       1979      36.14
25        Afghanistan       1979      64.11
26        Afghanistan       1979      81.99
27        Afghanistan       1979      88.92
28        Afghanistan       1979      91.46
29        Afghanistan       1979      92.88
...               ...        ...        ...
49405        Zimbabwe       2015      89.40
49406        Zimbabwe       2015      89.16
49407        Zimbabwe       2015      89.59
49408        Zimbabwe       2015      88.40
49409        Zimbabwe       2015      87.02
49410        Zimbabwe       2015      90.68
49411        Zimbabwe       2015      91.07
49412        Zimbabwe       2015      85.13
49413        Zimbabwe       2015      81.70
49414        Zimbabwe       2015      81.45
49415        Zimbabwe       2015      19.95
49416        Zimbabwe       2015      19.60
49417        Zimbabwe       2015      61.60
49418        Zimbabwe       2015      60.81
49419        Zimbabwe       2015      77.69
49420        Zimbabwe       2015      77.10
49421        Zimbabwe       2015      82.40
49422        Zimbabwe       2015      80.53
49423        Zimbabwe       2015      79.42
49424        Zimbabwe       2015      78.90
49425        Zimbabwe       2015      73.30
49426        Zimbabwe       2015      73.78
49427        Zimbabwe       2015      64.29
49428        Zimbabwe       2015      65.50
49429        Zimbabwe       2015      60.79
49430        Zimbabwe       2015      57.67
49431        Zimbabwe       2015      46.96
49432        Zimbabwe       2015      43.02
49433        Zimbabwe       2015      32.29
49434        Zimbabwe       2015      19.41

[49435 rows x 3 columns]

In [433]:
def population():
    file_path = "590PR_final_datasets"
    file_name = "API_SP.POP.TOTL_DS2_en_csv_v2_10576638.csv"
    df = pd.read_csv(file_path + '/' + file_name, header= 4)
    return df

population()

,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351,9166764,9345868,9533954,9731361,9938414,...,28803167,29708599,30696958,31731688,32758020,33736494,34656032,35530081,Unnamed: 62,Unnamed: 63
0,Angola,AGO,"Population, total",SP.POP.TOTL,5.643182e+06,5.753024e+06,5.866061e+06,5.980417e+06,6.093321e+06,6.203299e+06,...,2.336913e+07,2.421856e+07,2.509615e+07,2.599834e+07,2.692047e+07,2.785930e+07,2.881346e+07,2.978419e+07,NaN,NaN
1,Albania,ALB,"Population, total",SP.POP.TOTL,1.608800e+06,1.659800e+06,1.711319e+06,1.762621e+06,1.814135e+06,1.864791e+06,...,2.913021e+06,2.905195e+06,2.900401e+06,2.895092e+06,2.889104e+06,2.880703e+06,2.876101e+06,2.873457e+06,NaN,NaN
2,Andorra,AND,"Population, total",SP.POP.TOTL,1.341100e+04,1.437500e+04,1.537000e+04,1.641200e+04,1.746900e+04,1.854900e+04,...,8.444900e+04,8.375100e+04,8.243100e+04,8.078800e+04,7.922300e+04,7.801400e+04,7.728100e+04,7.696500e+04,NaN,NaN
3,Arab World,ARB,"Population, total",SP.POP.TOTL,9.249093e+07,9.504450e+07,9.768229e+07,1.004111e+08,1.032399e+08,1.061750e+08,...,3.565089e+08,3.648959e+08,3.733070e+08,3.817021e+08,3.900430e+08,3.983050e+08,4.064527e+08,4.144919e+08,NaN,NaN
4,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,9.263400e+04,1.010780e+05,1.124720e+05,1.255660e+05,1.385290e+05,1.503620e+05,...,8.270684e+06,8.672475e+06,8.900453e+06,9.006263e+06,9.070867e+06,9.154302e+06,9.269612e+06,9.400145e+06,NaN,NaN
5,Argentina,ARG,"Population, total",SP.POP.TOTL,2.061908e+07,2.095308e+07,2.128768e+07,2.162184e+07,2.195393e+07,2.228339e+07,...,4.122389e+07,4.165688e+07,4.209674e+07,4.253992e+07,4.298152e+07,4.341776e+07,4.384743e+07,4.427104e+07,NaN,NaN
6,Armenia,ARM,"Population, total",SP.POP.TOTL,1.874120e+06,1.941491e+06,2.009526e+06,2.077575e+06,2.144998e+06,2.211316e+06,...,2.877311e+06,2.875581e+06,2.881922e+06,2.893509e+06,2.906220e+06,2.916950e+06,2.924816e+06,2.930450e+06,NaN,NaN
7,American Samoa,ASM,"Population, total",SP.POP.TOTL,2.001300e+04,2.048600e+04,2.111700e+04,2.188200e+04,2.269800e+04,2.352000e+04,...,5.563700e+04,5.532000e+04,5.523000e+04,5.530700e+04,5.543700e+04,5.553700e+04,5.559900e+04,5.564100e+04,NaN,NaN
8,Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,5.533900e+04,5.614400e+04,5.714400e+04,5.829400e+04,5.952400e+04,6.078100e+04,...,9.466100e+04,9.571900e+04,9.677700e+04,9.782400e+04,9.887500e+04,9.992300e+04,1.009630e+05,1.020120e+05,NaN,NaN
9,Australia,AUS,"Population, total",SP.POP.TOTL,1.027648e+07,1.048300e+07,1.074200e+07,1.095000e+07,1.116700e+07,1.138800e+07,...,2.203175e+07,2.234002e+07,2.273346e+07,2.312813e+07,2.347569e+07,2.381600e+07,2.419091e+07,2.460186e+07,NaN,NaN
10,Austria,AUT,"Population, total",SP.POP.TOTL,7.047539e+06,7.086299e+06,7.129864e+06,7.175811e+06,7.223801e+06,7.270889e+06,...,8.363404e+06,8.391643e+06,8.429991e+06,8.479823e+06,8.546356e+06,8.642699e+06,8.736668e+06,8.797566e+06,NaN,NaN
11,Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3.895396e+06,4.030320e+06,4.171425e+06,4.315128e+06,4.456689e+06,4.592610e+06,...,9.054332e+06,9.173082e+06,9.295784e+06,9.416801e+06,9.535079e+06,9.649341e+06,9.757812e+06,9.854033e+06,NaN,NaN
12,Burundi,BDI,"Population, total",SP.POP.TOTL,2.786106e+06,2.839666e+06,2.893669e+06,2.949926e+06,3.010859e+06,3.077876e+06,...,8.766930e+06,9.043508e+06,9.319710e+06,9.600186e+06,9.891790e+06,1.019927e+07,1.052412e+07,1.086424e+07,NaN,NaN
13,Belgium,BEL,"Population, total",SP.POP.TOTL,9.153489e+06,9.183948e+06,9.220578e+06,9.289770e+06,9.378113e+06,9.463667e+06,...,1.089559e+07,1.103826e+07,1.110693e+07,1.115941e+07,1.120906e+07,1.127420e+07,1.133142e+07,1.138239e+07,NaN,NaN
14,Benin,BEN,"Population, total",SP.POP.TOTL,2.431622e+06,2.465867e+06,2.502896e+06,2.542859e+06,2.585965e+06,2.632356e+06,...,9.199259e+06,9.460802e+06,9.729160e+06,1.000445e+07,1.028671e+07,1.057595e+07,1.087230e+07,1.117569e+07,NaN,NaN
15,Burkina Faso,BFA,"Population, total",SP.POP.TOTL,4.829288e+06,4.894580e+06,4.960326e+06,5.027821e+06,5.098890e+06,5.174870e+06,...,1.560522e+07,1.608190e+07,1.657122e+07,1.707272e+07,1.758598e+07,1.811062e+07,1.864643e+07,1.919338e+07,NaN,NaN
16,Bangladesh,BGD,"Population, total",SP.POP.TOTL,4.819975e+07,4.959280e+07,5.103014e+07,5.253242e+07,5.412910e+07,5.583404e+07,...,1.521491e+08,1.539119e+08,1.557271e+08,1.575713e+08,1.594053e+08,1.612009e+08,1.629516e+08,1.646698e+08,NaN,NaN
17,Bulgaria,BGR,"Population, total",SP.POP.TOTL,7.867374e+06,7.943118e+06,8.012946e+06,8.078145e+06,8.144340e+06,8.204168e+06,...,7.395599e+06,7.348328e+06,7.305888e+06,7.265115e+06,7.223938e+06,7.177991e+06,7.127822e+06,7.075947e+06,NaN,NaN
18,Bahrain,BHR,"Population, total",SP.POP.TOTL,1.624270e+05,1.678940e+05,1.731440e+05,1.781400e+05,1.828870e+05,1.874310e+05,...,1.240862e+06,1.278269e+06,1.300217e+06,1.315411e+06,1.336397e+06,1.371855e+06,1.425171e+06,1.492584e+06,NaN,NaN
19,"Bahamas, The",BHS,"Population, total",SP.POP.TOTL,1.095280e+05,1.151080e+05,1.210830e+05,1.273330e+05,1.336980e+05,1.400540e+05,...,3.608320e+05,3.665680e+05,3.720390e+05,3.772400e+05,3.821690e+05,3.868380e+05,3.912320e+05,3.953610e+05,NaN,NaN
20,Bosnia and Herzegovina,BIH,"Population, total",SP.POP.TOTL,3.225668e+06,3.288602e+06,3.353226e+06,3.417574e+06,3.478995e+06,3.535640e+06,...,3.722084e+06,3.688865e+06,3.648200e+06,3.604999e+06,3.566002e+06,3.535961e+06,3.516816e+06,3.507017e+06,NaN,NaN
21,Belarus,BLR,"Population, total",SP.POP.TOTL,8.198000e+06,8.271216e+06,8.351928e+06,8.437232e+06,8.524224e+06,8.610000e+06,...,9.490583e+06,9.473172e+06,9.464495e+06,9.465997e+06,9.474511e+06,9.489616e+06,9.501534e+06,9.498264e+06,NaN,NaN
22,Belize,BLZ,"Population, total",SP.POP.TOTL,9.206400e+04,9.470300e+04,9.738400e+04,1.001640e+05,1.030690e+05,1.061190e+05,...,3.216080e+05,3.291920e+05,3.367010e+05,3.441810e+05,3.516940e+05,3.592880e+05,3.669540e+05,3.746810e+05,NaN,NaN
23,Bermuda,BMU,"Population, total",SP.POP.TOTL,4.440000e+04,4.550000e+04,4.660000e+04,4.770000e+04,4.890000e+04,5.010000e+04,...,6.512400e+04,6.456400e+04,6.479800e+04,6.500100e+04,6.513900e+04,6.523900e+04,6.534100e+04,6.544100e+04,NaN,NaN
24,Bolivia,BOL,"Population, total",SP.POP.TOTL,3.693449e+06,3.764813e+06,3.838097e+06,3.913395e+06,3.990857e+06,4.070590e+06,...,9.918242e+06,1.007834e+07,1.023900e+07,1.040026e+07,1.056216e+07,1.072470e+07,1.088788e+07,1.105160e+07,NaN,NaN
25,Brazil,BRA,"Population, total",SP.POP.TOTL,7.220755e+07,7.435176e+07,7.657325e+07,7.885402e+07,8.116865e+07,8.349802e+07,...,1.967963e+08,1.986867e+08,2.005610e+08,2.024086e+08,2.042131e+08,2.059621e+08,2.076529e+08,2.092883e+08,NaN,NaN
26,Barbados,BRB,"Population, total",SP.POP.TOTL,2.309390e+05,2.316780e+05,2.325860e+05,2.335870e+05,2.345470e+05,2.353740e+05,...,2.795690e+05,2.806010e+05,2.815850e+05,2.825090e+05,2.833850e+05,2.842170e+05,2.849960e+05,2.857190e+05,NaN,NaN
27,Brunei Darussalam,BRN,"Population, total",SP.POP.TOTL,8.174500e+04,8.559600e+04,8.951600e+04,9.357600e+04,9.784800e+04,1.024250e+05,...,3.886620e+05,3.940130e+05,3.997480e+05,4.057160e+05,4.117040e+05,4.175420e+05,4.231960e+05,4.286970e+05,NaN,NaN
28,Bhutan,BTN,"Population, total",SP.POP.TOTL,2.232880e+05,2.289180e+05,2.347060e+05,2.407780e+05,2.473250e+05,2.544640e+05,...,7.276410e+05,7.405100e+05,7.529670e+05,7.649610e+05,7.764480e+05,7.873860e+05,7.977650e+05,8.076100e+05,NaN,NaN
29,Botswana,BWA,"Population, total",SP.POP.TOTL,5.245520e+05,5.372490e+05,5.508400e+05,5.653530e+05,5.807990e+05,5.971900e+05,...,2.014866e+06,2.051339e+06,2.089315e+06,2.128507e+06,2.168573e+06,2.209197e+06,2.250260e+06,2.291661e+06,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Population, total",SP.POP.TOTL,2.103576e+08,2.162859e+08,2.223965e+08,2.286630e+08,2.350485e+08,2.415251e+08,...,5.802468e+08,5.873151e+08,5.943307e+08,6.012772e+08,6.081360e+08,6.148920e+08,6.215349e+08,6.280598e+08,NaN,NaN
233,Timor-Leste,TLS,"Population, total",SP.POP.TOTL,4.999500e+05,5.088450e+05,5.181070e+05,5.277490e+05,5.377860e+05,5.482180e+05,...,1.109591e+06,1.131523e+06,1.156760e+06,1.184366e+06,1.212814e+06,1.240977e+06,1.268671e+06,1.296311e+06,NaN,NaN
234,Middle East & North Africa (IDA & IBRD countries),TMN,"Population, total",SP.POP.TOTL,9.783777e+07,1.004585e+08,1.031472e+08,1.059144e+08,1.087749e+08,1.117382e+08,...,3.317705e+08,3.378950e+08,3.441488e+08,3.504715e+08,3.567833e+08,3.630272e+08,3.691675e+08,3.752170e+08,NaN,NaN
235,Tonga,TON,"Population, total",SP.POP.TOTL,6.160100e+04,6.374500e+04,6.625900e+04,6.900500e+04,7.175700e+04,7.436200e+04,...,1.041370e+05,1.045770e+05,1.049510e+05,1.053280e+05,1.057820e+05,1.063640e+05,1.071220e+05,1.080200e+05,NaN,NaN
236,South Asia (IDA & IBRD),TSA,"Population, total",SP.POP.TOTL,5.718357e+08,5.838941e+08,5.964139e+08,6.093918e+08,6.228226e+08,6.367018e+08,...,1.630807e+09,1.653799e+09,1.676615e+09,1.699310e+09,1.721855e+09,1.744200e+09,1.766394e+09,1.788389e+09,NaN,NaN
237,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Population, total",SP.POP.TOTL,2.285860e+08,2.340086e+08,2.396471e+08,2.455033e+08,2.515764e+08,2.578686e+08,...,8.776284e+08,9.019899e+08,9.270399e+08,9.527341e+08,9.790179e+08,1.005850e+09,1.033213e+09,1.061108e+09,NaN,NaN
238,Trinidad and Tobago,TTO,"Population, total",SP.POP.TOTL,8.484790e+05,8.653600e+05,8.800230e+05,8.925690e+05,9.032750e+05,9.124170e+05,...,1.328100e+06,1.334788e+06,1.341588e+06,1.348248e+06,1.354493e+06,1.360092e+06,1.364962e+06,1.369125e+06,NaN,NaN
239,Tunisia,TUN,"Population, total",SP.POP.TOTL,4.176266e+06,4.235937e+06,4.303131e+06,4.377637e+06,4.458611e+06,4.545339e+06,...,1.063993e+07,1.076147e+07,1.088667e+07,1.101456e+07,1.114391e+07,1.127366e+07,1.140325e+07,1.153213e+07,NaN,NaN
240,Turkey,TUR,"Population, total",SP.POP.TOTL,2.747233e+07,2.814689e+07,2.883280e+07,2.953134e+07,3.024423e+07,3.097296e+07,...,7.232691e+07,7.340946e+07,7.456987e+07,7.578733e+07,7.703063e+07,7.827147e+07,7.951243e+07,8.074502e+07,NaN,NaN
241,Tuvalu,TUV,"Population, total",SP.POP.TOTL,6.104000e+03,6.246000e+03,6.389000e+03,6.538000e+03,6.684000e+03,6.815000e+03,...,1.053100e+04,1.062800e+04,1.072500e+04,1.081900e+04,1.090800e+04,1.100100e+04,1.109700e+04,1.119200e+04,NaN,NaN
242,Tanzania,TZA,"Population, total",SP.POP.TOTL,1.007451e+07,1.037340e+07,1.068391e+07,1.100590e+07,1.133910e+07,1.168353e+07,...,4.609859e+07,4.757090e+07,4.908300e+07,5.063660e+07,5.223487e+07,5.387996e+07,5.557220e+07,5.731002e+07,NaN,NaN
243,Uganda,UGA,"Population, total",SP.POP.TOTL,6.788214e+06,7.006633e+06,7.240174e+06,7.487429e+06,7.746198e+06,8.014401e+06,...,3.391513e+07,3.509365e+07,3.630680e+07,3.755373e+07,3.883334e+07,4.014487e+07,4.148796e+07,4.286296e+07,NaN,NaN
244,Ukraine,UKR,"Population, total",SP.POP.TOTL,4.266215e+07,4.320364e+07,4.374947e+07,4.428590e+07,4.479433e+07,4.526194e+07,...,4.587070e+07,4.570610e+07,4.559330e+07,4.548960e+07,4.527195e+07,4.515403e+07,4.500464e+07,4.483114e+07,NaN,NaN
245,Upper middle income,UMC,"Population, total",SP.POP.TOTL,1.150569e+09,1.154967e+09,1.171821e+09,1.200060e+09,1.227974e+09,1.256856e+09,...,2.440543e+09,2.459176e+09,2.478492e+09,2.498184e+09,2.517980e+09,2.537437e+09,2.556922e+09,2.576181e+09,NaN,NaN
246,Uruguay,URY,"Population, total",SP.POP.TOTL,2.538651e+06,2.571690e+06,2.603887e+06,2.635129e+06,2.665390e+06,2.694537e+06,...,3.374415e+06,3.385624e+06,3.396777e+06,3.408005e+06,3.419546e+06,3.431552e+06,3.444006e+06,3.456750e+06,NaN,NaN
247,United States,USA,"Population, total",SP.POP.TOTL,1.806710e+08,1.836910e+08,1.865380e+08,1.892420e+08,1.918890e+08,1.943030e+08,...,3.093261e+08,3.115800e+08,3.138742e+08,3.160577e+08,3.183864e+08,3.207427e+08,3.230713e+08,3.251471e+08,NaN,NaN
248,Uzbekistan,UZB,"Population, total",SP.POP.TOTL,8.549493e+06,8.837349e+06,9.138097e+06,9.454250e+06,9.788986e+06,1.014374e+07,...,2.856240e+07,2.933940e+07,2.977450e+07,3.024320e+07,3.075770e+07,3.129890e+07,3.184790e+07,3.238720e+07,NaN,NaN
249,St. Vincent and the Grenadines,VCT,"Population, total",SP.POP.TOTL,8.094900e+04,8.214200e+04,8.320600e+04,8.416700e+04,8.506900e+04,8.597000e+04,...,1.093150e+05,1.093410e+05,1.093280e+05,1.093200e+05,1.093570e+05,1.094550e+05,1.096430e+05,1.098970e+05,NaN,NaN
250,"Venezuela, RB",VEN,"Population, total",SP.POP.TOTL,8.146847e+06,8.461685e+06,8.790589e+06,9.130349e+06,9.476252e+06,9.824692e+06,...,2.902803e+07,2.946329e+07,2.989308e+07,3.031785e+07,3.073838e+07,3.115513e+07,3.156818e+07,3.197706e+07,NaN,NaN
251,British Virgin Islands,VGB,"Population, total",SP.POP.TOTL,8.033000e+03,8.155000e+03,8.298000e+03,8.452000e+03,8.627000e+03,8.814000e+03,...,2.722400e+04,2.790100e+04,2.850900e+04,2.905600e+04,2.958800e+04,3.011300e+04,3.066100e+04,3.119600e+04,NaN,NaN
252,Virgin Islands (U.S.),VIR,"Population, total",SP.POP.TOTL,3.250000e+04,3.430000e+04,3.500000e+04,3.980000e+04,4.080000e+04,4.350000e+04,...,1.083580e+05,1.082920e+05,1.081910e+05,1.080440e+05,1.078840e+05,1.077100e+05,1.075100e+05,1.072680e+05,NaN,NaN
253,Vietnam,VNM,"Population, total",SP.POP.TOTL,3.267063e+07,3.366677e+07,3.468416e+07,3.572209e+07,3.678098e+07,3.786001e+07,...,8.847251e+07,8.943664e+07,9.045188e+07,9.149772e+07,9.254492e+07,9.357157e+07,9.456907e+07,9.554080e+07,NaN,NaN
254,Vanuatu,VUT,"Population, total",SP.POP.TOTL,6.369900e+04,6.571300e+04,6.780800e+04,6.996400e+04,7.213100e+04,7.428900e+04,...,2.362950e+05,2.418710e+05,2.474850e+05,2.531420e+05,2.588500e+05,2.646030e+05,2.704020e+05,2.762440e+05,NaN,NaN
255,World,WLD,"Population, total",SP.POP.TOTL,3.032250e+09,3.073415e+09,3.126522e+09,3.191776e+09,3.257441e+09,3.324539e+09,...,6.932596e+09,7.014792e+09,7.099312e+09,7.184861e+09,7.271058e+09,7.357234e+09,7.443811e+09,7.529719e+09,NaN,NaN
256,Samoa,WSM,"Population, total",SP.POP.TOTL,1.086460e+05,1.121190e+05,1.157880e+05,1.195610e+05,1.233540e+05,1.270680e+05,...,1.862050e+05,1.876650e+05,1.891940e+05,1.907570e+05,1.922900e+05,1.937590e+05,1.951250e+05,1.964400e+05,NaN,NaN
257,Kosovo,XKX,"Population, total",SP.POP.TOTL,9.470000e+05,9.660000e+05,9.940000e+05,1.022000e+06,1.050000e+06,1.078000e+06,...,1.775680e+06,1.791000e+06,1.805200e+06,1.824100e+06,1.821800e+06,1.801800e+06,1.816200e+06,1.830700e+06,NaN,NaN
258,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5.172135e+06,5.260501e+06,5.351799e+06,5.446063e+06,5.543339e+06,5.643643e+06,...,2.360678e+07,2.425221e+07,2.490997e+07,2.557632e+07,2.624633e+07,2.691621e+07,2.758421e+07,2.825042e+07,NaN,NaN
259,South Africa,ZAF,"Population, total",SP.POP.TOTL,1.745686e+07,1.792067e+07,1.840161e+07,1.889928e+07,1.941298e+07,1.994230e+07,...,5.158466e+07,5.226352e+07,5.299821e+07,5.376740e+07,5.453957e+07,5.529122e+07,5.601547e+07,5.671716e+07,NaN,NaN
260,Zambia,ZMB,"Population, total",SP.POP.TOTL,3.044846e+06,3.140264e+06,3.240587e+06,3.345145e+06,3.452942e+06,3.563407e+06,...,1.385003e+07,1.426476e+07,1.469994e+07,1.515321e+07,1.562097e+07,1.610059e+07,1.659139e+07,1.709413e+07,NaN,NaN
261,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3.747369e+06,3.870756e+06,3.999419e+06,4.132756e+06,4.269863e+06,4.410212e+06,...,1.408632e+07,1.438665e+07,1.471083e+07,1.505451e+07,1.541168e+07,1.577745e+07,1.615036e+07,1.652990e+07,NaN,NaN

In [493]:
def marital():
    file_path = "590PR_final_datasets"
    file_name = "UNdata_MARITAL_STATUS_2010-2013.csv"
    df = pd.read_csv(file_path + '/' + file_name)
    df.drop(df.tail(74).index,inplace=True)
    
    #     df.dropna(inplace=True)

    file_name = "UNdata_MARITAL_STATUS_2014-2017.csv"
    df2 = pd.read_csv(file_path + '/' + file_name)
    df2.drop(df2.tail(54).index,inplace=True)

    df_all = pd.concat([df, df2], axis= 0).reset_index(drop=True)
    return df_all

In [676]:
married = marital()
married = married.astype({"Year": int}, copy = False)
# married['Year'].astype('category').values.categories
married[married['Marital status']=='Total']

C:\Users\worawich-win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

,Country or Area,Year,Area,Sex,Age,Marital status,Record Type,Reliability,Source Year,Value,Value Footnotes
0,Ã…land Islands,2013,Total,Male,Total,Total,Estimate - de jure,"Final figure, complete",2014.0,1.425500e+04,1
5,Ã…land Islands,2013,Total,Male,0 - 14,Total,Estimate - de jure,"Final figure, complete",2014.0,2.424000e+03,1
10,Ã…land Islands,2013,Total,Male,15 - 19,Total,Estimate - de jure,"Final figure, complete",2014.0,8.400000e+02,1
15,Ã…land Islands,2013,Total,Male,20 - 24,Total,Estimate - de jure,"Final figure, complete",2014.0,8.620000e+02,1
20,Ã…land Islands,2013,Total,Male,25 - 29,Total,Estimate - de jure,"Final figure, complete",2014.0,8.000000e+02,1
25,Ã…land Islands,2013,Total,Male,30 - 34,Total,Estimate - de jure,"Final figure, complete",2014.0,9.080000e+02,1
30,Ã…land Islands,2013,Total,Male,35 - 39,Total,Estimate - de jure,"Final figure, complete",2014.0,9.240000e+02,1
35,Ã…land Islands,2013,Total,Male,40 - 44,Total,Estimate - de jure,"Final figure, complete",2014.0,9.400000e+02,1
40,Ã…land Islands,2013,Total,Male,45 - 49,Total,Estimate - de jure,"Final figure, complete",2014.0,1.053000e+03,1
45,Ã…land Islands,2013,Total,Male,50 - 54,Total,Estimate - de jure,"Final figure, complete",2014.0,9.570000e+02,1
50,Ã…land Islands,2013,Total,Male,55 - 59,Total,Estimate - de jure,"Final figure, complete",2014.0,9.500000e+02,1
55,Ã…land Islands,2013,Total,Male,60 - 64,Total,Estimate - de jure,"Final figure, complete",2014.0,9.700000e+02,1
60,Ã…land Islands,2013,Total,Male,65 - 69,Total,Estimate - de jure,"Final figure, complete",2014.0,9.760000e+02,1
65,Ã…land Islands,2013,Total,Male,70 - 74,Total,Estimate - de jure,"Final figure, complete",2014.0,6.650000e+02,1
70,Ã…land Islands,2013,Total,Male,75 - 79,Total,Estimate - de jure,"Final figure, complete",2014.0,4.370000e+02,1
75,Ã…land Islands,2013,Total,Male,80 - 84,Total,Estimate - de jure,"Final figure, complete",2014.0,3.060000e+02,1
80,Ã…land Islands,2013,Total,Male,85 - 89,Total,Estimate - de jure,"Final figure, complete",2014.0,1.810000e+02,1
85,Ã…land Islands,2013,Total,Male,90 - 94,Total,Estimate - de jure,"Final figure, complete",2014.0,5.600000e+01,1
90,Ã…land Islands,2013,Total,Male,95 - 99,Total,Estimate - de jure,"Final figure, complete",2014.0,1.000000e+01,1
95,Ã…land Islands,2013,Total,Male,100 +,Total,Estimate - de jure,"Final figure, complete",2014.0,2.000000e+00,1
100,Ã…land Islands,2013,Total,Female,Total,Total,Estimate - de jure,"Final figure, complete",2014.0,1.432950e+04,1
105,Ã…land Islands,2013,Total,Female,0 - 14,Total,Estimate - de jure,"Final figure, complete",2014.0,2.238000e+03,1
110,Ã…land Islands,2013,Total,Female,15 - 19,Total,Estimate - de jure,"Final figure, complete",2014.0,8.420000e+02,1
115,Ã…land Islands,2013,Total,Female,20 - 24,Total,Estimate - de jure,"Final figure, complete",2014.0,7.020000e+02,1
120,Ã…land Islands,2013,Total,Female,25 - 29,Total,Estimate - de jure,"Final figure, complete",2014.0,7.395000e+02,1
125,Ã…land Islands,2013,Total,Female,30 - 34,Total,Estimate - de jure,"Final figure, complete",2014.0,8.205000e+02,1
130,Ã…land Islands,2013,Total,Female,35 - 39,Total,Estimate - de jure,"Final figure, complete",2014.0,8.730000e+02,1
135,Ã…land Islands,2013,Total,Female,40 - 44,Total,Estimate - de jure,"Final figure, complete",2014.0,9.480000e+02,1
140,Ã…land Islands,2013,Total,Female,45 - 49,Total,Estimate - de jure,"Final figure, complete",2014.0,1.099000e+03,1
145,Ã…land Islands,2013,Total,Female,50 - 54,Total,Estimate - de jure,"Final figure, complete",2014.0,9.895000e+02,1
...,...,...,...,...,...,...,...,...,...,...,...
108476,Switzerland,2014,Total,Male,65 - 69,Total,Estimate - de jure,"Final figure, complete",2015.0,2.071580e+05,33
108483,Switzerland,2014,Total,Male,70 - 74,Total,Estimate - de jure,"Final figure, complete",2015.0,1.591790e+05,33
108490,Switzerland,2014,Total,Male,75 - 79,Total,Estimate - de jure,"Final figure, complete",2015.0,1.168910e+05,33
108497,Switzerland,2014,Total,Male,80 - 84,Total,Estimate - de jure,"Final figure, complete",2015.0,8.136400e+04,33
108504,Switzerland,2014,Total,Male,85 - 89,Total,Estimate - de jure,"Final figure, complete",2015.0,4.361300e+04,33
108511,Switzerland,2014,Total,Male,90 - 94,Total,Estimate - de jure,"Final figure, complete",2015.0,1.549600e+04,33
108518,Switzerland,2014,Total,Male,95 - 99,Total,Estimate - de jure,"Final figure, complete",2015.0,2.477000e+03,33
108525,Switzerland,2014,Total,Male,100 +,Total,Estimate - de jure,"Final figure, complete",2015.0,2.740000e+02,33
108532,Switzerland,2014,Total,Female,Total,Total,Estimate - de jure,"Final figure, complete",2015.0,4.117540e+06,33
108539,Switzerland,2014,Total,Female,0 - 14,Total,Estimate - de jure,"Final figure, complete",2015.0,5.895550e+05,33
108546,Switzerland,2014,Total,Female,15 - 19,Total,Estimate - de jure,"Final figure, complete",2015.0,2.149330e+05,33
108553,Switzerland,2014,Total,Female,20 - 24,Total,Estimate - de jure,"Final figure, complete",2015.0,2.453870e+05,33
108560,Switzerland,2014,Total,Female,25 - 29,Total,Estimate - de jure,"Final figure, complete",2015.0,2.686850e+05,33
108567,Switzerland,2014,Total,Female,30 - 34,Total,Estimate - de jure,"Final figure, complete",2015.0,2.825890e+05,33
108574,Switzerland,2014,Total,Female,35 - 39,Total,Estimate - de jure,"Final figure, complete",2015.0,2.782350e+05,33
108581,Switzerland,2014,Total,Female,40 - 44,Total,Estimate - de jure,"Final figure, complete",2015.0,3.008420e+05,33
108588,Switzerland,2014,Total,Female,45 - 49,Total,Estimate - de jure,"Final figure, complete",2015.0,3.301670e+05,33
108595,Switzerland,2014,Total,Female,50 - 54,Total,Estimate - de jure,"Final figure, complete",2015.0,3.073650e+05,33
108602,Switzerland,2014,Total,Female,55 - 59,Total,Estimate - de jure,"Final figure, complete",2015.0,2.610230e+05,33
108609,Switzerland,2014,Total,Female,60 - 64,Total,Estimate - de jure,"Final figure, complete",2015.0,2.324640e+05,33
108616,Switzerland,2014,Total,Female,65 - 69,Total,Estimate - de jure,"Final figure, complete",2015.0,2.202680e+05,33
108623,Switzerland,2014,Total,Female,70 - 74,Total,Estimate - de jure,"Final figure, complete",2015.0,1.818930e+05,33
108630,Switzerland,2014,Total,Female,75 - 79,Total,Estimate - de jure,"Final figure, complete",2015.0,1.486370e+05,33
108637,Switzerland,2014,Total,Female,80 - 84,Total,Estimate - de jure,"Final figure, complete",2015.0,1.231890e+05,33
108644,Switzerland,2014,Total,Female,85 - 89,Total,Estimate - de jure,"Final figure, complete",2015.0,8.372600e+04,33
108651,Switzerland,2014,Total,Female,90 - 94,Total,Estimate - de jure,"Final figure, complete",2015.0,3.871400e+04,33
108658,Switzerland,2014,Total,Female,95 - 99,Total,Estimate - de jure,"Final figure, complete",2015.0,8.647000e+03,33
108665,Switzerland,2014,Total,Female,100 +,Total,Estimate - de jure,"Final figure, complete",2015.0,1.221000e+03,33
108672,Tunisia,2014,Total,Male,Total,Total,Census - de facto - complete tabulation,"Final figure, complete",2015.0,5.472338e+06,NaN
108678,Tunisia,2014,Total,Female,Total,Total,Census - de facto - complete tabulation,"Final figure, complete",2015.0,5.510416e+06,NaN

In [669]:
married['Year'].astype('category').values.categories

Index([  2010,   2011,   2012,   2013, '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017'],
      dtype='object')

In [655]:
married.astype({"Year": int})

,Country or Area,Year,Area,Sex,Age,Marital status,Record Type,Reliability,Source Year,Value,Value Footnotes
0,Ã…land Islands,2013,Total,Male,Total,Total,Estimate - de jure,"Final figure, complete",2014.0,1.425500e+04,1
1,Ã…land Islands,2013,Total,Male,Total,Single (never married),Estimate - de jure,"Final figure, complete",2014.0,7.863000e+03,1
2,Ã…land Islands,2013,Total,Male,Total,Married,Estimate - de jure,"Final figure, complete",2014.0,5.062000e+03,1
3,Ã…land Islands,2013,Total,Male,Total,Widowed and not remarried,Estimate - de jure,"Final figure, complete",2014.0,3.020000e+02,1
4,Ã…land Islands,2013,Total,Male,Total,Divorced and not remarried,Estimate - de jure,"Final figure, complete",2014.0,1.029000e+03,1
5,Ã…land Islands,2013,Total,Male,0 - 14,Total,Estimate - de jure,"Final figure, complete",2014.0,2.424000e+03,1
6,Ã…land Islands,2013,Total,Male,0 - 14,Single (never married),Estimate - de jure,"Final figure, complete",2014.0,2.424000e+03,1
7,Ã…land Islands,2013,Total,Male,0 - 14,Married,Estimate - de jure,"Final figure, complete",2014.0,0.000000e+00,1
8,Ã…land Islands,2013,Total,Male,0 - 14,Widowed and not remarried,Estimate - de jure,"Final figure, complete",2014.0,0.000000e+00,1
9,Ã…land Islands,2013,Total,Male,0 - 14,Divorced and not remarried,Estimate - de jure,"Final figure, complete",2014.0,0.000000e+00,1
10,Ã…land Islands,2013,Total,Male,15 - 19,Total,Estimate - de jure,"Final figure, complete",2014.0,8.400000e+02,1
11,Ã…land Islands,2013,Total,Male,15 - 19,Single (never married),Estimate - de jure,"Final figure, complete",2014.0,8.400000e+02,1
12,Ã…land Islands,2013,Total,Male,15 - 19,Married,Estimate - de jure,"Final figure, complete",2014.0,0.000000e+00,1
13,Ã…land Islands,2013,Total,Male,15 - 19,Widowed and not remarried,Estimate - de jure,"Final figure, complete",2014.0,0.000000e+00,1
14,Ã…land Islands,2013,Total,Male,15 - 19,Divorced and not remarried,Estimate - de jure,"Final figure, complete",2014.0,0.000000e+00,1
15,Ã…land Islands,2013,Total,Male,20 - 24,Total,Estimate - de jure,"Final figure, complete",2014.0,8.620000e+02,1
16,Ã…land Islands,2013,Total,Male,20 - 24,Single (never married),Estimate - de jure,"Final figure, complete",2014.0,8.460000e+02,1
17,Ã…land Islands,2013,Total,Male,20 - 24,Married,Estimate - de jure,"Final figure, complete",2014.0,1.400000e+01,1
18,Ã…land Islands,2013,Total,Male,20 - 24,Widowed and not remarried,Estimate - de jure,"Final figure, complete",2014.0,0.000000e+00,1
19,Ã…land Islands,2013,Total,Male,20 - 24,Divorced and not remarried,Estimate - de jure,"Final figure, complete",2014.0,2.000000e+00,1
20,Ã…land Islands,2013,Total,Male,25 - 29,Total,Estimate - de jure,"Final figure, complete",2014.0,8.000000e+02,1
21,Ã…land Islands,2013,Total,Male,25 - 29,Single (never married),Estimate - de jure,"Final figure, complete",2014.0,7.170000e+02,1
22,Ã…land Islands,2013,Total,Male,25 - 29,Married,Estimate - de jure,"Final figure, complete",2014.0,7.600000e+01,1
23,Ã…land Islands,2013,Total,Male,25 - 29,Widowed and not remarried,Estimate - de jure,"Final figure, complete",2014.0,0.000000e+00,1
24,Ã…land Islands,2013,Total,Male,25 - 29,Divorced and not remarried,Estimate - de jure,"Final figure, complete",2014.0,7.000000e+00,1
25,Ã…land Islands,2013,Total,Male,30 - 34,Total,Estimate - de jure,"Final figure, complete",2014.0,9.080000e+02,1
26,Ã…land Islands,2013,Total,Male,30 - 34,Single (never married),Estimate - de jure,"Final figure, complete",2014.0,6.450000e+02,1
27,Ã…land Islands,2013,Total,Male,30 - 34,Married,Estimate - de jure,"Final figure, complete",2014.0,2.300000e+02,1
28,Ã…land Islands,2013,Total,Male,30 - 34,Widowed and not remarried,Estimate - de jure,"Final figure, complete",2014.0,0.000000e+00,1
29,Ã…land Islands,2013,Total,Male,30 - 34,Divorced and not remarried,Estimate - de jure,"Final figure, complete",2014.0,3.400000e+01,1
...,...,...,...,...,...,...,...,...,...,...,...
108654,Switzerland,2014,Total,Female,90 - 94,In consensual union,Estimate - de jure,"Final figure, complete",2015.0,0.000000e+00,33
108655,Switzerland,2014,Total,Female,90 - 94,Widowed and not remarried,Estimate - de jure,"Final figure, complete",2015.0,2.976000e+04,33
108656,Switzerland,2014,Total,Female,90 - 94,Divorced and not remarried,Estimate - de jure,"Final figure, complete",2015.0,2.031000e+03,33
108657,Switzerland,2014,Total,Female,90 - 94,Unknown,Estimate - de jure,"Final figure, complete",2015.0,0.000000e+00,33
108658,Switzerland,2014,Total,Female,95 - 99,Total,Estimate - de jure,"Final figure, complete",2015.0,8.647000e+03,33
108659,Switzerland,2014,Total,Female,95 - 99,Single (never married),Estimate - de jure,"Final figure, complete",2015.0,9.400000e+02,33
108660,Switzerland,2014,Total,Female,95 - 99,Married,Estimate - de jure,"Final figure, complete",2015.0,2.480000e+02,33
108661,Switzerland,2014,Total,Female,95 - 99,In consensual union,Estimate - de jure,"Final figure, complete",2015.0,0.000000e+00,33
108662,Switzerland,2014,Total,Female,95 - 99,Widowed and not remarried,Estimate - de jure,"Final figure, complete",2015.0,7.067000e+03,33
108663,Switzerland,2014,Total,Female,95 - 99,Divorced and not remarried,Estimate - de jure,"Final figure, complete",2015.0,3.920000e+02,33
108664,Switzerland,2014,Total,Female,95 - 99,Unknown,Estimate - de jure,"Final figure, complete",2015.0,0.000000e+00,33
108665,Switzerland,2014,Total,Female,100 +,Total,Estimate - de jure,"Final figure, complete",2015.0,1.221000e+03,33
108666,Switzerland,2014,Total,Female,100 +,Single (never married),Estimate - de jure,"Final figure, complete",2015.0,1.540000e+02,33
108667,Switzerland,2014,Total,Female,100 +,Married,Estimate - de jure,"Final figure, complete",2015.0,1.200000e+01,33
108668,Switzerland,2014,Total,Female,100 +,In consensual union,Estimate - de jure,"Final figure, complete",2015.0,0.000000e+00,33
108669,Switzerland,2014,Total,Female,100 +,Widowed and not remarried,Estimate - de jure,"Final figure, complete",2015.0,9.880000e+02,33
108670,Switzerland,2014,Total,Female,100 +,Divorced and not remarried,Estimate - de jure,"Final figure, complete",2015.0,6.700000e+01,33
108671,Switzerland,2014,Total,Female,100 +,Unknown,Estimate - de jure,"Final figure, complete",2015.0,0.000000e+00,33
108672,Tunisia,2014,Total,Male,Total,Total,Census - de facto - complete tabulation,"Final figure, complete",2015.0,5.472338e+06,NaN
108673,Tunisia,2014,Total,Male,Total,Single (never married),Census - de facto - complete tabulation,"Final figure, complete",2015.0,3.056254e+06,NaN
108674,Tunisia,2014,Total,Male,Total,Married,Census - de facto - complete tabulation,"Final figure, complete",2015.0,2.335624e+06,NaN
108675,Tunisia,2014,Total,Male,Total,Widowed and not remarried,Census - de facto - complete tabulation,"Final figure, complete",2015.0,2.881788e+04,NaN
108676,Tunisia,2014,Total,Male,Total,Divorced and not remarried,Census - de facto - complete tabulation,"Final figure, complete",2015.0,4.603643e+04,NaN
108677,Tunisia,2014,Total,Male,Total,Unknown,Census - de facto - complete tabulation,"Final figure, complete",2015.0,5.606765e+03,NaN
108678,Tunisia,2014,Total,Female,Total,Total,Census - de facto - complete tabulation,"Final figure, complete",2015.0,5.510416e+06,NaN
108679,Tunisia,2014,Total,Female,Total,Single (never married),Census - de facto - complete tabulation,"Final figure, complete",2015.0,2.637923e+06,NaN
108680,Tunisia,2014,Total,Female,Total,Married,Census - de facto - complete tabulation,"Final figure, complete",2015.0,2.400245e+06,NaN
108681,Tunisia,2014,Total,Female,Total,Widowed and not remarried,Census - de facto - complete tabulation,"Final figure, complete",2015.0,8.221894e+04,NaN
108682,Tunisia,2014,Total,Female,Total,Divorced and not remarried,Census - de facto - complete tabulation,"Final figure, complete",2015.0,3.848342e+05,NaN
108683,Tunisia,2014,Total,Female,Total,Unknown,Census - de facto - complete tabulation,"Final figure, complete",2015.0,5.194480e+03,NaN

In [541]:
m2 = married.loc[(married['Marital status']=='Total') & (married['Age']=='Total')]

m2[m2['Year'] == 2013].groupby(['Country or Area']).sum()

                 Source Year       Value
Country or Area
Azerbaijan            4028.0   9416801.0
Canada                4030.0  35154279.0
Costa Rica            4030.0   4711986.0
Czechia               4026.0  10516125.0
Denmark               4026.0   5608784.0
Faeroe Islands        4030.0     48092.0
Finland               4028.0   5410388.5
France                4030.0  63786141.0
Germany               4026.0  82020578.0
Greenland             4028.0     56483.0
Hungary               4028.0   9893081.5
Iceland               4028.0    323764.0
Israel                4032.0   8059456.0
Italy                 4028.0  60233947.5
Latvia                4026.0   2023825.0
Liechtenstein         4026.0     36947.0
Lithuania             4026.0   2971905.0
San Marino            4026.0     32471.0
Saudi Arabia          4032.0  13038299.0
Slovakia              4028.0   5413392.5
Slovenia              4028.0   2059114.0
Ã…land Islands         4028.0     28584.5

In [683]:
married = marital()
married = married.astype({"Year": int}, copy = False)

# percent_married = pd.DataFrame()
percent_married = []
for i in range(8):
    total = married.loc[(married['Marital status']=='Total') & (married['Age']=='Total')].groupby(['Year', 'Country or Area'], as_index=False).sum()
    single = married.loc[(married['Marital status']=='Single (never married)') & (married['Age']=='Total')].groupby(['Year', 'Country or Area'], as_index=False).sum()
    single_pop = single[single['Year'] == 2010+i].groupby(['Year', 'Country or Area']).sum()['Value']
    total_pop = total[total['Year'] == 2010+i].groupby(['Year', 'Country or Area']).sum()['Value']
    percent_married.append(((total_pop-single_pop)/total_pop))
percent_married

C:\Users\worawich-win\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2903: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

[Year  Country or Area
 2010  Argentina                                               0.480960
       Aruba                                                   0.482935
       Bahamas                                                 0.391690
       Barbados                                                0.334383
       Denmark                                                 0.530201
       Finland                                                 0.526326
       France                                                  0.508185
       Georgia                                                      NaN
       Greenland                                               0.364365
       Hungary                                                 0.574902
       Iceland                                                 0.534270
       Israel                                                  0.495046
       Italy                                                   0.588717
       Latvia                                                  0.576590
       Liechtenstein                                           0.569561
       Lithuania                                               0.591905
       Malaysia                                                0.469690
       Malta                                                   0.566375
       Netherlands                                             0.535335
       Norway                                                  0.494849
       Philippines                                             0.438413
       Puerto Rico                                             0.635702
       Romania                                                 0.620755
       Russian Federation                                      0.831846
       San Marino                                              0.626359
       Seychelles                                              0.453175
       Slovakia                                                0.567415
       Slovenia                                                0.530440
       Sweden                                                  0.485594
       United Kingdom of Great Britain and Northern Ireland    0.524152
       Ã…land Islands                                           0.493174
 Name: Value, dtype: float64,
 Year  Country or Area
 2011  Albania                                                 0.574818
       Austria                                                 0.712160
       Belgium                                                 0.560814
       Botswana                                                0.442923
       Brunei Darussalam                                       0.469703
       Bulgaria                                                0.663387
       Canada                                                  0.599023
       China, Hong Kong SAR                                    0.604457
       Cook Islands                                            0.663409
       Croatia                                                 0.603298
       CuraÃ§ao                                                 0.402609
       Cyprus                                                  0.589567
       Czechia                                                 0.600603
       Denmark                                                 0.528047
       Finland                                                 0.525939
       France                                                  0.505134
       Germany                                                 0.593409
       Greece                                                  0.609156
       Greenland                                               0.361884
       Hungary                                                 0.574223
       Iceland                                                 0.533261
       Ireland                                                 0.458283
       Isle of Man                                             0.572517
       Israel                                                  0.494271
       Italy                                                   0.587861
       Jamaica                                                 0.229094
       Latvia                                                  0.581085
       Liechtenstein                                           0.570188
       Lithuania                                               0.606295
       Luxembourg                                              0.556923
       Malta                                                   0.567148
       Mauritius                                               0.574023
       Montenegro                                              0.737283
       Montserrat                                              0.547135
       Namibia                                                 0.259345
       Nepal                                                   0.643698
       Netherlands                                             0.533297
       Norfolk Island                                          0.724153
       Norway                                                  0.548940
       Poland                                                  0.616493
       Portugal                                                0.595445
       Romania                                                 0.619226
       San Marino                                              0.624655
       Sint Maarten (Dutch part)                               0.609807
       Slovakia                                                0.577279
       Slovenia                                                0.556878
       South Africa                                            0.350386
       Spain                                                   0.564788
       Sweden                                                  0.484097
       Switzerland                                             0.568711
       Trinidad and Tobago                                     0.550115
       Turkey                                                  0.730850
       United Kingdom of Great Britain and Northern Ireland    0.530403
       Venezuela (Bolivarian Republic of)                      0.538467
       Ã…land Islands                                           0.491821
 Name: Value, dtype: float64,
 Year  Country or Area
 2012  Austria                                  NaN
       Azerbaijan                          0.549910
       Bolivia (Plurinational State of)    0.725464
       Czechia                             0.597706
       Denmark                             0.525616
       Finland                             0.524961
       France                              0.503155
       Germany                             0.577006
       Gibraltar                           0.576350
       Greenland                           0.360993
       Hungary                             0.571633
       Iceland                             0.531417
       Israel                              0.493744
       Italy                               0.585343
       Norway                              0.489200
       Romania                             0.620281
       San Marino                          0.623148
       Slovakia                            0.569059
       Slovenia                            0.521903
       Sri Lanka                           0.555217
       Sweden                              0.483226
       Switzerland                         0.567946
       United Republic of Tanzania         0.363156
       United States of America            0.672955
       Ã…land Islands                       0.489984
 Name: Value, dtype: float64,
 Year  Country or Area
 2013  Azerbaijan                   0.555589
       Canada                       0.597623
       Costa Rica                   0.492473
       Czechia                      0.594264
       Denmark                      0.522997
       Faeroe Islands               0.476441
       Finland                      0.523890
       France                       0.500655
       Germany                      0.574495
       Greenland                    0.364269
       Hungary                      0.567397
       Iceland                      0.530064
       Israel                       0.493391
       Italy                        0.583695
       Latvia                       0.583232
       Liechtenstein                0.574174
       Lithuania                    0.603717
       San Marino                   0.621909
       Saudi Arabia                 0.629828
       Slovakia                     0.567152
       Slovenia                     0.519779
       Turkey                       0.545799
       Wallis and Futuna Islands    0.448963
       Ã…land Islands                0.489653
 Name: Value, dtype: float64,
 Year  Country or Area
 2014  Angola             0.540190
       Azerbaijan         0.558423
       Bulgaria           0.588690
       Canada             0.600251
       Costa Rica         0.511076
       Czechia            0.590694
       Denmark            0.521220
       Estonia            0.545354
       Faeroe Islands     0.476068
       Finland            0.522896
       France             0.496201
       Georgia            0.796737
       Germany            0.594592
       Greenland          0.362785
       Hungary            0.564297
       Iceland            0.531100
       Israel             0.492865
       Italy              0.581930
       Latvia             0.582455
       Liechtenstein      0.576342
       Lithuania          0.595188
       Mexico             0.512124
       Netherlands        0.527223
       New Caledonia      0.328653
       Norway             0.485578
       Puerto Rico        0.608158
       San Marino         0.614479
       Saudi Arabia       0.651685
       Slovakia           0.565408
       Slovenia           0.517763
       Sweden             0.480412
       Switzerland        0.565357
       Tunisia            0.481535
       Ã…land Islands      0.487253
 Name: Value, dtype: float64,
 Year  Country or Area
 2015  Azerbaijan         0.565365
       Bulgaria           0.584354
       Canada             0.602697
       Costa Rica         0.522303
       Czechia            0.587263
       Denmark            0.518807
       Estonia            0.542726
       Faeroe Islands     0.472868
       Finland            0.521315
       Germany            0.590941
       Greenland          0.362209
       Hungary            0.559889
       Iceland            0.534260
       Israel             0.492214
       Latvia             0.581222
       Liechtenstein      0.578574
       Lithuania          0.586378
       Malta                   NaN
       Mexico             0.657085
       Netherlands        0.524756
       Norway             0.483047
       Philippines        0.440930
       Puerto Rico        0.615042
       Slovakia           0.564523
       Slovenia           0.548404
       Sweden             0.478541
       Switzerland        0.563713
       Ã…land Islands      0.485794
 Name: Value, dtype: float64,
 Year  Country or Area
 2016  Azerbaijan               0.572310
       Bulgaria                 0.580621
       Canada                   0.600954
       China, Hong Kong SAR     0.620022
       Costa Rica               0.518431
       Czechia                  0.584071
       Denmark                  0.516151
       Estonia                  0.543155
       Faeroe Islands           0.473099
       Finland                  0.519238
       Germany                  0.584021
       Greenland                0.361229
       Hungary                  0.558163
       Iceland                  0.538588
       Ireland                  0.463208
       Israel                   0.491679
       Italy                    0.578367
       Latvia                   0.581031
       Liechtenstein            0.580325
       Lithuania                0.577985
       Mexico                   0.657093
       Netherlands              0.522228
       Norway                   0.480734
       Saint Helena ex. dep.    0.588871
       Slovakia                 0.563976
       Slovenia                 0.512288
       Sweden                   0.476456
       Switzerland              0.561595
       Ã…land Islands            0.486168
 Name: Value, dtype: float64,
 Year  Country or Area
 2017  Bulgaria           0.576950
       Canada             0.606136
       Costa Rica         0.523614
       Czechia            0.581277
       Denmark            0.514148
       Estonia            0.541599
       Faeroe Islands     0.469950
       Finland            0.517811
       Hungary            0.557020
       Iceland            0.465094
       Italy              0.576576
       Latvia             0.580063
       Liechtenstein      0.581077
       Lithuania          0.569460
       Luxembourg         0.549951
       Netherlands        0.519887
       Norway             0.478242
       San Marino         0.615472
       Slovakia           0.563628
       Slovenia           0.510245
       Sweden             0.473989
       Switzerland        0.559317
       Ã…land Islands      0.485035
 Name: Value, dtype: float64]

In [ ]:
percent_married

In [665]:
married_pop = married.loc[(married['Marital status']=='Married') & (married['Age']=='Total')].groupby(['Year', 'Country or Area'], as_index=False, axis = 0).sum()
married_pop[(married_pop)['Year'] == 2014]

Empty DataFrame
Columns: [Year, Country or Area, Source Year, Value]
Index: []

In [574]:
(married_pop/total_pop).to_frame()

                            Value
Year Country or Area
2010 Argentina           0.357639
     Aruba               0.347216
     Bahamas             0.268441
     Barbados            0.238447
     Denmark             0.393980
     Finland             0.374070
     France              0.382435
     Greenland           0.268446
     Hungary             0.387085
     Iceland             0.325066
     Israel              0.403646
     Italy               0.494352
     Latvia              0.372014
     Liechtenstein       0.453448
     Lithuania           0.410859
     Malaysia            0.431377
     Malta               0.492393
     Netherlands         0.418501
     Norway              0.355228
     Philippines         0.352362
     Puerto Rico         0.384400
     Romania             0.495496
     Russian Federation  0.403595
     San Marino          0.533732
     Seychelles          0.190962
     Slovakia            0.437377
     Slovenia            0.397941
     Sweden              0.340160
     Ã…land Islands       0.358910
2011 Albania             0.518891
...                           ...
2016 Slovenia            0.383727
     Sweden              0.333828
     Switzerland         0.428563
     Ã…land Islands       0.347022
2017 Bulgaria            0.415912
     Canada              0.387985
     Costa Rica          0.272997
     Czechia             0.398137
     Denmark             0.370721
     Estonia             0.314472
     Faeroe Islands      0.374263
     Finland             0.362089
     Hungary             0.359577
     Iceland             0.323429
     Italy               0.476693
     Latvia              0.366544
     Liechtenstein       0.453645
     Lithuania           0.414340
     Luxembourg          0.402140
     Netherlands         0.381138
     Norway              0.343458
     San Marino          0.501062
     Slovakia            0.407676
     Slovenia            0.381315
     Sweden              0.332891
     Switzerland         0.425810
     Ã…land Islands       0.345451
2010 Georgia                  NaN
2012 Austria                  NaN
2015 Malta                    NaN

[250 rows x 1 columns]

In [560]:
single_pop

Year  Country or Area
2010  Argentina                3.130482e+07
      Aruba                    5.247400e+04
      Bahamas                  2.260280e+05
      Barbados                 1.505580e+05
      Denmark                  2.604479e+06
      Finland                  7.619533e+06
      France                   3.096438e+07
      Greenland                7.181750e+04
      Hungary                  4.250992e+06
      Iceland                  1.481050e+05
      Israel                   3.849549e+06
      Italy                    2.487581e+07
      Latvia                   9.519850e+05
      Liechtenstein            4.662000e+04
      Lithuania                1.358565e+06
      Malaysia                 1.502587e+07
      Malta                    1.803860e+05
      Netherlands              7.701812e+06
      Norway                   2.469810e+06
      Philippines              5.185422e+07
      Puerto Rico              1.090047e+06
      Romania                  8.139423e+06
      Russian Federation       4.804382e+07
      San Marino               1.181900e+04
      Seychelles               4.973100e+04
      Slovakia                 2.351217e+06
      Slovenia                 9.622520e+05
      Sweden                   4.824164e+06
      Ã…land Islands            1.412550e+04
2011  Albania                  2.381138e+06
                                   ...
2016  Norway                   2.705750e+06
      Saint Helena ex. dep.    1.788000e+03
      Slovakia                 4.733936e+06
      Slovenia                 2.013483e+06
      Sweden                   5.157443e+06
      Switzerland              3.650651e+06
      Ã…land Islands            1.495200e+04
2017  Bulgaria                 3.004439e+06
      Canada                   1.445798e+07
      Costa Rica               2.356539e+06
      Czechia                  4.429596e+06
      Denmark                  2.798842e+06
      Estonia                  6.030890e+05
      Faeroe Islands           2.661700e+04
      Finland                  2.653629e+06
      Hungary                  4.340121e+06
      Iceland                  1.809850e+05
      Italy                    2.565502e+07
      Latvia                   8.189250e+05
      Liechtenstein            3.170700e+04
      Lithuania                1.226138e+06
      Luxembourg               2.658290e+05
      Netherlands              8.201061e+06
      Norway                   2.743569e+06
      San Marino               1.321200e+04
      Slovakia                 2.371834e+06
      Slovenia                 1.011782e+06
      Sweden                   5.257563e+06
      Switzerland              3.710349e+06
      Ã…land Islands            1.511500e+04
Name: Value, Length: 246, dtype: float64

In [563]:
married[married['Country or Area'] == 'Georgia']

,Country or Area,Year,Area,Sex,Age,Marital status,Record Type,Reliability,Source Year,Value,Value Footnotes
23439,Georgia,2010,Total,Male,Total,Total,Estimate - de facto,"Final figure, complete",2011.0,2118100.0,NaN
23440,Georgia,2010,Total,Male,0 - 14,Total,Estimate - de facto,"Final figure, complete",2011.0,399500.0,NaN
23441,Georgia,2010,Total,Male,15 - 19,Total,Estimate - de facto,"Final figure, complete",2011.0,169600.0,NaN
23442,Georgia,2010,Total,Male,20 - 24,Total,Estimate - de facto,"Final figure, complete",2011.0,185300.0,NaN
23443,Georgia,2010,Total,Male,25 - 29,Total,Estimate - de facto,"Final figure, complete",2011.0,174800.0,NaN
23444,Georgia,2010,Total,Male,30 - 34,Total,Estimate - de facto,"Final figure, complete",2011.0,158200.0,NaN
23445,Georgia,2010,Total,Male,35 - 39,Total,Estimate - de facto,"Final figure, complete",2011.0,150500.0,NaN
23446,Georgia,2010,Total,Male,40 - 44,Total,Estimate - de facto,"Final figure, complete",2011.0,140400.0,NaN
23447,Georgia,2010,Total,Male,45 - 49,Total,Estimate - de facto,"Final figure, complete",2011.0,154300.0,NaN
23448,Georgia,2010,Total,Male,50 - 54,Total,Estimate - de facto,"Final figure, complete",2011.0,142500.0,NaN
23449,Georgia,2010,Total,Male,55 - 59,Total,Estimate - de facto,"Final figure, complete",2011.0,118500.0,NaN
23450,Georgia,2010,Total,Male,60 - 64,Total,Estimate - de facto,"Final figure, complete",2011.0,90400.0,NaN
23451,Georgia,2010,Total,Male,65 - 69,Total,Estimate - de facto,"Final figure, complete",2011.0,58400.0,NaN
23452,Georgia,2010,Total,Male,70 - 74,Total,Estimate - de facto,"Final figure, complete",2011.0,81000.0,NaN
23453,Georgia,2010,Total,Male,75 - 79,Total,Estimate - de facto,"Final figure, complete",2011.0,49500.0,NaN
23454,Georgia,2010,Total,Male,80 - 84,Total,Estimate - de facto,"Final figure, complete",2011.0,33300.0,NaN
23455,Georgia,2010,Total,Male,85 +,Total,Estimate - de facto,"Final figure, complete",2011.0,11900.0,NaN
23456,Georgia,2010,Total,Female,Total,Total,Estimate - de facto,"Final figure, complete",2011.0,2334700.0,NaN
23457,Georgia,2010,Total,Female,0 - 14,Total,Estimate - de facto,"Final figure, complete",2011.0,358500.0,NaN
23458,Georgia,2010,Total,Female,15 - 19,Total,Estimate - de facto,"Final figure, complete",2011.0,162200.0,NaN
23459,Georgia,2010,Total,Female,20 - 24,Total,Estimate - de facto,"Final figure, complete",2011.0,180700.0,NaN
23460,Georgia,2010,Total,Female,25 - 29,Total,Estimate - de facto,"Final figure, complete",2011.0,172600.0,NaN
23461,Georgia,2010,Total,Female,30 - 34,Total,Estimate - de facto,"Final figure, complete",2011.0,162300.0,NaN
23462,Georgia,2010,Total,Female,35 - 39,Total,Estimate - de facto,"Final figure, complete",2011.0,158300.0,NaN
23463,Georgia,2010,Total,Female,40 - 44,Total,Estimate - de facto,"Final figure, complete",2011.0,155400.0,NaN
23464,Georgia,2010,Total,Female,45 - 49,Total,Estimate - de facto,"Final figure, complete",2011.0,178500.0,NaN
23465,Georgia,2010,Total,Female,50 - 54,Total,Estimate - de facto,"Final figure, complete",2011.0,165800.0,NaN
23466,Georgia,2010,Total,Female,55 - 59,Total,Estimate - de facto,"Final figure, complete",2011.0,142500.0,NaN
23467,Georgia,2010,Total,Female,60 - 64,Total,Estimate - de facto,"Final figure, complete",2011.0,112700.0,NaN
23468,Georgia,2010,Total,Female,65 - 69,Total,Estimate - de facto,"Final figure, complete",2011.0,84500.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
85754,Georgia,2014,Rural,Female,80 - 84,Total,Census - de jure - complete tabulation,"Final figure, complete",2016.0,24562.0,NaN
85755,Georgia,2014,Rural,Female,80 - 84,Single (never married),Census - de jure - complete tabulation,"Final figure, complete",2016.0,1006.0,NaN
85756,Georgia,2014,Rural,Female,80 - 84,Married,Census - de jure - complete tabulation,"Final figure, complete",2016.0,5389.0,NaN
85757,Georgia,2014,Rural,Female,80 - 84,Widowed and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,17783.0,NaN
85758,Georgia,2014,Rural,Female,80 - 84,Divorced and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,121.0,NaN
85759,Georgia,2014,Rural,Female,80 - 84,Unknown,Census - de jure - complete tabulation,"Final figure, complete",2016.0,263.0,NaN
85760,Georgia,2014,Rural,Female,85 - 89,Total,Census - de jure - complete tabulation,"Final figure, complete",2016.0,12539.0,NaN
85761,Georgia,2014,Rural,Female,85 - 89,Single (never married),Census - de jure - complete tabulation,"Final figure, complete",2016.0,599.0,NaN
85762,Georgia,2014,Rural,Female,85 - 89,Married,Census - de jure - complete tabulation,"Final figure, complete",2016.0,1544.0,NaN
85763,Georgia,2014,Rural,Female,85 - 89,Widowed and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,10188.0,NaN
85764,Georgia,2014,Rural,Female,85 - 89,Divorced and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,48.0,NaN
85765,Georgia,2014,Rural,Female,85 - 89,Unknown,Census - de jure - complete tabulation,"Final figure, complete",2016.0,160.0,NaN
85766,Georgia,2014,Rural,Female,90 - 94,Total,Census - de jure - complete tabulation,"Final figure, complete",2016.0,3114.0,NaN
85767,Georgia,2014,Rural,Female,90 - 94,Single (never married),Census - de jure - complete tabulation,"Final figure, complete",2016.0,111.0,NaN
85768,Georgia,2014,Rural,Female,90 - 94,Married,Census - de jure - complete tabulation,"Final figure, complete",2016.0,240.0,NaN
85769,Georgia,2014,Rural,Female,90 - 94,Widowed and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,2713.0,NaN
85770,Georgia,2014,Rural,Female,90 - 94,Divorced and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,7.0,NaN
85771,Georgia,2014,Rural,Female,90 - 94,Unknown,Census - de jure - complete tabulation,"Final figure, complete",2016.0,43.0,NaN
85772,Georgia,2014,Rural,Female,95 - 99,Total,Census - de jure - complete tabulation,"Final figure, complete",2016.0,621.0,NaN
85773,Georgia,2014,Rural,Female,95 - 99,Single (never married),Census - de jure - complete tabulation,"Final figure, complete",2016.0,23.0,NaN
85774,Georgia,2014,Rural,Female,95 - 99,Married,Census - de jure - complete tabulation,"Final figure, complete",2016.0,27.0,NaN
85775,Georgia,2014,Rural,Female,95 - 99,Widowed and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,562.0,NaN
85776,Georgia,2014,Rural,Female,95 - 99,Divorced and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,0.0,NaN
85777,Georgia,2014,Rural,Female,95 - 99,Unknown,Census - de jure - complete tabulation,"Final figure, complete",2016.0,9.0,NaN
85778,Georgia,2014,Rural,Female,100 +,Total,Census - de jure - complete tabulation,"Final figure, complete",2016.0,197.0,NaN
85779,Georgia,2014,Rural,Female,100 +,Single (never married),Census - de jure - complete tabulation,"Final figure, complete",2016.0,4.0,NaN
85780,Georgia,2014,Rural,Female,100 +,Married,Census - de jure - complete tabulation,"Final figure, complete",2016.0,9.0,NaN
85781,Georgia,2014,Rural,Female,100 +,Widowed and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,180.0,NaN
85782,Georgia,2014,Rural,Female,100 +,Divorced and not remarried,Census - de jure - complete tabulation,"Final figure, complete",2016.0,0.0,NaN
85783,Georgia,2014,Rural,Female,100 +,Unknown,Census - de jure - complete tabulation,"Final figure, complete",2016.0,4.0,NaN

In [398]:
import math
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
def Analysis_first_two_level(hunger, peace): 
    df_level1 = pd.merge(hunger, peace, on = 'country', how='inner')
    df_level1 = df_level1.drop_duplicates(keep='first', inplace=False)
    x_list = []
    y_list = []
    item = [['undernourishment_rate_2010','pi_2010'],['undernourishment_rate_2011','pi_2011'],
              ['undernourishment_rate_2012','pi_2012'],['undernourishment_rate_2013','pi_2013'],
              ['undernourishment_rate_2014','pi_2014'],['undernourishment_rate_2015','pi_2015'],
              ['undernourishment_rate_2016','pi_2016']]
    for i in item:
        df = df_level1[i]
        dd = df.sort_values(by=i[0], ascending=True)
        x = np.asarray(dd[i[0]])
        y = np.asarray(dd[i[1]])
        for j in range(x.shape[0]):
            if math.isnan(x[j]) == True:
                new_x = np.delete(x,j)
                new_y = np.delete(y,j)
        x_list.append(new_x)
        y_list.append(new_y)
    return x_list, y_list

In [399]:
%matplotlib inline
import matplotlib.pyplot as plt
def plot(x_list, y_list):
    plt.figure(figsize = (30,15), dpi=100)
    item = [['undernourishment_rate_2010','pi_2010'],['undernourishment_rate_2011','pi_2011'],
                  ['undernourishment_rate_2012','pi_2012'],['undernourishment_rate_2013','pi_2013'],
                  ['undernourishment_rate_2014','pi_2014'],['undernourishment_rate_2015','pi_2015'],
                  ['undernourishment_rate_2016','pi_2016']]
    marker = ['.','*','>','<','1','2','s']
    color = ['#E11B00', '#1E90FF','#FF4233','#FFE333','#7EFF33','#33F4FF','#D433FF']
    for f in range(len(x_list)):
        plt.plot(x_list[f],y_list[f],label = 'data of year '+item[f][1][-4:], marker = marker[f],color = color[f])
    plt.xlabel('undernourishment rate')
    plt.ylabel('Peacefulness Index')
    plt.ylim(1,4)
    plt.xticks(fontsize = 8, horizontalalignment = 'center', alpha = .7)
    plt.yticks(fontsize = 12, alpha = .7)
    plt.grid(axis='both',alpha = .3)
    plt.legend()
    plt.show()

In [400]:
x_list, y_list = Analysis_first_two_level(hunger, peace)

KeyError: "None of [Index(['undernourishment_rate_2010', 'pi_2010'], dtype='object')] are in the [columns]"

In [401]:
plot(x_list, y_list)

NameError: name 'x_list' is not defined

In [402]:
%matplotlib inline
import matplotlib.pyplot as plt
def plot_cat(x_list, y_list):
    plt.figure(figsize = (30,20), dpi=100)
    item = [['undernourishment_rate_2010','pi_2010'],['undernourishment_rate_2011','pi_2011'],
                  ['undernourishment_rate_2012','pi_2012'],['undernourishment_rate_2013','pi_2013'],
                  ['undernourishment_rate_2014','pi_2014'],['undernourishment_rate_2015','pi_2015'],
                  ['undernourishment_rate_2016','pi_2016']]
    x_item = ['[0,5)','[5,10)','[10,15)','[15,20)','[20,25)','[25,30)','[30,35)','[35,40)','[40,45)',
             '[45,50)','[50+']
    marker = ['.','*','>','<','1','2','s']
    color = ['#E11B00', '#1E90FF','#FF4233','#FFE333','#7EFF33','#33F4FF','#D433FF']
    y_new_list = []
    for a in range(len(x_list)):
        cc = x_list[a]
        cy = y_list[a]
        y_item = np.zeros((11,2))
        for b in range(len(cc)):
            if cc[b] >= 0 and cc[b]<5:
                y_item[0][0] += cy[b]
                y_item[0][1] += 1
            if cc[b] >= 5 and cc[b]<10:
                y_item[1][0] += cy[b]
                y_item[1][1] += 1
            if cc[b] >= 10 and cc[b]<15:
                y_item[2][0] += cy[b]
                y_item[2][1] += 1
            if cc[b] >= 15 and cc[b]<20:
                y_item[3][0] += cy[b]
                y_item[3][1] += 1
            if cc[b] >= 20 and cc[b]<25:
                y_item[4][0] += cy[b]
                y_item[4][1] += 1
            if cc[b] >= 25 and cc[b]<30:
                y_item[5][0] += cy[b]
                y_item[5][1] += 1
            if cc[b] >= 30 and cc[b]<35:
                y_item[6][0] += cy[b]
                y_item[6][1] += 1
            if cc[b] >= 35 and cc[b]<40:
                y_item[7][0] += cy[b]
                y_item[7][1] += 1
            if cc[b] >= 40 and cc[b]<45:
                y_item[8][0] += cy[b]
                y_item[8][1] += 1
            if cc[b] >= 45 and cc[b]<50:
                y_item[9][0] += cy[b]
                y_item[9][1] += 1
            if cc[b] >= 50:
                y_item[10][0] += cy[b]
                y_item[10][1] += 1
        y_new = np.zeros(y_item.shape[0])
        for c in range(y_item.shape[0]):
            y_new[c] = y_item[c][0]/y_item[c][1]
        y_new_list.append(y_new)
    for s in range(len(y_new_list)):
        plt.plot(x_item,y_new_list[s],label = 'data of year '+item[s][1][-4:], marker = marker[s],color = color[s])
    plt.xlabel('undernourishment rate')
    plt.ylabel('Peacefulness Index')
    plt.ylim(1.5,3.5)
    plt.xticks(fontsize = 8, horizontalalignment = 'center', alpha = .7)
    plt.yticks(fontsize = 12, alpha = .7)
    plt.grid(axis='both',alpha = .3)
    plt.legend()
    plt.show()

In [403]:
plot_cat(x_list, y_list)

NameError: name 'x_list' is not defined

In [404]:
j = [['undernourishment_rate_2010','pi_2010'],'undernourishment_rate_2011',
              'undernourishment_rate_2012','undernourishment_rate_2013',
              'undernourishment_rate_2014','undernourishment_rate_2015','undernourishment_rate_2016']

In [405]:
df_steal.sort_values(by='undernourishment_rate_2010', ascending=True)

NameError: name 'df_steal' is not defined

In [406]:
dd = df_steal[['undernourishment_rate_2014','pi_2014']].sort_values(by='undernourishment_rate_2014', ascending=True)
x = dd['pi_2014']
x = np.asarray(x)
x

NameError: name 'df_steal' is not defined