In [381]:
class GET_DATA(object):
    def __init__(self):
        global logging
        import logging

    
    def Peace(self):
        """
        This is a function to pull the most updated peace data modified from https://www.kaggle.com/kretes/gpi2008-2016

        Global Peace Index (GPI) measures the relative position of nations' and regions' peacefulness.
        The GPI ranks 163 independent states and territories (99.7 per cent of the worldâ€™s population)
        according to their levels of peacefulness. In the past decade, the GPI has presented trends of 
        increased global violence and less peacefulness.

        The lower the number indicates more peace in the region.
        """
        import requests
        import re
        from bs4 import BeautifulSoup
        response = requests.get(url='https://en.wikipedia.org/wiki/Global_Peace_Index')
        soup = BeautifulSoup(response.text, 'html.parser')
        base_year = 2018        #latest year
        years = 9               #number of years to get data
        def get_countries_by_gpi():
            i = 1
            for table in soup.find_all('table', re.compile('wikitable sortable')):
                if table.find_all('th')[0].get_text() == 'Country\n':
                    for tr in table.find_all('tr'):
                        country_name = tr.find_all('a')[0].get_text()
                        if not country_name.startswith('['):
                            row = {'country': country_name}
                            for year, index in zip(range(base_year-years+1,base_year+1),range(2*(years),0,-2)):
                                score = tr.find_all('td')[index].get_text()
                                if score != '' and score != '\n':
                                    row['score_%s' % year] = float(score)
                            yield row

        import pandas as pd
        gpi = pd.DataFrame.from_dict(list(get_countries_by_gpi()))
        # print(gpi)
        gpi.to_csv('gpi_%s-%s.csv' % (base_year-years+1,base_year),index=False)
        return(gpi)    

    
    def Trade(self):
        """
        WITS Trade Stats is a database created by aggregating data from UN COMTRADE and UNCTAD TRAINS database. 
        It provides information on bilateral trade exports, imports and tariffs for over 180 countries and regions.
        """        
        import logging
        logging.basicConfig(filename="test.log", level=logging.DEBUG)
        file_path = "590PR_final_datasets"
        file_name = "wits_en_trade_summary_allcountries_allyears.zip"
        zf = zipfile.ZipFile(file_path + '/' + file_name) 
        df = []
        for name in zipfile.ZipFile.infolist(zf):
            logging.debug(name.filename)
            try:
                df.append(pd.read_csv(zf.open(name.filename), header=0 ))
            except:
                pass
        frame = pd.concat(df, axis=0, ignore_index=True)
        return frame
    
    
    def Hunger(self):
        file_path = "590PR_final_datasets"
        file_name = "Hunger.csv"
        import pandas as pd
        df_hunger = pd.read_csv(file_path + "/" + file_name, na_values = '\t', sep = '\t', header = 0)
        #display(df_hunger)
        list = []
        list.append(df_hunger['Country Name'])
        list.append(df_hunger['Indicator Name'])
        for i in range(2009, 2019):
            year = str(i)
            df = df_hunger[year]
            list.append(df)
        df_new_hunger = pd.concat(list,axis = 1)
        return df_new_hunger
    
    
    def Unemployment(self):
        file_path = "590PR_final_datasets"
        file_name = "unemployment.zip"
        df = pd.read_csv(file_path + '/' + file_name, compression = 'zip')
        return df

    
    def Suicide(self):
        file_path = "590PR_final_datasets"
        file_name = "suicide-rates-overview-1985-to-2016.zip"
        df = pd.read_csv(file_path + '/' + file_name, compression = 'zip')
        return df


    def Freedom(self):
        file_path = "590PR_final_datasets"
        file_name = "the-human-freedom-index.zip"
        df = pd.read_csv(file_path + '/' + file_name, compression = 'zip')
        return df

    
    def Happiness(self):
        import zipfile
        file_path = "590PR_final_datasets"
        file_name = "world-happiness-report.zip"
        zf = zipfile.ZipFile(file_path + '/' + file_name) 
        df = []
        happy = {}
        for name in zipfile.ZipFile.infolist(zf):
            happy[name.filename] = pd.read_csv(zf.open(name.filename))
        return happy

    
    def GDELT(self, start, end):
        """
        The GDELT Project is the largest, most comprehensive, and highest resolution open database of human society ever created. 
        Just the 2015 data alone records nearly three quarters of a trillion emotional snapshots and more than 1.5 billion location 
        references, while its total archives span more than 215 years, making it one of the largest open-access spatio-temporal 
        datasets in existance and pushing the boundaries of "big data" study of global human society. Its Global Knowledge Graph 
        connects the world's people, organizations, locations, themes, counts, images and emotions into a single holistic network 
        over the entire planet.
        
        This is Gdelt 2.0 (supports from the date after Feb, 2015)
        This function pull the events ids and the country it takes place
        Please input the date in the format of 'yyyy mm dd'.
        
        This function use a package from https://github.com/linwoodc3/gdeltPyR
        """
        import gdelt
        gd = gdelt.gdelt(version=2)
        results = gd.Search([start,end],table='events',coverage=True,translation=False)
        return (results[['GLOBALEVENTID','ActionGeo_FullName']])

    
    def UNODC_crime(self, sheet = None):
        """
        Crime data from UNODC including 
        'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft',
        'Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'
        or type 'ALL' to get all data.
        """
        import pandas as pd
        from pandas import read_excel
#         sheet = input("Please choose crime report from the following categories\n'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft','Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'")         
        if sheet == "ALL":
            sheet = None
        file_path = "590PR_final_datasets"
        file_name = "data-and-metadata-from-crime-victimisation-surveys-2004-2014-xlsx-1.xlsx"
        self.dfs = pd.read_excel(file_path + "/" + file_name, sheetname = sheet, header = 12)
#         logging.debug(self.dfs)
#         logging.debug(self.dfs.keys())
        return self.dfs

    def Poverty(self, sheet = None):
        import zipfile
        file_path = "590PR_final_datasets"
        file_name = "PovStats_csv.zip"
        zf = zipfile.ZipFile(file_path + '/' + file_name) 
        df = []
        pov = {}
        for name in zipfile.ZipFile.infolist(zf):
#             logging.debug(name.filename)
            pov[name.filename] = pd.read_csv(zf.open(name.filename))
#         logging.debug((df))
        if not sheet == None:
            return pov[sheet]
        else:
            return pov

    def Married(self, sheet = None):
        """
        Marriged data from The United Nations Statistics Division.
        http://data.un.org/Data.aspx?q=Marital&d=POP&f=tableCode%3A23
        """
        import pandas as pd
        from pandas import read_excel
#         sheet = input("Please choose crime report from the following categories\n'Car theft', 'Burglary', 'Robbery', 'Sexual Assault', 'Physical Assault', 'Bribery', 'Police Reporting Car Theft','Police Reporting Burglary', 'Police Reporting Robbery', 'Police Reporting Sexual Assault', 'Police Reporting Bribery'")         
        if sheet == "ALL":
            sheet = None
        file_path = "590PR_final_datasets"
        file_name = "UNPD_WMD_2017_MARITAL_STATUS.xlsx"
        self.dfs = pd.read_excel(file_path + "/" + file_name, sheetname = sheet, header = 2)
#         logging.debug(self.dfs)
#         logging.debug(self.dfs.keys())
        return self.dfs

In [ ]:
# dir(GET_DATA)

freedom = GET_DATA().Freedom()
gdelt = GET_DATA().GDELT("2016 10 15", "2016 10 16")
happiness = GET_DATA().Happiness()
hunger = GET_DATA().Hunger()
married = GET_DATA().Married('CURRENTLY MARRIED')
peace = GET_DATA().Peace()
# print(GET_DATA().Poverty().keys())
# GET_DATA().Poverty("PovStatsData.csv")
poverty = GET_DATA().Poverty()
suicide = GET_DATA().Suicide
trade = GET_DATA().Trade
crime = GET_DATA().UNODC_crime()
burglary = GET_DATA().UNODC_crime('Burglary')
unemploy = GET_DATA().Unemployment()

In [395]:
hunger.rename(columns={'Country Name':'country'}, inplace=True)

In [396]:
hunger

,country,Indicator Name,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,Prevalence of undernourishment (% of population),22.900000,22.100000,22.200000,23.400000,25.500000,27.600000,29.300000,30.300000,NaN,NaN
2,Angola,Prevalence of undernourishment (% of population),42.500000,40.400000,38.200000,35.100000,30.800000,27.000000,24.800000,23.900000,NaN,NaN
3,Albania,Prevalence of undernourishment (% of population),8.400000,7.400000,6.600000,6.000000,5.700000,5.500000,5.500000,5.500000,NaN,NaN
4,Andorra,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,Prevalence of undernourishment (% of population),10.016621,9.676187,9.403567,11.083189,11.224646,11.459653,11.782652,12.051903,NaN,NaN
6,United Arab Emirates,Prevalence of undernourishment (% of population),6.000000,5.900000,5.600000,5.100000,4.500000,3.900000,3.100000,2.500000,NaN,NaN
7,Argentina,Prevalence of undernourishment (% of population),4.100000,4.000000,3.900000,3.700000,3.500000,3.400000,3.600000,3.800000,NaN,NaN
8,Armenia,Prevalence of undernourishment (% of population),5.300000,5.500000,5.600000,5.100000,4.600000,4.300000,4.300000,4.300000,NaN,NaN
9,American Samoa,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
12,Austria,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
13,Azerbaijan,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
14,Burundi,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Belgium,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
16,Benin,Prevalence of undernourishment (% of population),12.100000,11.800000,11.300000,10.800000,10.200000,9.600000,9.900000,10.400000,NaN,NaN
17,Burkina Faso,Prevalence of undernourishment (% of population),21.900000,21.200000,20.700000,20.300000,20.200000,20.300000,20.800000,21.300000,NaN,NaN
18,Bangladesh,Prevalence of undernourishment (% of population),16.600000,16.900000,17.000000,17.000000,16.800000,16.500000,15.800000,15.200000,NaN,NaN
19,Bulgaria,Prevalence of undernourishment (% of population),5.700000,5.600000,5.400000,5.000000,4.400000,3.800000,3.300000,3.000000,NaN,NaN
20,Bahrain,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Bahamas, The",Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bosnia and Herzegovina,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
23,Belarus,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
24,Belize,Prevalence of undernourishment (% of population),5.600000,5.600000,5.800000,6.300000,6.600000,6.700000,6.600000,6.500000,NaN,NaN
25,Bermuda,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bolivia,Prevalence of undernourishment (% of population),28.000000,26.500000,24.600000,22.900000,21.400000,19.900000,19.600000,19.800000,NaN,NaN
27,Brazil,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
28,Barbados,Prevalence of undernourishment (% of population),5.000000,5.000000,4.900000,4.700000,4.400000,4.000000,3.800000,3.700000,NaN,NaN
29,Brunei Darussalam,Prevalence of undernourishment (% of population),3.100000,3.100000,2.900000,2.800000,2.700000,2.700000,2.600000,2.600000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,Prevalence of undernourishment (% of population),7.152612,6.965121,6.790961,6.655952,6.525769,6.421465,6.333347,6.279645,NaN,NaN
235,Timor-Leste,Prevalence of undernourishment (% of population),30.500000,29.200000,27.900000,26.800000,26.600000,26.800000,27.100000,27.200000,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),Prevalence of undernourishment (% of population),9.493647,9.199570,9.015868,9.004972,9.179331,9.425332,9.731067,9.952472,NaN,NaN
237,Tonga,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,South Asia (IDA & IBRD),Prevalence of undernourishment (% of population),17.891940,17.732137,17.652348,17.505254,17.159353,16.657607,16.074968,15.630135,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),Prevalence of undernourishment (% of population),21.295797,20.772217,20.330162,20.208755,20.000093,20.033631,20.539640,21.330271,NaN,NaN
240,Trinidad and Tobago,Prevalence of undernourishment (% of population),10.100000,9.600000,8.600000,7.500000,6.600000,6.000000,5.500000,4.900000,NaN,NaN
241,Tunisia,Prevalence of undernourishment (% of population),5.000000,4.800000,4.600000,4.500000,4.500000,4.500000,4.700000,4.900000,NaN,NaN
242,Turkey,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
243,Tuvalu,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,Prevalence of undernourishment (% of population),34.500000,34.600000,33.600000,33.000000,32.600000,32.200000,32.100000,32.000000,NaN,NaN
245,Uganda,Prevalence of undernourishment (% of population),30.400000,30.900000,31.600000,32.400000,33.700000,35.500000,38.600000,41.400000,NaN,NaN
246,Ukraine,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.900000,3.300000,NaN,NaN
247,Upper middle income,Prevalence of undernourishment (% of population),9.580326,9.050054,8.599569,8.188103,7.798592,7.477564,7.314236,7.254681,NaN,NaN
248,Uruguay,Prevalence of undernourishment (% of population),2.700000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
249,United States,Prevalence of undernourishment (% of population),2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,NaN,NaN
250,Uzbekistan,Prevalence of undernourishment (% of population),9.700000,9.000000,8.200000,7.600000,7.400000,7.400000,7.300000,7.400000,NaN,NaN
251,St. Vincent and the Grenadines,Prevalence of undernourishment (% of population),7.000000,6.700000,6.400000,6.100000,6.000000,5.900000,5.900000,5.700000,NaN,NaN
252,"Venezuela, RB",Prevalence of undernourishment (% of population),3.100000,3.100000,3.600000,4.700000,6.100000,7.900000,9.800000,11.700000,NaN,NaN
253,British Virgin Islands,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Vietnam,Prevalence of undernourishment (% of population),14.500000,13.600000,13.000000,12.600000,12.100000,11.600000,11.100000,10.800000,NaN,NaN
256,Vanuatu,Prevalence of undernourishment (% of population),5.800000,5.900000,6.100000,6.300000,6.500000,6.700000,6.900000,7.100000,NaN,NaN
257,World,Prevalence of undernourishment (% of population),12.200000,11.800000,11.500000,11.300000,11.000000,10.700000,10.600000,10.800000,NaN,NaN
258,Samoa,Prevalence of undernourishment (% of population),3.500000,3.400000,3.300000,3.100000,3.100000,3.100000,3.100000,3.100000,NaN,NaN
259,Kosovo,Prevalence of undernourishment (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",Prevalence of undernourishment (% of population),26.200000,25.700000,25.200000,25.900000,27.700000,30.200000,32.600000,34.400000,NaN,NaN
261,South Africa,Prevalence of undernourishment (% of population),4.500000,4.400000,4.400000,4.500000,4.800000,5.300000,5.800000,6.100000,NaN,NaN
262,Zambia,Prevalence of undernourishment (% of population),51.500000,50.000000,48.800000,47.700000,46.100000,44.900000,44.400000,44.500000,NaN,NaN
263,Zimbabwe,Prevalence of undernourishment (% of population),42.800000,41.900000,41.300000,41.900000,44.400000,47.000000,48.200000,46.600000,NaN,NaN

In [397]:
peace

,country,score_2010,score_2011,score_2012,score_2013,score_2014,score_2015,score_2016,score_2017,score_2018
0,Iceland,1.212,1.148,1.113,1.162,1.189,1.148,1.192,1.137,1.096
1,New Zealand,1.188,1.279,1.239,1.237,1.236,1.221,1.287,1.241,1.192
2,Austria,1.290,1.337,1.328,1.250,1.200,1.198,1.278,1.265,1.274
3,Portugal,1.366,1.453,1.470,1.467,1.425,1.344,1.356,1.258,1.318
4,Denmark,1.341,1.289,1.239,1.207,1.193,1.150,1.246,1.337,1.353
5,Canada,1.392,1.355,1.317,1.306,1.306,1.287,1.388,1.371,1.372
6,Czech Republic,1.360,1.320,1.396,1.404,1.381,1.341,1.360,1.360,1.381
7,Singapore,1.624,1.585,1.521,1.438,1.545,1.490,1.535,1.534,1.382
8,Japan,1.247,1.287,1.326,1.293,1.316,1.323,1.395,1.408,1.391
9,Ireland,1.337,1.370,1.328,1.370,1.384,1.354,1.433,1.408,1.393
10,Slovenia,1.358,1.358,1.330,1.374,1.398,1.378,1.408,1.364,1.396
11,Switzerland,1.424,1.421,1.349,1.272,1.258,1.275,1.370,1.373,1.407
12,Australia,1.467,1.455,1.494,1.438,1.414,1.329,1.465,1.425,1.435
13,Sweden,1.354,1.401,1.419,1.319,1.381,1.360,1.461,1.516,1.502
14,Finland,1.352,1.352,1.348,1.297,1.297,1.277,1.429,1.515,1.506
15,Norway,1.322,1.356,1.480,1.359,1.371,1.393,1.500,1.486,1.519
16,Germany,1.398,1.416,1.424,1.431,1.423,1.379,1.486,1.500,1.531
17,Hungary,1.495,1.495,1.476,1.520,1.482,1.463,1.534,1.494,1.531
18,Bhutan,1.665,1.693,1.481,1.487,1.422,1.416,1.445,1.474,1.545
19,Mauritius,NaN,NaN,1.487,1.497,1.544,1.503,1.559,1.547,1.548
20,Belgium,1.400,1.413,1.376,1.339,1.354,1.365,1.528,1.525,1.560
21,Slovakia,1.536,1.576,1.590,1.622,1.467,1.478,1.603,1.611,1.568
22,Netherlands,1.610,1.628,1.606,1.508,1.475,1.432,1.541,1.525,1.574
23,Romania,1.749,1.742,1.627,1.584,1.677,1.542,1.649,1.600,1.596
24,Malaysia,1.539,1.485,1.590,1.574,1.659,1.561,1.648,1.637,1.619
25,Bulgaria,1.785,1.845,1.699,1.663,1.637,1.607,1.646,1.631,1.635
26,Croatia,1.707,1.699,1.648,1.571,1.548,1.550,1.633,1.665,1.639
27,Chile,1.616,1.710,1.616,1.589,1.591,1.563,1.635,1.595,1.649
28,Botswana,1.641,1.695,1.621,1.598,1.678,1.597,1.639,1.622,1.659
29,Spain,1.588,1.641,1.548,1.563,1.548,1.451,1.604,1.568,1.678
...,...,...,...,...,...,...,...,...,...,...
133,Burundi,2.577,2.532,2.524,2.593,2.418,2.323,2.500,2.641,2.488
134,Chad,2.964,2.740,2.671,2.493,2.558,2.429,2.464,2.495,2.498
135,India,2.516,2.570,2.549,2.570,2.571,2.504,2.566,2.541,2.504
136,Philippines,2.574,2.574,2.415,2.374,2.456,2.462,2.511,2.555,2.512
137,Eritrea,NaN,2.227,2.264,2.288,2.377,2.309,2.460,2.505,2.522
138,Ethiopia,2.444,2.468,2.504,2.630,2.502,2.234,2.284,2.477,2.524
139,Mexico,2.216,2.362,2.445,2.434,2.500,2.530,2.557,2.646,2.583
140,Palestine,NaN,NaN,NaN,NaN,NaN,NaN,2.832,2.774,2.621
141,Egypt,1.784,2.023,2.220,2.258,2.571,2.382,2.574,2.583,2.632
142,Venezuela,2.387,2.403,2.278,2.370,2.410,2.493,2.651,2.652,2.642
143,Mali,2.240,2.188,2.132,2.346,2.465,2.310,2.489,2.596,2.686
144,Colombia,2.787,2.700,2.625,2.634,2.701,2.720,2.764,2.777,2.729
145,Israel,3.019,2.901,2.842,2.730,2.689,2.781,2.656,2.707,2.764
146,Lebanon,2.639,2.597,2.459,2.575,2.620,2.623,2.752,2.782,2.778
147,Nigeria,2.756,2.743,2.801,2.693,2.710,2.910,2.877,2.849,2.873
148,Turkey,2.420,2.411,2.344,2.437,2.402,2.363,2.710,2.777,2.898
149,North Korea,2.855,3.092,2.932,3.044,3.071,2.977,2.944,2.967,2.950
150,Pakistan,3.050,2.905,2.833,3.106,3.107,3.049,3.145,3.058,3.079
151,Ukraine,2.115,1.995,1.953,2.238,2.546,2.845,3.287,3.184,3.113
152,Sudan,3.125,3.223,3.193,3.242,3.362,3.295,3.269,3.213,3.155
153,Russia,3.013,2.966,2.938,3.060,3.039,2.954,3.079,3.047,3.160
154,Central African Republic,2.753,2.869,2.872,3.031,3.331,3.332,3.354,3.213,3.236
155,Democratic Republic of the Congo,2.925,3.016,3.073,3.085,3.213,3.085,3.112,3.061,3.251
156,Libya,1.839,2.816,2.830,2.604,2.453,2.819,3.200,3.328,3.262
157,Yemen,2.573,2.670,2.601,2.747,2.629,2.751,3.399,3.412,3.305
158,Somalia,3.390,3.379,3.392,3.394,3.368,3.307,3.414,3.387,3.367
159,Iraq,3.406,3.296,3.192,3.245,3.377,3.444,3.570,3.556,3.425
160,South Sudan,NaN,NaN,NaN,2.576,3.397,3.383,3.593,3.524,3.508
161,Afghanistan,3.252,3.212,3.252,3.440,3.416,3.427,3.538,3.567,3.585
162,Syria,2.274,2.322,2.830,3.393,3.650,3.645,3.806,3.814,3.600

In [398]:
import math
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
def Analysis_first_two_level(hunger, peace): 
    df_level1 = pd.merge(hunger, peace, on = 'country', how='inner')
    df_level1 = df_level1.drop_duplicates(keep='first', inplace=False)
    x_list = []
    y_list = []
    item = [['undernourishment_rate_2010','pi_2010'],['undernourishment_rate_2011','pi_2011'],
              ['undernourishment_rate_2012','pi_2012'],['undernourishment_rate_2013','pi_2013'],
              ['undernourishment_rate_2014','pi_2014'],['undernourishment_rate_2015','pi_2015'],
              ['undernourishment_rate_2016','pi_2016']]
    for i in item:
        df = df_level1[i]
        dd = df.sort_values(by=i[0], ascending=True)
        x = np.asarray(dd[i[0]])
        y = np.asarray(dd[i[1]])
        for j in range(x.shape[0]):
            if math.isnan(x[j]) == True:
                new_x = np.delete(x,j)
                new_y = np.delete(y,j)
        x_list.append(new_x)
        y_list.append(new_y)
    return x_list, y_list

In [399]:
%matplotlib inline
import matplotlib.pyplot as plt
def plot(x_list, y_list):
    plt.figure(figsize = (30,15), dpi=100)
    item = [['undernourishment_rate_2010','pi_2010'],['undernourishment_rate_2011','pi_2011'],
                  ['undernourishment_rate_2012','pi_2012'],['undernourishment_rate_2013','pi_2013'],
                  ['undernourishment_rate_2014','pi_2014'],['undernourishment_rate_2015','pi_2015'],
                  ['undernourishment_rate_2016','pi_2016']]
    marker = ['.','*','>','<','1','2','s']
    color = ['#E11B00', '#1E90FF','#FF4233','#FFE333','#7EFF33','#33F4FF','#D433FF']
    for f in range(len(x_list)):
        plt.plot(x_list[f],y_list[f],label = 'data of year '+item[f][1][-4:], marker = marker[f],color = color[f])
    plt.xlabel('undernourishment rate')
    plt.ylabel('Peacefulness Index')
    plt.ylim(1,4)
    plt.xticks(fontsize = 8, horizontalalignment = 'center', alpha = .7)
    plt.yticks(fontsize = 12, alpha = .7)
    plt.grid(axis='both',alpha = .3)
    plt.legend()
    plt.show()

In [400]:
x_list, y_list = Analysis_first_two_level(hunger, peace)

KeyError: "None of [Index(['undernourishment_rate_2010', 'pi_2010'], dtype='object')] are in the [columns]"

In [401]:
plot(x_list, y_list)

NameError: name 'x_list' is not defined

In [402]:
%matplotlib inline
import matplotlib.pyplot as plt
def plot_cat(x_list, y_list):
    plt.figure(figsize = (30,20), dpi=100)
    item = [['undernourishment_rate_2010','pi_2010'],['undernourishment_rate_2011','pi_2011'],
                  ['undernourishment_rate_2012','pi_2012'],['undernourishment_rate_2013','pi_2013'],
                  ['undernourishment_rate_2014','pi_2014'],['undernourishment_rate_2015','pi_2015'],
                  ['undernourishment_rate_2016','pi_2016']]
    x_item = ['[0,5)','[5,10)','[10,15)','[15,20)','[20,25)','[25,30)','[30,35)','[35,40)','[40,45)',
             '[45,50)','[50+']
    marker = ['.','*','>','<','1','2','s']
    color = ['#E11B00', '#1E90FF','#FF4233','#FFE333','#7EFF33','#33F4FF','#D433FF']
    y_new_list = []
    for a in range(len(x_list)):
        cc = x_list[a]
        cy = y_list[a]
        y_item = np.zeros((11,2))
        for b in range(len(cc)):
            if cc[b] >= 0 and cc[b]<5:
                y_item[0][0] += cy[b]
                y_item[0][1] += 1
            if cc[b] >= 5 and cc[b]<10:
                y_item[1][0] += cy[b]
                y_item[1][1] += 1
            if cc[b] >= 10 and cc[b]<15:
                y_item[2][0] += cy[b]
                y_item[2][1] += 1
            if cc[b] >= 15 and cc[b]<20:
                y_item[3][0] += cy[b]
                y_item[3][1] += 1
            if cc[b] >= 20 and cc[b]<25:
                y_item[4][0] += cy[b]
                y_item[4][1] += 1
            if cc[b] >= 25 and cc[b]<30:
                y_item[5][0] += cy[b]
                y_item[5][1] += 1
            if cc[b] >= 30 and cc[b]<35:
                y_item[6][0] += cy[b]
                y_item[6][1] += 1
            if cc[b] >= 35 and cc[b]<40:
                y_item[7][0] += cy[b]
                y_item[7][1] += 1
            if cc[b] >= 40 and cc[b]<45:
                y_item[8][0] += cy[b]
                y_item[8][1] += 1
            if cc[b] >= 45 and cc[b]<50:
                y_item[9][0] += cy[b]
                y_item[9][1] += 1
            if cc[b] >= 50:
                y_item[10][0] += cy[b]
                y_item[10][1] += 1
        y_new = np.zeros(y_item.shape[0])
        for c in range(y_item.shape[0]):
            y_new[c] = y_item[c][0]/y_item[c][1]
        y_new_list.append(y_new)
    for s in range(len(y_new_list)):
        plt.plot(x_item,y_new_list[s],label = 'data of year '+item[s][1][-4:], marker = marker[s],color = color[s])
    plt.xlabel('undernourishment rate')
    plt.ylabel('Peacefulness Index')
    plt.ylim(1.5,3.5)
    plt.xticks(fontsize = 8, horizontalalignment = 'center', alpha = .7)
    plt.yticks(fontsize = 12, alpha = .7)
    plt.grid(axis='both',alpha = .3)
    plt.legend()
    plt.show()

In [403]:
plot_cat(x_list, y_list)

NameError: name 'x_list' is not defined

In [404]:
j = [['undernourishment_rate_2010','pi_2010'],'undernourishment_rate_2011',
              'undernourishment_rate_2012','undernourishment_rate_2013',
              'undernourishment_rate_2014','undernourishment_rate_2015','undernourishment_rate_2016']

In [405]:
df_steal.sort_values(by='undernourishment_rate_2010', ascending=True)

NameError: name 'df_steal' is not defined

In [406]:
dd = df_steal[['undernourishment_rate_2014','pi_2014']].sort_values(by='undernourishment_rate_2014', ascending=True)
x = dd['pi_2014']
x = np.asarray(x)
x

NameError: name 'df_steal' is not defined

In [407]:
s = 'pi_2010'
s[-4:]

'2010'

In [408]:
 y_item = np.zeros((13,2))

In [409]:
y_item

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])